# 파이썬의 자료형(data type)
## 파이썬의 자료형은 동적으로 변화
* int: 정수(소숫점이 없는 숫자)
* float: 실수(소숫점이 있는 숫자)
* str: 문자/문자열
* list: 여러개의 자료가 순서대로 저장된 자료형, 모든 자료형을 넣어 만들 수 있음
* tuple: list와 비슷하나 한 번 만들면 수정이 안됨, 모든 자료형을 넣을 수 있음
* dictionary(dict): key : value 쌍으로 이루어진 자료형, 모든 자료형을 넣을 수 있음 
* set: 집합 자료형, 중복이 없는 자료를 만들 때, 모든 자료형을 넣을 수 있음, 중복 불가 {}안에 자료를 넣어서 만듬

# 데이터 타입을 출력하는 함수 type(변수)

# 정수형 변수(int)

In [1]:
a = 10
print(a)

10

In [2]:
print(type(a))

<class 'int'>

In [3]:
aa = "10"
print(aa)

10

In [4]:
print(type(aa))

<class 'str'>

In [6]:
aa = 10
print(aa, type(aa))

10 <class 'int'>

# 실수형 변수 float

In [7]:
b = 3.14
print(b, type(b))

3.14 <class 'float'>

# 정수형 변수 +, -, *, /  실수형 변수
* 정수형 변수(int)와 실수형 변수(float)를 연산하면 모두 실수(float)

In [9]:
print(a + b)
print(a - b)
print(a * b)
print(a / b)

13.14
6.859999999999999
31.400000000000002
3.184713375796178

* 정수변수 와 정수변수 연산

In [10]:
print(a, aa)

10 10

In [13]:
print(a + aa)
print(a - aa)
print(a * aa)
print(a / aa) # 정수 / 정수 = 실수

20
0
100
1.0

# 문자형 str

In [14]:
c = "문"
d = "자"
e = "문자열"

In [15]:
print(c, type(c))
print(d, type(d))
print(e, type(e))

문 <class 'str'>
자 <class 'str'>
문자열 <class 'str'>

화면이 좁아서 문자열을 잘라서 아래로 내리고 싶으면 \ 를 사용할 수 있다.

In [19]:
long_char = "화면이 좁아서 문자열을 잘라서 아래로 내리고 싶으면
 를 사용할 수 있다."

SyntaxError: unterminated string literal (detected at line 1) (716554294.py, line 1)

In [26]:
long_char = "화면이 좁아서 문자열을 잘라서 아래로 내리고 싶으면 \ 를 사용할 수 있다. \
화면이 좁아서 문자열을 잘라서 \
아래로 내리고 싶으면 \ 를\
사용할 수 있다."

In [25]:
print(long_char)

화면이 좁아서 문자열을 잘라서 아래로 내리고 싶으면 \ 를 사용할 수 있다. \ 화면이 좁아서 문자열을 잘라서 아래로 내리고 싶으면 \ 를 사용할 수 있다.

In [31]:
long_char2 = """따옴표 3개로 문자열을 묶으면 줄바꿈이 자동으로 된다.
그래서 \ 를 쓸 필요가 없다."""

In [32]:
print(long_char2)

따옴표 3개로 문자열을 묶으면 줄바꿈이 자동으로 된다.
그래서 \ 를 쓸 필요가 없다.

In [33]:
long_char2 #이스케이프 문자 \n가 있어서 가능

'따옴표 3개로 문자열을 묶으면 줄바꿈이 자동으로 된다.\n그래서 \\ 를 쓸 필요가 없다.'

# 문자 덧셈 + , 문자 반복 *

In [34]:
c

'문'

문자변수1 + 문자변수2 = 문자가 합쳐짐

In [35]:
d

'자'

문자나 문자열을 반복하고 싶을 때: 문자변수 * 숫자

In [36]:
c + d

'문자'

In [37]:
a + c

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [38]:
c - d

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [39]:
c * d

TypeError: can't multiply sequence by non-int of type 'str'

In [40]:
c / d

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [41]:
c * 2 #문자는 곱셈이 가능하다.

'문문'

In [43]:
(c + d)

'문자'

In [45]:
(c + d) * 3

'문자문자문자'

In [47]:
print("============================================================")
print("문자열의 덧셈과 곱셈")
print("============================================================")

============================================================
문자열의 덧셈과 곱셈
============================================================

In [49]:
print("=" * 30)
print("문자열의 덧셈과 곱셈")
print("=" * 30)

==============================
문자열의 덧셈과 곱셈
==============================

# 문자열은 순서가 있다.
# 가장 앞글자가 0번, 0번부터 순서대로 숫자가 증가

In [50]:
long_char

'화면이 좁아서 문자열을 잘라서 아래로 내리고 싶으면 \\ 를 사용할 수 있다. 화면이 좁아서 문자열을 잘라서 아래로 내리고 싶으면 \\ 를사용할 수 있다.'

길이를 재는 함수 len()

In [52]:
len(long_char)

84

In [55]:
long_char[3]

' '

In [58]:
print(long_char[3])

In [59]:
long_char[3]

' '

* 인덱싱: 변수명[인덱스번호] -> 번호 한 개만 지정
* 슬라이싱: 변수명[시작번호:끝번호+1] -> 범위로 가져올 수 있다.

In [60]:
print(long_char[0:4])

화면이

In [64]:
print(long_char[4:10])

좁아서 문자

In [66]:
print(long_char[4:-1])

좁아서 문자열을 잘라서 아래로 내리고 싶으면 \ 를 사용할 수 있다. 화면이 좁아서 문자열을 잘라서 아래로 내리고 싶으면 \ 를사용할 수 있다

In [70]:
print(long_char[:80])

화면이 좁아서 문자열을 잘라서 아래로 내리고 싶으면 \ 를 사용할 수 있다. 화면이 좁아서 문자열을 잘라서 아래로 내리고 싶으면 \ 를사용할 수

In [71]:
print(long_char[40:])

다. 화면이 좁아서 문자열을 잘라서 아래로 내리고 싶으면 \ 를사용할 수 있다.

In [72]:
print(long_char[40:-10])

다. 화면이 좁아서 문자열을 잘라서 아래로 내리고 싶으면 \

# 리스트  list
* 리스트는 [정수, 실수, 문자, 리스트, 튜플 , 디셔너리 ] 모두 넣을 수있다.
* 리스트는 여러 자료가 같이 나열된 형태이므로 순서가 있다.
* 인덱싱, 슬라이싱 가능
* 자료의 추가, 삭제가 가능하다.

In [85]:
l1 = [1,2.0, '삼', [1,2,3], (4,5,6), {"key":"value"}]
l1

[1, 2.0, '삼', [1, 2, 3], (4, 5, 6), {'key': 'value'}]

In [86]:
print(l1, type(l1))

[1, 2.0, '삼', [1, 2, 3], (4, 5, 6), {'key': 'value'}] <class 'list'>

# 리스트는 리스트 내의 자료형을 그대로 유지

In [90]:
# 어떤 자료형(type)인지 수시로 확인해 봐야한다. 
for item in l1:
    print(item, type(item))

1 <class 'int'>
2.0 <class 'float'>
삼 <class 'str'>
[1, 2, 3] <class 'list'>
(4, 5, 6) <class 'tuple'>
{'key': 'value'} <class 'dict'>

list는 순서가 있는 자료형

## 중첩리스트
* 리스트 안에 리스트가 있는 경우

In [94]:
ㅣ2 = [1,2,3, [4,5, [6,7,8, [9,10]]]]
ㅣ2

[1, 2, 3, [4, 5, [6, 7, 8, [9, 10]]]]

* 인덱싱으로 9를 출력하세요.

In [105]:
ㅣ2[3][2][3][0]

9

In [106]:
ㅣ2[3]

[4, 5, [6, 7, 8, [9, 10]]]

In [107]:
ㅣ2[3][2]

[6, 7, 8, [9, 10]]

In [108]:
ㅣ2[3][2][3]

[9, 10]

In [109]:
ㅣ2[3][2][3][0]

9

# Tuple 튜플 
* 여러가지 자료를 ()안에 넣어서 만드는 자료형
* 모든 data type을 자료로 받을 수 있다.
* 한 번 생성하면 수정이 되지 않는다.
* 튜플이 리스트 보다 코드 실행시 더 빠르다.

In [111]:
ㅣ3 = (1,2.0, '삼', [1,2,3], (4,5,6), {"key":"value"})
ㅣ3

(1, 2.0, '삼', [1, 2, 3], (4, 5, 6), {'key': 'value'})

In [113]:
print(l3, type(l3))

(1, 2.0, '삼', [1, 2, 3], (4, 5, 6), {'key': 'value'}) <class 'tuple'>

In [114]:
l3.append("튜플")

AttributeError: 'tuple' object has no attribute 'append'

In [115]:
ㅣ3[-1]

{'key': 'value'}

In [116]:
del l3[-1]

TypeError: 'tuple' object doesn't support item deletion

In [117]:
l3[2:4]

('삼', [1, 2, 3])

In [119]:
l3[3][1]

2

# 딕셔너리형(dict) JSON {"key" : "value"}
* key와 value로 이루어진 데이터형
* json 이라고 불리며 웹상에서 데이터를 주고 받을 때 주로 사용
* 딕셔너리의 value에는 모든 자료형이 올 수 있음
* 딕셔너리는 순서가 없는 자료형
* key를 호출하면 value가 출력됨

In [123]:
dic1 = {"이름" : "홍길동", "나이" : 33, "키" : 175.4, "가족" : ["둘리", "또치", "도우너"]}

{'이름': '홍길동', '나이': 33, '키': 175.4, '가족': ['둘리', '또치', '도우너']}

In [124]:
dic1["이름"]

'홍길동'

In [125]:
dic1["나이"]

33

In [126]:
dic1["키"]

175.4

In [131]:
dic1["가족"]

['둘리', '또치', '도우너']

* 도우너만 출력

In [128]:
dic1["가족"][0]

'둘리'

In [129]:
dic1["가족"][1]

'또치'

In [130]:
dic1["가족"][2]

'도우너'

In [136]:
dic2 = {"이름" : "홍길동", "나이" : 33, "키" : 175.4, 
        "가족" : [{"둘리": ["초능력", "공룡"]}, {"또치": ["달리기", "타조"]},
                {"도우너": ["음악", "외계인"]}]}

In [140]:
dic2['가족'][2]["도우너"][0]

'음악'

딕셔너리의 길이는 key의 갯수

In [142]:
# 가장 밖의 키의 갯수만 출력된다.
len(dic2)

4

딕셔너리에 자료추가

In [144]:
dic2["학교"] = "구름대학교"

In [145]:
dic2

{'이름': '홍길동',
 '나이': 33,
 '키': 175.4,
 '가족': [{'둘리': ['초능력', '공룡']}, {'또치': ['달리기', '타조']}, {'도우너': ['음악', '외계인']}],
 '학교': '구름대학교'}

In [146]:
dic2["전화번호"] = ["010-1111-2222", "02-222-3333"]

In [147]:
dic2

{'이름': '홍길동',
 '나이': 33,
 '키': 175.4,
 '가족': [{'둘리': ['초능력', '공룡']}, {'또치': ['달리기', '타조']}, {'도우너': ['음악', '외계인']}],
 '학교': '구름대학교',
 '전화번호': ['010-1111-2222', '02-222-3333']}

# 형변환 함수
* 형변환: data type 다른 data type으로 바꾸는 것

* 정수로 형변환 int()

In [ ]:
a = 3
b = "3"
print(a + b) # 형변환 함수를 이용해 일시적으로 정수로 변환

In [1]:
a = 3
b = "3"
print(a + int(b)) # 형변환 함수를 이용해 일시적으로 정수로 변환
print("a: ", type(a), "b: ", type(b))
print("a: ", type(a), "int(b):", type(int(b)))

6
a:  <class 'int'> b:  <class 'str'>
a:  <class 'int'> int(b): <class 'int'>

* 실수로 변환 float()

In [2]:
print(b, type(b))

3 <class 'str'>

In [3]:
# 3 + 3.0 = 6.0
a + float(b)

6.0

In [11]:
c = 4.7

In [12]:
a + c

7.7

In [13]:
int(a + c)

7

In [18]:
d = "3.4"

In [19]:
print(d, type(d))

3.4 <class 'str'>

In [22]:
# 실수 형태의 소숫점이 있는 문자는 float으로 변환해야 한다.
print(d, int(d))

ValueError: invalid literal for int() with base 10: '3.4'

* 문자열로 변환 str()

In [14]:
print(a, type(a))

3 <class 'int'>

In [15]:
print(str(a), type(str(a)))

3 <class 'str'>

In [16]:
str(a) + b # 문자와 문자가 합쳐져 문자열이 된다.

'33'

* 리스트 형변환 list()  
    *튜플 => 리스트로 변환

In [17]:
t = (1,2,3,4,5)
print(t, type(t))

(1, 2, 3, 4, 5) <class 'tuple'>

In [ ]:
l1 = list(t)

In [ ]:
l1.append(6)
print(l1)

* 튜플로 형변환 tuple()

In [ ]:
t2 = tuple(l1)
print(t2, type(t2))

In [ ]:
print(dic.keys()), type(dic)

# input() : 키보드 입력을 받는 함수
* input("화면에 표시될 메시지")
* 입력 받는 값은 " "으로 구분해서 여러개를 받을 수 있음
* 입력 받는 값은 모두 str 타입의 문자열

In [8]:
input_name = input("이름을 입력해 주세요: ")
print(input_name)

이름을 입력해 주세요: 홍길동
홍길동

input함수를 이용해서 숫자 2개를 입력받아 더한 후 출력하세요.

In [9]:
num1 = input("숫자 1을 입력해 주세요: ")
num2 = input("숫자 2를 입력해 주세요: ")
print("num1: ", num1, type(num1))
print("num1: ", num2, type(num2))
print("num1 + num2: ", int(num1) + int(num2)

SyntaxError: incomplete input (605905601.py, line 5)

In [7]:
print(nums, type(nums))

['12345'] <class 'list'>

* input().split() 으로 여러 데이터를 list 형태로 받기

In [13]:
nums = input("숫자를 5개 공백으로 구분해서 입력하세요: ").split()
print(nums, type(nums))
nums

숫자를 5개 공백으로 구분해서 입력하세요: 1 2 3 4 5
['1', '2', '3', '4', '5'] <class 'list'>

['1', '2', '3', '4', '5']

In [14]:
int(nums[0]) + int(nums[1]) + int(nums[2]) + int(nums[3]) + int(nums[4])

15