# 리스트와 튜플 사용하기 초급편

In [1]:
a = 1
b = 2
c = 3
d = 4
e = 5

In [2]:
l1 = [1,2,3,4,5]

## 리스트 만들기
* 대괄호 안에 자료를 나열해서 만듬
* 모든 자료형의 데이터를 넣을 수 있음
* 내용이 비어있는 빈 리스트도 생성 가능 []
* 자료가 1개만 있는 리스트도 생성 가능

In [3]:
l2 = []
l2

[]

In [4]:
print(l2, type(l2))

[] <class 'list'>

In [6]:
l3 = [1]
print(l3, type(l3))

[1] <class 'list'>

In [8]:
# 리스트 형변환 함수 list()
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## 숫자를 생성해주는 range()
* range(시작번호, 끝번호 +1, step)

In [9]:
list(range(1, 11, 2))

[1, 3, 5, 7, 9]

In [10]:
list(range(9, 0, -2))

[9, 7, 5, 3, 1]

## 리스트에 자료 추가하기 .append()
* 리스트 가장 마지막에 자료가 추가됨

In [11]:
l2

[]

In [12]:
l2.append(3)
l2

[3]

In [13]:
l2.append(3.0)
l2

[3, 3.0]

In [14]:
l2.append("append")
l2

[3, 3.0, 'append']

In [15]:
l2.append([1,2,3])
l2

[3, 3.0, 'append', [1, 2, 3]]

In [16]:
l2.append((4,5,6))
l2

[3, 3.0, 'append', [1, 2, 3], (4, 5, 6)]

## 특정 위치에 자료 추가 .insert()
* insert(추가할 위치의 인덱스, 추가할 값)

In [17]:
l2

[3, 3.0, 'append', [1, 2, 3], (4, 5, 6)]

In [18]:
l2.insert(0, 0)

In [19]:
l2

[0, 3, 3.0, 'append', [1, 2, 3], (4, 5, 6)]

In [20]:
l2.insert(0, "first")
l2

['first', 0, 3, 3.0, 'append', [1, 2, 3], (4, 5, 6)]

In [21]:
l2.insert(5, "middle")
l2

['first', 0, 3, 3.0, 'append', 'middle', [1, 2, 3], (4, 5, 6)]

## 리스트의 자료 삭제하기
* del 변수명[인덱스 번호]: 해당 인덱스 번호의 자료 삭제
* pop(): 리스트의 가장 끝 자료가 **출력**되면서 삭제됨.
* remove(값): 리스트의 앞부터 일치하는 값 1개를 찾아서 삭제(정수, 실수 구분 X)

In [22]:
l2

['first', 0, 3, 3.0, 'append', 'middle', [1, 2, 3], (4, 5, 6)]

In [23]:
del l2[7]

In [24]:
l2

['first', 0, 3, 3.0, 'append', 'middle', [1, 2, 3]]

In [25]:
l2.pop()

[1, 2, 3]

In [26]:
l2

['first', 0, 3, 3.0, 'append', 'middle']

In [27]:
l2.remove("append") # 일치하는 것 중 가장 앞에 것 부터 삭제된다.
l2

['first', 0, 3, 3.0, 'middle']

In [28]:
l2.remove(3.0) # 정수와 실수를 가리지 않는다. 3과 3.0중 앞에 있는 3이 먼저 삭제된다.
l2

['first', 0, 3.0, 'middle']

## 리스트 안에서 특정 자료의 위치를 찾을 때 index()

In [29]:
l2.insert(2, 3)
l2

['first', 0, 3, 3.0, 'middle']

In [30]:
l2.index(3.0)

2

In [31]:
l2.index("middle")

4

In [32]:
l2.find("middle") # find는 문자열에서만 사용할 수 있다.

AttributeError: 'list' object has no attribute 'find'

## 리스트 확장하기 .extend()
* 리스트에 자료를 추가하되 요소만 추가

In [38]:
a = [1,2,3]
b = [4,5,6]

In [35]:
# append를 쓸 경우 list가 그대로 추가됨
# a.append(b)
# a

[1, 2, 3, [4, 5, 6]]

In [37]:
a[3][0]

4

In [39]:
a.extend(b)
a

[1, 2, 3, 4, 5, 6]

## list + list == .extend()를 한 것과 동일

In [42]:
a + b # 재할당을 하지 않으면 적용이 안된다.

[1, 2, 3, 4, 5, 6, 4, 5, 6]

In [41]:
a

[1, 2, 3, 4, 5, 6]

## 리스트 안에서 원하는 값의 인덱스 찾기
* in, not in: 리스트 안에 찾는 요소가 있는지 확인 True/False
* .index(값): 찾는 자료의 첫번째 요소의 인덱스 출력
* .index(찾는값, 시작 인덱스 번호): 특정 위치 이후의 자료 인덱스 출력

In [43]:
c = a + b
c

[1, 2, 3, 4, 5, 6, 4, 5, 6]

In [44]:
5 in c

True

In [45]:
5 not in c

False

In [46]:
c.index(5)

4

In [47]:
# 두번째 5를 찾을 때
c.index(5,5)

7

In [50]:
c.append(a)

In [48]:
c.append(b)

In [51]:
c

[1, 2, 3, 4, 5, 6, 4, 5, 6, [4, 5, 6], [1, 2, 3, 4, 5, 6]]

In [55]:
c[10].insert(3,7)

In [56]:
c

[1, 2, 3, 4, 5, 6, 4, 5, 6, [4, 5, 6], [1, 2, 3, 7, 4, 5, 6]]

In [58]:
# 7의 인덱스 찾기 / list는 찾을 수 없다.
c.index(7)

ValueError: 7 is not in list

In [57]:
c[10].index(7)

3

In [60]:
len(c) # list를 1개로 취급한다.

11

# 특정 요소의 개수 세기 count(값)

In [61]:
c.count(5)

2

## 리스트 순서 뒤집기 .reverse()
* 실행 즉시 원본 데이터가 변경

In [62]:
c2 = c.copy()
c2

[1, 2, 3, 4, 5, 6, 4, 5, 6, [4, 5, 6], [1, 2, 3, 7, 4, 5, 6]]

In [63]:
c2.reverse()

In [64]:
c2

[[1, 2, 3, 7, 4, 5, 6], [4, 5, 6], 6, 5, 4, 6, 5, 4, 3, 2, 1]

## 역순 인덱싱으로 뒤집기 [::-1]

In [65]:
c[::-1]

[[1, 2, 3, 7, 4, 5, 6], [4, 5, 6], 6, 5, 4, 6, 5, 4, 3, 2, 1]

In [66]:
c

[1, 2, 3, 4, 5, 6, 4, 5, 6, [4, 5, 6], [1, 2, 3, 7, 4, 5, 6]]

## 리스트를 정렬 .sort() 오름차순, .sort(reverse=True) 내림차순
* 실행 즉시 원본 데잍터를 바꿈

In [68]:
a

[1, 2, 3, 7, 4, 5, 6]

In [69]:
a.sort()

In [70]:
a

[1, 2, 3, 4, 5, 6, 7]

In [71]:
a.sort(reverse=True)
a

[7, 6, 5, 4, 3, 2, 1]

In [72]:
d = [1,6,7,2,8,3,9,4]

# sorted(리스트) 오름차순, sorted(리스트, reverse=True) 내림차순

In [75]:
sorted(d) # 원본이 수정되지 않는다.

[1, 2, 3, 4, 6, 7, 8, 9]

In [74]:
d

[1, 6, 7, 2, 8, 3, 9, 4]

In [76]:
sorted(d, reverse=True)

[9, 8, 7, 6, 4, 3, 2, 1]

# 리스트의 값 바꾸기, 업데이트 하기
* 변수[바꿀 곳 인덱스] = 새로운 값

In [77]:
a

[7, 6, 5, 4, 3, 2, 1]

In [79]:
a[3] = "4"
a

[7, 6, 5, '4', 3, 2, 1]

In [80]:
a[4] = [1,2,3]
a

[7, 6, 5, '4', [1, 2, 3], 2, 1]

In [81]:
a[0:2] = 3,4,5

In [82]:
a

[3, 4, 5, 5, '4', [1, 2, 3], 2, 1]

In [83]:
a[0:2] = 3,4,5,6

In [84]:
a

[3, 4, 5, 6, 5, 5, '4', [1, 2, 3], 2, 1]

# 튜플 tuple
* 튜플도 리스트처럼 모든 자료형을 만들 수 있다.
* 순서가 있는 자료형, 인덱싱, 슬라이싱 가능
* 자료의 추가, 삭제가 안됨
* ()안에 자료를 넣어서 만든다.
* 자료 1개만 넣어서 만들 때는 반드시 (자료, ) 형식이어야 한다.
* 튜플 생성 시 자료가 2개 이상인 경우 () 생갹 가능
* 빈 튜플 생성가능

In [85]:
t = (1,2,3)
t

(1, 2, 3)

In [87]:
t2 = ()
print(t2, type(t2))

() <class 'tuple'>

In [88]:
t[0]

1

In [89]:
t[:2]

(1, 2)

In [90]:
t[::-1]

(3, 2, 1)

In [92]:
# sort는 요소를 변경하기 때문에 작동 안됨.
t.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [96]:
t = sorted(t, reverse=True)

In [97]:
t

[3, 2, 1]

In [98]:
t = tuple(t)
t

(3, 2, 1)

In [99]:
sorted(t) # 리스트로 바꾼다.

[1, 2, 3]

## 튜플 + 튜플 = 두개의 튜플 요소가 하나로 합쳐짐
* () 빈 튜플 + (1,3,5) = (1,3,5)

In [101]:
t3 = t2 + t

In [102]:
t3

(3, 2, 1)

In [104]:
t4 = t3 + t

In [105]:
t4

(3, 2, 1, 3, 2, 1)

In [106]:
t4 * 2

(3, 2, 1, 3, 2, 1, 3, 2, 1, 3, 2, 1)

# 시퀀스 객체의 특징
* 문자열, list, tuple
* 순서가 있는 자료형
* 인덱싱, 슬라이싱이 가능한 자료
* 반복문에 넣어서 자료를 하나씩 꺼내는 것이 가능
* 시퀀스 객체 + 시퀀스 객체 = 합쳐짐
* 시퀀스 객체 * 숫자 = 숫자만큼 반복 복사
* 객체 = 포장

In [107]:
s = "문자열"
l1 = [1,2,3]
l2 = [4,5,6]
t1 = (1,2,3)
t2 = (4,5,6)

In [108]:
s + s

'문자열문자열'

In [109]:
l1 + l2

[1, 2, 3, 4, 5, 6]

In [110]:
(l1 + l2) * 3

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

In [111]:
t1 + t2

(1, 2, 3, 4, 5, 6)

In [112]:
(t1 + t2) * 3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [113]:
((t1 + t2) * 3)[::-1]

(6, 5, 4, 3, 2, 1, 6, 5, 4, 3, 2, 1, 6, 5, 4, 3, 2, 1)

In [114]:
for item in s:
    print(item, end=" ")

문 자 열

In [115]:
for item in l1:
    print(item, end=" ")

1 2 3

In [134]:
for item in ((t1 + t2) * 3)[::-1]:
    print(item)

6
5
4
3
2
1
6
5
4
3
2
1
6
5
4
3
2
1

## 리스트, 튜플은 sum(), max(), min() 함수로 연산 가능

In [121]:
t1

(1, 2, 3)

In [124]:
sum(t1)

6

In [123]:
l2

[4, 5, 6]

In [127]:
max(l1)

3

In [128]:
min(l1)

1

In [131]:
# (t1 + t2) * 3 의 평균을 구하시오
t3 = (t1 + t2) * 3
t3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [132]:
sum(t3)

63

In [133]:
sum(t3) / len(t3)

3.5