# 하나은행 환율정보 수집하고 DB에 자동으로 저장하기_수집자동화

In [1]:
import requests
import pandas as pd
import time
from datetime import datetime

In [20]:
def exrate_get(ymd_dash, ymd):
    url="https://www.kebhana.com/cms/rate/wpfxd651_01i_01.do"
    payload = dict(ajax="true", tmpInqStrDt=ymd_dash, pbldDvCd="0", inqStrDt=ymd, inqKindCd="1", requestTarget="searchContentDiv")
    r = requests.get(url, params=payload)
    df = pd.read_html(r.text)[0]
    df.insert(0, '날짜', ymd_dash)
    return df

# 날짜 생성하기

In [21]:
result = []
for date in list(pd.date_range("2026-01-28", "2026-01-23", freq='-1B')):
#     print(date.strftime("%Y-%m-%d"), date.strftime("%Y%m%d"))
    ymd_dash, ymd = date.strftime("%Y-%m-%d"), date.strftime("%Y%m%d")
    print(ymd_dash, ymd)
    data = exrate_get(ymd_dash, ymd)
    result.append(data)
final_result = pd.concat(result)
final_result

2026-01-28 20260128

C:\Users\haram\AppData\Local\Temp\ipykernel_17736\1238542511.py:5: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(r.text)[0]

2026-01-27 20260127

C:\Users\haram\AppData\Local\Temp\ipykernel_17736\1238542511.py:5: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(r.text)[0]

2026-01-26 20260126

C:\Users\haram\AppData\Local\Temp\ipykernel_17736\1238542511.py:5: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(r.text)[0]

2026-01-23 20260123

C:\Users\haram\AppData\Local\Temp\ipykernel_17736\1238542511.py:5: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(r.text)[0]

            날짜            통화       현찰                              송금  \
                          통화     사실 때            파실 때            보낼 때
                          통화       환율 Spread       환율 Spread     보낼 때
0   2026-01-28        미국 USD  1458.58   1.75  1408.42   1.75  1447.50
1   2026-01-28  일본 JPY (100)   950.90   1.75   918.20   1.75   943.70
2   2026-01-28        유로 EUR  1747.99   1.99  1679.79   1.99  1731.02
3   2026-01-28        중국 CNY   216.77   5.00   196.13   5.00   208.51
4   2026-01-28        홍콩 HKD   187.35   1.97   180.13   1.97   185.57
..         ...           ...      ...    ...      ...    ...      ...
53  2026-01-23       리비아 LYD     0.00   0.00     0.00   0.00   231.46
54  2026-01-23      루마니아 RON     0.00   0.00     0.00   0.00   341.48
55  2026-01-23       미얀마 MMK     0.00   0.00     0.00   0.00     0.69
56  2026-01-23     에티오피아 ETB     0.00   0.00     0.00   0.00     9.42
57  2026-01-23    우즈베키스탄 UZS     0.00   0.00     0.00   0.00     0.12

            외화 수표 파실때   매매 기준율     환가 료율  미화 환산율
       받을 때 외화 수표 파실때   매매 기준율     환가 료율  미화 환산율
       받을 때 외화 수표 파실때   매매 기준율     환가 료율  미화 환산율
0   1419.50   1417.31  1433.50   5.52434  1.0000
1    925.40    924.75   934.55   2.83136  0.6519
2   1696.76   1694.90  1713.89   3.91400  1.1956
3    204.39      0.00   206.45   3.79947  0.1440
4    181.91    181.69   183.74   4.92233  0.1282
..      ...       ...      ...       ...     ...
53   225.98      0.00   228.72   2.97500  0.1572
54   334.06      0.00   337.77   7.78300  0.2321
55     0.69      0.00     0.69   1.97500  0.0005
56     9.20      0.00     9.31   2.97500  0.0064
57     0.12      0.00     0.12  17.47500  0.0001

[232 rows x 12 columns]

In [22]:
final_result.columns

MultiIndex([(       '날짜',          '',          ''),
            (       '통화',        '통화',        '통화'),
            (       '현찰',      '사실 때',        '환율'),
            (       '현찰',      '사실 때',    'Spread'),
            (       '현찰',      '파실 때',        '환율'),
            (       '현찰',      '파실 때',    'Spread'),
            (       '송금',      '보낼 때',      '보낼 때'),
            (       '송금',      '받을 때',      '받을 때'),
            ('외화 수표 파실때', '외화 수표 파실때', '외화 수표 파실때'),
            (   '매매 기준율',    '매매 기준율',    '매매 기준율'),
            (    '환가 료율',     '환가 료율',     '환가 료율'),
            (   '미화 환산율',    '미화 환산율',    '미화 환산율')],
           )

In [23]:
final_result[final_result[(       '통화',        '통화',        '통화')] == '미국 USD']

           날짜      통화       현찰                             송금          \
                   통화     사실 때            파실 때           보낼 때    받을 때
                   통화       환율 Spread       환율 Spread    보낼 때    받을 때
0  2026-01-28  미국 USD  1458.58   1.75  1408.42   1.75  1447.5  1419.5
0  2026-01-27  미국 USD  1460.62   1.75  1410.38   1.75  1449.5  1421.5
0  2026-01-26  미국 USD  1473.34   1.75  1422.66   1.75  1462.1  1433.9
0  2026-01-23  미국 USD  1480.76   1.75  1429.84   1.75  1469.5  1441.1

  외화 수표 파실때  매매 기준율    환가 료율 미화 환산율
  외화 수표 파실때  매매 기준율    환가 료율 미화 환산율
  외화 수표 파실때  매매 기준율    환가 료율 미화 환산율
0   1417.31  1433.5  5.52434    1.0
0   1419.30  1435.5  5.52417    1.0
0   1431.68  1448.0  5.52140    1.0
0   1438.87  1455.3  5.52259    1.0

# 멀티인덱스 컬럼명 단순화하기
* 0 != 1 == 2
* 0 != 1 != 2
* 0 == 1 == 2

In [46]:
def flatten_cols(df):
    new_cols = {}
    for col in df.columns:

        if col[0] != col[1] == col[2]:
            if col[1] == "":
                new_cols[col] = col[0]
            else:
                new_cols[col] = col[0] + "_" + col[1].replace(" ", "_")
        elif col[0] != col[1] != col[2]:
            new_cols[col] = " ".join(col).replace(" ", "_")
        else:
            new_cols[col] = col[0].replace(" ", "_")

    return new_cols

In [48]:
new_cols_dict = flatten_cols(final_result)

In [52]:
new_cols = [new_cols_dict[col] for col in final_result]
new_cols

['날짜',
 '통화',
 '현찰_사실_때_환율',
 '현찰_사실_때_Spread',
 '현찰_파실_때_환율',
 '현찰_파실_때_Spread',
 '송금_보낼_때',
 '송금_받을_때',
 '외화_수표_파실때',
 '매매_기준율',
 '환가_료율',
 '미화_환산율']

In [54]:
final_result.columns = new_cols
final_result

,날짜,통화,현찰_사실_때_환율,현찰_사실_때_Spread,현찰_파실_때_환율,현찰_파실_때_Spread,송금_보낼_때,송금_받을_때,외화_수표_파실때,매매_기준율,환가_료율,미화_환산율
0,2026-01-28,미국 USD,1458.58,1.75,1408.42,1.75,1447.50,1419.50,1417.31,1433.50,5.52434,1.0000
1,2026-01-28,일본 JPY (100),950.90,1.75,918.20,1.75,943.70,925.40,924.75,934.55,2.83136,0.6519
2,2026-01-28,유로 EUR,1747.99,1.99,1679.79,1.99,1731.02,1696.76,1694.90,1713.89,3.91400,1.1956
3,2026-01-28,중국 CNY,216.77,5.00,196.13,5.00,208.51,204.39,0.00,206.45,3.79947,0.1440
4,2026-01-28,홍콩 HKD,187.35,1.97,180.13,1.97,185.57,181.91,181.69,183.74,4.92233,0.1282
...,...,...,...,...,...,...,...,...,...,...,...,...
53,2026-01-23,리비아 LYD,0.00,0.00,0.00,0.00,231.46,225.98,0.00,228.72,2.97500,0.1572
54,2026-01-23,루마니아 RON,0.00,0.00,0.00,0.00,341.48,334.06,0.00,337.77,7.78300,0.2321
55,2026-01-23,미얀마 MMK,0.00,0.00,0.00,0.00,0.69,0.69,0.00,0.69,1.97500,0.0005
56,2026-01-23,에티오피아 ETB,0.00,0.00,0.00,0.00,9.42,9.20,0.00,9.31,2.97500,0.0064
57,2026-01-23,우즈베키스탄 UZS,0.00,0.00,0.00,0.00,0.12,0.12,0.00,0.12,17.47500,0.0001

# 날짜 데이터 생성 후 데이터 수집하고 column명 변환해서 DB에 저장하기

In [5]:
from io import StringIO
import requests
import pandas as pd
import time
from datetime import datetime
from dbio import to_db

In [2]:
# 하나은행 환율 수집 함수
def exrate_get(ymd_dash, ymd):
    url="https://www.kebhana.com/cms/rate/wpfxd651_01i_01.do"
    payload = dict(ajax="true", tmpInqStrDt=ymd_dash, pbldDvCd="0", inqStrDt=ymd, inqKindCd="1", requestTarget="searchContentDiv")
    r = requests.get(url, params=payload)
    df = pd.read_html(StringIO(r.text))[0]
    df.insert(0, '날짜', ymd_dash)
    return df

In [3]:
# 컬럼명 평탄화하기
def flatten_cols(df):
    new_cols = {}
    for col in df.columns:

        if col[0] != col[1] == col[2]:
            if col[1] == "":
                new_cols[col] = col[0]
            else:
                new_cols[col] = col[0] + "_" + col[1].replace(" ", "_")
        elif col[0] != col[1] != col[2]:
            new_cols[col] = " ".join(col).replace(" ", "_")
        else:
            new_cols[col] = col[0].replace(" ", "_")

    return new_cols

# 날짜 생성하고 데이터 수집하기

In [6]:
result = []
for date in list(pd.date_range("2026-01-28", "2026-01-23", freq='-1B')):
    ymd_dash, ymd = date.strftime("%Y-%m-%d"), date.strftime("%Y%m%d")
    data = exrate_get(ymd_dash, ymd)
    result.append(data)
    
final_result = pd.concat(result)

# 수집된 데이터프레임 컬럼명 평탄화하기
new_cols_dict = flatten_cols(final_result)
new_cols = [new_cols_dict[col] for col in final_result]
final_result.columns = new_cols
final_result

# dbio 함수로 결과 DB에 저장하기
to_db("exchange_rage_data", "exchage_rate", final_result)

exchange_rage_data 데이터베이스 확인/생성 완료
exchange_rage_data.exchage_rate 데이터 저장 완료(append)

# 1일 데이터 수집 후 바로 DB 저장하기

In [7]:
for date in list(pd.date_range("2026-01-28", "2026-01-23", freq='-1B')):
    ymd_dash, ymd = date.strftime("%Y-%m-%d"), date.strftime("%Y%m%d")
    data = exrate_get(ymd_dash, ymd)

    # 수집된 데이터프레임 컬럼명 평탄화하기
    new_cols_dict = flatten_cols(data)
    new_cols = [new_cols_dict[col] for col in data]
    data.columns = new_cols
    # dbio 함수로 결과 DB에 저장하기
    to_db("exchange_rage_data", "exchage_rate", data)
    time.sleep(2)

exchange_rage_data 데이터베이스 확인/생성 완료
exchange_rage_data.exchage_rate 데이터 저장 완료(append)
exchange_rage_data 데이터베이스 확인/생성 완료
exchange_rage_data.exchage_rate 데이터 저장 완료(append)
exchange_rage_data 데이터베이스 확인/생성 완료
exchange_rage_data.exchage_rate 데이터 저장 완료(append)
exchange_rage_data 데이터베이스 확인/생성 완료
exchange_rage_data.exchage_rate 데이터 저장 완료(append)

# 오늘 날짜 환율 정보 수집하고 DB 저장하기

In [1]:
from io import StringIO
import requests
import pandas as pd
import time
from datetime import datetime
from dbio import to_db

In [2]:
# 하나은행 환율 수집 함수
def exrate_get(ymd_dash, ymd):
    url="https://www.kebhana.com/cms/rate/wpfxd651_01i_01.do"
    payload = dict(ajax="true", tmpInqStrDt=ymd_dash, pbldDvCd="0", inqStrDt=ymd, inqKindCd="1", requestTarget="searchContentDiv")
    r = requests.get(url, params=payload)
    df = pd.read_html(StringIO(r.text))[0]
    df.insert(0, '날짜', ymd_dash)
    return df

In [3]:
# 컬럼명 평탄화하기
def flatten_cols(df):
    new_cols = {}
    for col in df.columns:

        if col[0] != col[1] == col[2]:
            if col[1] == "":
                new_cols[col] = col[0]
            else:
                new_cols[col] = col[0] + "_" + col[1].replace(" ", "_")
        elif col[0] != col[1] != col[2]:
            new_cols[col] = " ".join(col).replace(" ", "_")
        else:
            new_cols[col] = col[0].replace(" ", "_")

    return new_cols

# 오늘 날짜로 데이터 수집하기

In [12]:
def t_day():
    today = datetime.today()
    date = today.date()
    ymd_dash, ymd = date.strftime("%Y-%m-%d"), date.strftime("%Y%m%d")
    return ymd_dash, ymd

In [23]:
# t_day() 함수로 오늘 날짜 만들 후 데이터 수집
# data = exrate_get(*t_day())
ymd_dash, ymd = t_day()
data = exrate_get(ymd_dash, ymd)

# 수집된 데이터프레임 컬럼명 평탄화하기
new_cols_dict = flatten_cols(data)
new_cols = [new_cols_dict[col] for col in data]
data.columns = new_cols
# dbio 함수로 결과 DB에 저장하기
to_db("exchange_rage_data", "exchage_rate", data)
print(f"{ymd_dash} 환율 데이터 수집 및 저장 완료")

exchange_rage_data 데이터베이스 확인/생성 완료
exchange_rage_data.exchage_rate 데이터 저장 완료(append)
2026-01-29 환율 데이터 수집 및 저장 완료