# 파이썬의 자료형(data type)
## 파이썬의 자료형은 동적으로 변화
* int: 정수(소숫점이 없는 숫자)
* float: 실수(소숫점이 있는 숫자)
* str: 문자/문자열
* list: 여러개의 자료가 순서대로 저장된 자료형, 모든 자료형을 넣어 만들 수 있음
* tuple: list와 비슷하나 한 번 만들면 수정이 안됨, 모든 자료형을 넣을 수 있음
* dictionary(dict): key : value 쌍으로 이루어진 자료형, 모든 자료형을 넣을 수 있음 
* set: 집합 자료형, 중복이 없는 자료를 만들 때, 모든 자료형을 넣을 수 있음, 중복 불가 {} 안에 자료를 넣어서 만듬

# 데이터 타입을 출력하는 함수 type(변수)

# 정수형 변수(int)

In [1]:
a = 10
print(a)

10

In [2]:
print(type(a))

<class 'int'>

In [3]:
type(a)

int

In [4]:
aa = "10"
print(aa)

10

In [5]:
print(type(aa))

<class 'str'>

In [6]:
aa = 10
print(aa, type(aa))

10 <class 'int'>

# 실수형 변수 float

In [7]:
b = 3.14
print(b, type(b))

3.14 <class 'float'>

# 정수형 변수 +, -, *, /  실수형 변수
* 정수형 변수(int)와 실수형 변수(float)를 연산하면 모두 실수(float)

In [9]:
print(a, b)
print(a + b)
print(a - b)
print(a * b)
print(a / b)

10 3.14
13.14
6.859999999999999
31.400000000000002
3.184713375796178

* 정수변수 와 정수변수 연산

In [10]:
print(a, aa)

10 10

In [11]:
print(a + aa)
print(a - aa)
print(a * aa)
print(a / aa) # 정수 / 정수 = 실수

20
0
100
1.0

# 문자형 str

In [12]:
c = "문"
d = "자"
e = "문자열"

In [13]:
print(c, type(c))
print(d, type(d))
print(e, type(e))

문 <class 'str'>
자 <class 'str'>
문자열 <class 'str'>

화면이 좁아서 문자열을 잘라서 아래로 내리고 싶으면 \ 를 사용할 수 있다.

In [14]:
long_char = "화면이 좁아서 문자열을 잘라서 아래로 내리고 싶으면 를 사용할 수 있다.
화면이 좁아서 문자열을 잘라서 아래로 내리고 싶으면 를 사용할 수 있다."

SyntaxError: unterminated string literal (detected at line 1) (1024925338.py, line 1)

In [16]:
long_char = "화면이 좁아서 문자열을 잘라서 아래로 내리고 싶으면 \ 를 사용할 수 있다. \
화면이 좁아서 문자열을 잘라서 \
아래로 내리고 싶으면 를 \
사용할 수 있다."

In [17]:
print(long_char)

화면이 좁아서 문자열을 잘라서 아래로 내리고 싶으면 \ 를 사용할 수 있다. 화면이 좁아서 문자열을 잘라서 아래로 내리고 싶으면 를 사용할 수 있다.

In [19]:
long_char2 = """따옴표 3개로 문자열을 묶으면 줄바꿈이
자동으로 된다.
그래서 \ 를 쓸 필요가 없다."""

In [20]:
print(long_char2)

따옴표 3개로 문자열을 묶으면 줄바꿈이
자동으로 된다.
그래서 \ 를 쓸 필요가 없다.

In [21]:
long_char2

'따옴표 3개로 문자열을 묶으면 줄바꿈이\n자동으로 된다.\n그래서 \\ 를 쓸 필요가 없다.'

# 문자 덧셈 + , 문자 반복 *

In [22]:
c

'문'

In [23]:
d

'자'

In [24]:
c + d

'문자'

In [25]:
a + c

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [26]:
c - d

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [27]:
c * d

TypeError: can't multiply sequence by non-int of type 'str'

In [28]:
c / d

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [30]:
c * 10

'문문문문문문문문문문'

문자변수1 + 문자변수2 = 문자가 합쳐짐

In [33]:
c + d

'문자'

문자나 문자열을 반복하고 싶을 때: 문자변수 * 숫자

In [31]:
(c + d + " ") * 3

'문자 문자 문자 '

In [36]:
print("==============================================================")
print("문자열의 덧셈과 곱셈")
print("==============================================================")

==============================================================
문자열의 덧셈과 곱셈
==============================================================

In [37]:
print("=" * 30)
print("문자열의 덧셈과 곱셈")
print("=" * 30)

==============================
문자열의 덧셈과 곱셈
==============================

# 문자열은 순서가 있다.
# 가장 앞글자가 0번, 0번부터 순서대로 숫자가 증가

In [33]:
long_char

'화면이 좁아서 문자열을 잘라서 아래로 내리고 싶으면 \\ 를 사용할 수 있다. 화면이 좁아서 문자열을 잘라서 아래로 내리고 싶으면 를 사용할 수 있다.'

길이를 재는 함수 len()

In [34]:
len(long_char)

83

In [38]:
long_char[50]

' '

* 인덱싱: 변수명[인덱스번호]
* 슬라이싱: 변수명[시작번호:끝번호+1]

In [50]:
print(long_char[4])

좁

In [51]:
long_char[3]

' '

In [39]:
long_char

'화면이 좁아서 문자열을 잘라서 아래로 내리고 싶으면 \\ 를 사용할 수 있다. 화면이 좁아서 문자열을 잘라서 아래로 내리고 싶으면 를 사용할 수 있다.'

In [52]:
print(long_char[0:4])

화면이

In [53]:
print(long_char[4:10])

좁아서 문자

In [41]:
print(long_char[50:-1])

 문자열을 잘라서 아래로 내리고 싶으면 를 사용할 수 있다

In [42]:
print(long_char[-10:-1])

 사용할 수 있다

In [56]:
print(long_char[:80])

화면이 좁아서 문자열을 잘라서 아래로 내리고 싶으면 \ 를 사용할 수 있다. 화면이 좁아서 문자열을 잘라서 아래로 내리고 싶으면 를 사용할 수

In [57]:
print(long_char[40:])

다. 화면이 좁아서 문자열을 잘라서 아래로 내리고 싶으면 를 사용할 수 있다.

In [58]:
print(long_char[40:-10])

다. 화면이 좁아서 문자열을 잘라서 아래로 내리고 싶으면 를

# 리스트  list
* 리스트는 [정수, 실수, 문자, 리스트, 튜플 , 딕셔너리 ] 모두 넣을 수있다.
* 리스트는 여러 자료가 같이 나열된 형태이므로 순서가 있다.
* 인덱싱, 슬라이싱 가능
* 자료의 추가, 삭제가 가능하다.

In [44]:
l1 = [1, 2.0, '삼', [1,2,3], (4,5,6), {"key":"value"}]
l1

[1, 2.0, '삼', [1, 2, 3], (4, 5, 6), {'key': 'value'}]

In [45]:
print(l1, type(l1))

[1, 2.0, '삼', [1, 2, 3], (4, 5, 6), {'key': 'value'}] <class 'list'>

In [46]:
l1[3]

[1, 2, 3]

In [67]:
l1[:4]

[1, 2.0, '삼', [1, 2, 3]]

In [68]:
l1[2:5]

['삼', [1, 2, 3], (4, 5, 6)]

list는 순서가 있는 자료형

In [47]:
l1.append("리스트 자료형")

In [48]:
l1

[1, 2.0, '삼', [1, 2, 3], (4, 5, 6), {'key': 'value'}, '리스트 자료형']

In [49]:
l1.append([7,8,9])

In [51]:
l1.append(l1)

In [52]:
l1

[1,
 2.0,
 '삼',
 [1, 2, 3],
 (4, 5, 6),
 {'key': 'value'},
 '리스트 자료형',
 [7, 8, 9],
 [...]]

In [53]:
len(l1)

9

In [54]:
l1[8]

[1,
 2.0,
 '삼',
 [1, 2, 3],
 (4, 5, 6),
 {'key': 'value'},
 '리스트 자료형',
 [7, 8, 9],
 [...]]

In [55]:
l1[6]

'리스트 자료형'

In [56]:
del l1[6]

In [58]:
len(l1)

8

In [59]:
del l1[7]

In [60]:
l1

[1, 2.0, '삼', [1, 2, 3], (4, 5, 6), {'key': 'value'}, [7, 8, 9]]

# 리스트는 리스트 내의 자료형을 그대로 유지

In [62]:
print(l1, type(l1))

[1, 2.0, '삼', [1, 2, 3], (4, 5, 6), {'key': 'value'}, [7, 8, 9]] <class 'list'>

In [63]:
print(l1[0], type(l1[0]))

1 <class 'int'>

In [64]:
print(l1[1], type(l1[1]))

2.0 <class 'float'>

In [65]:
print(l1[2], type(l1[2]))

삼 <class 'str'>

In [66]:
print(l1[3], type(l1[3]))

[1, 2, 3] <class 'list'>

In [68]:
for item in l1:
    print(item, type(item))
    if type(item) == "list":
        item.append(1)

1 <class 'int'>
2.0 <class 'float'>
삼 <class 'str'>
[1, 2, 3] <class 'list'>
(4, 5, 6) <class 'tuple'>
{'key': 'value'} <class 'dict'>
[7, 8, 9] <class 'list'>

## 중첩리스트
* 리스트 안에 리스트가 있는 경우

In [69]:
l2 = [1,2,3, [4,5, [6,7,8, [9,10]]]]
l2

[1, 2, 3, [4, 5, [6, 7, 8, [9, 10]]]]

In [70]:
len(l2)

4

In [73]:
print(l2[3], len(l2[3]))

[4, 5, [6, 7, 8, [9, 10]]] 3

*  인덱싱으로 9를 출력하세요

In [74]:
l2

[1, 2, 3, [4, 5, [6, 7, 8, [9, 10]]]]

In [75]:
l2[3]

[4, 5, [6, 7, 8, [9, 10]]]

In [77]:
l2[3][2]

[6, 7, 8, [9, 10]]

In [78]:
l2[3][2][3]

[9, 10]

In [79]:
l2[3][2][3][0]

9

In [88]:
l2[3][2][3][0]

9

In [89]:
l2[3]

[4, 5, [6, 7, 8, [9, 10]]]

In [96]:
l2[3][2][2:]

[8, [9, 10]]

In [91]:
l2[3][2][3]

[9, 10]

In [92]:
l2[3][2][3][0]

9

# Tuple 튜플 
* 여러가지 자료를 ()안에 넣어서 만드는 자료형
* 모든 data type을 자료로 받을 수 있다.
* 한 번 생성하면 수정이 되지 않는다.
* 튜플이 리스트 보다 코드 실행시 더 빠르다.

In [81]:
l3 = (1, 2.0, '삼', [1,2,3], (4,5,6), {"key":"value"})
l3

(1, 2.0, '삼', [1, 2, 3], (4, 5, 6), {'key': 'value'})

In [82]:
print(l3, type(l3))

(1, 2.0, '삼', [1, 2, 3], (4, 5, 6), {'key': 'value'}) <class 'tuple'>

In [83]:
l3.append("튜플")

AttributeError: 'tuple' object has no attribute 'append'

In [84]:
l3[-1]

{'key': 'value'}

In [85]:
l3[2:4]

('삼', [1, 2, 3])

In [86]:
del l3[-1]

TypeError: 'tuple' object doesn't support item deletion

In [102]:
l3[2:4]

('삼', [1, 2, 3])

In [104]:
l3[3][1]

2

중첩튜플

In [87]:
t3 = (1,2,3, (4,5, (6,7,8, (9,10))))
t3

(1, 2, 3, (4, 5, (6, 7, 8, (9, 10))))

In [91]:
t3[3][2][3][1]

10

# 딕셔너리형(dict) JSON {"key" : "value"}
* key와 value로 이루어진 데이터형
* json 이라고 불리며 웹상에서 데이터를 주고 받을 때 주로 사용
* 딕셔너리의 value에는 모든 자료형이 올 수 있음
* 딕셔너리는 순서가 없는 자료형
* key를 호출하면 value가 출력됨

In [92]:
dic1 = {"이름" : "홍길동", "나이" : 33, "키" : 175.4, 
        "가족" : ["둘리", "또치", "도우너"]}

In [106]:
dic1["이름"]

'홍길동'

In [107]:
dic1["나이"]

33

In [108]:
dic1["키"]

175.4

In [109]:
dic1["가족"]

['둘리', '또치', '도우너']

* 도우너만 출력

In [110]:
dic1["가족"][2]

'도우너'

In [106]:
dic2 = {"이름" : "홍길동", "나이" : 33, "키" : 175.4, 
        "가족" : [{"둘리": ["초능력", "공룡"]}, {"또치": ["달리기", "타조"]},
                  {"도우너" : ['음악', '외계인']}]}

도우너의 능력을 찾아 출력하세요

In [104]:
dic2['가족'][2]['도우너'][0]

'음악'

In [118]:
dic2['가족'][2]["도우너"][0]

'음악'

딕셔너리의 길이는 key의 갯수

In [107]:
dic2

{'이름': '홍길동',
 '나이': 33,
 '키': 175.4,
 '가족': [{'둘리': ['초능력', '공룡']}, {'또치': ['달리기', '타조']}, {'도우너': ['음악', '외계인']}]}

In [108]:
len(dic2)

4

In [110]:
dic2['가족']

[{'둘리': ['초능력', '공룡']}, {'또치': ['달리기', '타조']}, {'도우너': ['음악', '외계인']}]

In [109]:
len(dic2['가족'])

3

In [111]:
dic2['가족'][0]

{'둘리': ['초능력', '공룡']}

In [112]:
len(dic2['가족'][0])

1

In [113]:
dic2['가족'][0]['둘리']

['초능력', '공룡']

In [114]:
len(dic2['가족'][0]['둘리'])

2

딕셔너리에 자료추가

In [115]:
dic2['학교'] = "구름대학교"

In [116]:
dic2

{'이름': '홍길동',
 '나이': 33,
 '키': 175.4,
 '가족': [{'둘리': ['초능력', '공룡']}, {'또치': ['달리기', '타조']}, {'도우너': ['음악', '외계인']}],
 '학교': '구름대학교'}

In [117]:
dic2['전화번호'] = ["010-1111-2222", "02-222-3333"]

In [118]:
dic2

{'이름': '홍길동',
 '나이': 33,
 '키': 175.4,
 '가족': [{'둘리': ['초능력', '공룡']}, {'또치': ['달리기', '타조']}, {'도우너': ['음악', '외계인']}],
 '학교': '구름대학교',
 '전화번호': ['010-1111-2222', '02-222-3333']}

In [119]:
del dic2['학교']
dic2

{'이름': '홍길동',
 '나이': 33,
 '키': 175.4,
 '가족': [{'둘리': ['초능력', '공룡']}, {'또치': ['달리기', '타조']}, {'도우너': ['음악', '외계인']}],
 '전화번호': ['010-1111-2222', '02-222-3333']}

# 형변환 함수
* 형변환: data type 다른 data type으로 바꾸는 것

* 정수로 형변환 int()

In [120]:
a = 3
b = "3" 
print(a + b) # 숫자 + 문자 이기 때문에 오류

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [121]:
a = 3
b = "3" 
print(a + int(b)) # 형변환 함수를 이용해 일시적으로 정수로 변환
print("a: ", type(a), "b: ", type(b))
print("a: ",type(a), "int(b): ",type(int(b)))

6
a:  <class 'int'> b:  <class 'str'>
a:  <class 'int'> int(b):  <class 'int'>

* 실수로 변환 float()

In [122]:
print(b, type(b))

3 <class 'str'>

In [123]:
# 3 + 3.0 = 6.0
a + float(b)

6.0

In [132]:
c = 4.7

In [133]:
a + c

7.7

In [134]:
int(a + c)

7

In [168]:
d = "3.4"

In [170]:
print(d, type(d))

3.4 <class 'str'>

In [173]:
# 실수 형태의 소숫점이 있는 문자는 float으로 변환해야 한다.
print(d, int(d))

ValueError: invalid literal for int() with base 10: '3.4'

* 문자열로 변환 str()

In [137]:
print(a, type(a))

3 <class 'int'>

In [138]:
print(str(a), type(str(a)))

3 <class 'str'>

In [141]:
str(a) + b

'33'

* 리스트 형변환 list()
  * 튜플 => 리스트로 변환

In [144]:
t = (1,2,3,4,5)
print(t, type(t))

(1, 2, 3, 4, 5) <class 'tuple'>

In [146]:
l1 = list(t)
print(l1, type(l1))

[1, 2, 3, 4, 5] <class 'list'>

In [147]:
l1.append(6)
print(l1)

[1, 2, 3, 4, 5, 6]

* 튜플로 형변환 tuple()

In [148]:
t2 = tuple(l1)
print(t2, type(t2))

(1, 2, 3, 4, 5, 6) <class 'tuple'>

In [161]:
print(dic2.keys(), type(dic2.keys()))
print(dic2.keys(), type(list(dic2.keys())))
print(dic2.keys(), type(tuple(dic2.keys())))

dict_keys(['이름', '나이', '키', '가족', '전화번호']) <class 'dict_keys'>
dict_keys(['이름', '나이', '키', '가족', '전화번호']) <class 'list'>
dict_keys(['이름', '나이', '키', '가족', '전화번호']) <class 'tuple'>

In [160]:
dic2.keys()[0]

TypeError: 'dict_keys' object is not subscriptable

In [159]:
list(dic2.keys())[0:3]

['이름', '나이', '키']

In [162]:
tuple(dic2.keys())[0]

'이름'

In [163]:
tuple(dic2.keys())[0:2]

('이름', '나이')

In [165]:
print(dic2.items(), type(dic2.items()))

dict_items([('이름', '홍길동'), ('나이', 33), ('키', 175.4), ('가족', [{'둘리': ['초능력', '공룡']}, {'또치': ['달리기', '타조']}, {'도우너': ['음악', '외계인']}]), ('전화번호', ['010-1111-2222', '02-222-3333'])]) <class 'dict_items'>

In [167]:
list(dic2.items())[0]

('이름', '홍길동')

# input() : 키보드 입력을 받는 함수
* input("화면에 표시될 메시지")
* 입력 받는 값은 " "으로 구분해서 여러개를 받을 수 있음
* 입력 받는 값은 모두 str 타입의 문자열

In [174]:
input_name = input("이름을 입력해 주세요: ")
print(input_name)

이름을 입력해 주세요: 김구름
김구름

input함수를 이용해서 숫자 2개를 입력받아 더한 후 출력하세요.

In [177]:
num1 = input("숫자 1을 입력해 주세요: ")
num2 = input("숫자 2를 입력해 주세요: ")
print("num1: ", num1, type(num1))
print("num2: ", num2, type(num2))
print("num1 + num2: ", int(num1) + int(num2))

숫자 1을 입력해 주세요: 3
숫자 2를 입력해 주세요: 5
num1:  3 <class 'str'>
num2:  5 <class 'str'>
num1 + num2:  8

* input().split() 으로 여러 데이터를 list 형태로 받기

숫자 5개를 입력받고 합을 구하시오

In [180]:
nums = input("숫자를 5개 공백으로 구분해서 입력하세요: ").split()
print(nums, type(nums))
nums

숫자를 5개 공백으로 구분해서 입력하세요: 1 2 3 4 5
['1', '2', '3', '4', '5'] <class 'list'>

['1', '2', '3', '4', '5']

In [183]:
int(nums[0]) + int(nums[1]) + int(nums[2]) + int(nums[3]) + int(nums[4])

15

In [184]:
"숫자를 5개 공백으로 구분해서 입력하세요: ".split()

['숫자를', '5개', '공백으로', '구분해서', '입력하세요:']