# 함수 만들기
* print(), split(), join() => 함수
* 함수의 괄호 안에 값을 넣으면 출력해주거나 입력을 받거나 변환을 해 줌
* 어떤 기능을 하는 도구
* function => 기능
* 자주 사용하는 기능을 미리 만들어서 **반복 재사용** 할 수 있게 만든 것

In [1]:
# 리스트의 자료에 10을 곱해서 다시 리스트로 출력하세요.
l1 = [1,2,3,4,5]

result = []
for num in l1:
    result.append(num*10)
result

[10, 20, 30, 40, 50]

In [2]:
l2 = list(range(1,30))

result2 = []
for num in l2:
    result2.append(num*10)
# result2

* 10곱하는 작업이 반복되므로 함수 처리

In [3]:
def mul10(num_list):
    result = []
    for num in num_list:
        result.append(num*10)
    return result

In [4]:
mul10(l1)

[10, 20, 30, 40, 50]

In [5]:
mul10(l2)

[10,
 20,
 30,
 40,
 50,
 60,
 70,
 80,
 90,
 100,
 110,
 120,
 130,
 140,
 150,
 160,
 170,
 180,
 190,
 200,
 210,
 220,
 230,
 240,
 250,
 260,
 270,
 280,
 290]

# 함수 만드는 법
```python
def 함수이름(변수명1, 변수명2...):
    실행코드1
    실행코드2
    return 반환할 값(결과)
```

# 함수 호출 순서
* 함수는 호출하기 전에 반드시 먼저 정의되어 있어야 하고(만들어 놓아야 함)
* 함수 정의가 함수 실행보다 위에 있어야 한다.

In [6]:
hello()

NameError: name 'hello' is not defined

In [11]:
def hello():
    print("Hello python 함수 만들기")

In [12]:
hello()

Hello python 함수 만들기

# 함수의 매개변수
* 함수의 ()안에 받는 값을 저장하는 변수
* ()안에 값을 받아서 함수 내에서 처리할 때 사용
* **매개변수는 함수 바깥에서는 사용할 수 없음**
* 매개 변수의 개수는 제한이 없다.
* 매개 변수가 여러 개면, 자료도 변수의 수 만큼 넣어야 한다.

In [8]:
mul10(l1, l2)

TypeError: mul10() takes 1 positional argument but 2 were given

In [9]:
mul10()

TypeError: mul10() missing 1 required positional argument: 'num_list'

In [13]:
hello(l1)

TypeError: hello() takes 0 positional arguments but 1 was given

In [15]:
mul10(1)

TypeError: 'int' object is not iterable

In [16]:
for num in 1:
    print(num)

TypeError: 'int' object is not iterable

In [17]:
mul10("안녕하세요")

['안안안안안안안안안안', '녕녕녕녕녕녕녕녕녕녕', '하하하하하하하하하하', '세세세세세세세세세세', '요요요요요요요요요요']

# 인수의 종류(함수에 집어넣는 자료)
* 위치 인수(positional argument)
* 키워드 인수(keyword argument)
* 가변 위치 인수(*args)
* 가변 키워드 인수(\**kwargs)

## 1) 위치인수 (positional argument)
* 위치(순서)가 고정된 인수
* 순서가 바뀌면 다른 변수에 자료가 들어감
* 개수가 맞지 않으면 에러 발생

In [18]:
def person(num, name, age):
    print(f"num: {num}, name: {name}, age: {age}")
    return (num, name, age)

In [19]:
person(1, "홍길동", 33)

num: 1, name: 홍길동, age: 33

(1, '홍길동', 33)

In [20]:
person("홍길동", 33, 1)

num: 홍길동, name: 33, age: 1

('홍길동', 33, 1)

In [21]:
person("홍길동", 33)

TypeError: person() missing 1 required positional argument: 'age'

In [ ]:
print()

## 2) 키워드 인수 (keyword arguments)
* 매개변수 이름을 명시해서 값을 넣는 방식
* 순서를 바꿔도 이름이 같으면 올바르게 들어감

In [29]:
print(1,2,3, end=" ", sep=";")
print(1,2,3, sep=";", end=" ")

1;2;3 1;2;3

In [22]:
person(num=1, name="홍길동", age=33)

num: 1, name: 홍길동, age: 33

(1, '홍길동', 33)

In [23]:
person(age=33, num=1, name="홍길동")

num: 1, name: 홍길동, age: 33

(1, '홍길동', 33)

## 3) 가변 위치 인수 *args(variable-length arguments)
* 위치 인수를 여러 개 받을 때 사용
* 개수 제한이 없음
* 가변 위치 인수로 받은 값은 함수 내에서 tuple이 됨
* print()
* 함수의 매개변수 앞에 \*을 붙이면 가변 위치 인수를 받을 수 있는 매개변수가 됨

In [32]:
print(1,2,3,4,5,6,7,7,8,8,"문자", [2,3,4])

1 2 3 4 5 6 7 7 8 8 문자 [2, 3, 4]

In [36]:
def sum_all(*args):
    print("args:", args, type(args))
    total = 0
    for num in args:
        total += num
    return total

In [37]:
sum_all(1,2,3,4,5,6,7,8,9,10)

args: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10) <class 'tuple'>

55

In [38]:
sum_all(1)

args: (1,) <class 'tuple'>

1

In [39]:
def sum_all2(*nums):
    print("args:", nums, type(nums))
    total = 0
    for num in nums:
        total += num
    return total

In [40]:
sum_all2(1,2,3,4,5)

args: (1, 2, 3, 4, 5) <class 'tuple'>

15

* 가변 위치인수 + 위치인수

In [48]:
# args로 받은 숫자를 다 더한 후 num1으로 받은 숫자를 곱하는 함수
def sum_all3(*args, num1=2):
    print("args:", args, type(args))
    print("num1:", num1)
    total = 0
    for num in args:
        total += num
    return total * num1

In [50]:
sum_all3(1,2,3,4,5, num1=3)

args: (1, 2, 3, 4, 5) <class 'tuple'>
num1: 3

45

In [52]:
sum_all3(num1=3, 1,2,3,4,5 )

SyntaxError: positional argument follows keyword argument (3025086734.py, line 1)

In [51]:
print(sep=", ", 1,2,4)

SyntaxError: positional argument follows keyword argument (4135699445.py, line 1)

In [53]:
# args로 받은 숫자를 다 더한 후 num1으로 받은 숫자를 곱하는 함수
def sum_all4(num1, *args):
    print("args:", args, type(args))
    print("num1:", num1)
    total = 0
    for num in args:
        total += num
    return total * num1

In [54]:
sum_all4(2, 1,2,3,4,5)

args: (1, 2, 3, 4, 5) <class 'tuple'>
num1: 2

30

## 4) 가변 키워드 인수 **kwargs (variable-length keyword arguments)
* 키워드 인수를 여러 개 받을 때 사용함.
* 개수 제한이 없다.
* 가변 키워드 인수로 넣은 값은 함수 내에서 dict로 들어온다.
* 변수명=값, dict(key=value)

In [55]:
def show_kwargs(**kwargs):
    print("kwargs:", kwargs, type(kwargs))
    for key, value in kwargs.items():
        print(f"key: {key}, value: {value}")

In [56]:
show_kwargs(name="철수", age=20, city="서울")

kwargs: {'name': '철수', 'age': 20, 'city': '서울'} <class 'dict'>
key: name, value: 철수
key: age, value: 20
key: city, value: 서울

In [57]:
def show_kwargs(num, **kwargs):
    print("kwargs:", kwargs, type(kwargs))
    for key, value in kwargs.items():
        print(f"num: {num}, key: {key}, value: {value}")

In [58]:
show_kwargs(1, name="철수", age=20, city="서울")

kwargs: {'name': '철수', 'age': 20, 'city': '서울'} <class 'dict'>
num: 1, key: name, value: 철수
num: 1, key: age, value: 20
num: 1, key: city, value: 서울

In [59]:
show_kwargs(num=1, name="철수", age=20, city="서울")

kwargs: {'name': '철수', 'age': 20, 'city': '서울'} <class 'dict'>
num: 1, key: name, value: 철수
num: 1, key: age, value: 20
num: 1, key: city, value: 서울

In [60]:
def show_kwargs(**kwargs, num):
    print("kwargs:", kwargs, type(kwargs))
    print("num:", num)
    for key, value in kwargs.items():
        print(f"num: {num}, key: {key}, value: {value}")

SyntaxError: invalid syntax (2605048114.py, line 1)

## 5) 매개변수에 기본값 지정하기
* 함수 내에서 사용할 매개변수에는 기본값을 지정할 수 있다.
* 값을 넣지 않더라도 사전에 입력한 기본 값으로 작동
* 키워드 인수 형태로 매개변수의 기본값을 변경하면 변경된 값으로 작동
* print(sep=" ", end="\n")

# 함수 정의시 매개변수 순서
* 1) 위치(일반) 매개변수
* 2) 기본값이 있는 매개변수
* 3) 가변 위치인수 \*args
* 4) 가변 키워드인수 \**kwargs

In [76]:
def demo(num, name, p_num1="02", *args, **kwargs):
    print(args[:4])
    print(f"{num}번 {name}의 전화번호는 {p_num1}-{args[0]}-{args[1]}입니다.\n {kwargs}")

In [79]:
demo(1, "홍길동", "02", 1234, 5678, mobile="모름")

(1234, 5678)
1번 홍길동의 전화번호는 02-1234-5678입니다.
 {'mobile': '모름'}

In [86]:
def demo(num, name, p_num1="02" *args, , **kwargs ):
    print(args[:4])
    print(f"{num}번 {name}의 전화번호는 {p_num1}-{args[0]}-{args[1]}입니다.\n {kwargs}")

In [87]:
demo(1, "홍길동", 1234, 5678, "031",mobile="모름")

(1234, 5678, '031')
1번 홍길동의 전화번호는 02-1234-5678입니다.
 {'mobile': '모름'}

# 함수의 반환값 return
* 함수안에서 계산되거나 처리한 결과를 함수 밖으로 되돌려 주는 역할 return
* return은 없어도 문제 없음

In [88]:
def show_sum(num1, num2):
    print(num1+num2)

In [89]:
show_sum(3,5)

8

In [90]:
hap = show_sum(3,5) + 10
print(hap)

8

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [91]:
result = show_sum(3,5)
print(result)

8
None

In [93]:
def show_sum(num1, num2):
    print(num1+num2)
    return num1+num2

In [96]:
def show_sum(num1, num2):
    print(f"함수 내부의 print문 결과: {num1+num2}")
    hap = num1+num2
    return hap

In [97]:
result = show_sum(3,5)
print(f"함수 밖의 result 변수의 결과 값: {result}")

함수 내부의 print문 결과: 8
함수 밖의 result 변수의 결과 값: 8

# break 역할을 하는 return
* 함수 내부에서 return은 break의 역할도 함
* 반복 내에서 return이 되면 반복문이 정지되고 결과값을 반환하면서 함수 동작이 끝나

In [98]:
def sum50(num_list):
    hap = 0
    for num in num_list:
        if num > 50:
            break
        hap += num
    return hap

In [101]:
sum(range(1,101))

5050

In [99]:
sum50(range(1, 101))

1275

In [102]:
def sum50_2(num_list):
    hap = 0
    for num in num_list:
        if num > 50:
            return hap
        hap += num

In [103]:
sum50_2(range(1, 101))

1275

* 1에서 100까지 숫자중에 3의 배수만 더해서 출력하세요, 단 50보다 크면 멈추세요.

In [114]:
def sum3ns(num_list):
    hap = 0
    for num in num_list:
        if num <= 50:
            if num % 3 == 0 :
                hap += num
                print(hap, end=" ")
        else:
            break
        print(num, end=" ")
    return hap

In [115]:
sum3ns(range(1,101))

1 2 3 3 4 5 9 6 7 8 18 9 10 11 30 12 13 14 45 15 16 17 63 18 19 20 84 21 22 23 108 24 25 26 135 27 28 29 165 30 31 32 198 33 34 35 234 36 37 38 273 39 40 41 315 42 43 44 360 45 46 47 408 48 49 50

408

In [116]:
def sum3ns(num_list):
    hap = 0
    for num in num_list:
        if num <= 50:
            if num % 3 == 0 :
                hap += num
                print(hap, end=" ")
        else:
            return hap

In [117]:
sum3ns(range(1,101))

3 9 18 30 45 63 84 108 135 165 198 234 273 315 360 408

408

# 함수 docstring 사용하기
* docstring은 함수의 기능, 사용법을 함수 내부에 문서로 남기는 문자열
```python
def 함수명(매개변수):
    """ 독스트링 작성"""
```

In [118]:
def add(a, b):
    """두 수 a, b를 더해서 결과를 반환합니다.
    
    사용 예:
        add(3, 4) -> 7
    """
    return a + b

In [119]:
add(3, 4)

7

In [ ]:
print()

# 람다 함수, 람다 표현식(lambda expression)
* lambda는 이름이 없는 익명 함수
* 간단한 함수를 짧게 작성할 때
* 다른 함수의 인수로 함수를 넘길 때
* 일회용 함수
``` python
lambda 매개변수: 반환할 값(표현식)
```

In [120]:
def sum10(num):
    return num + 10

In [121]:
sum10(5)

15

In [122]:
sum10(9)

19

In [128]:
# print(globals())

In [126]:
(lambda num: num + 10)(5)

15

* 1-10까지 숫자중에서 3의 배수만 문자로 변경하는 함수

In [129]:
def to_str(num):
    result = []
    for i in num:
        if i % 3 == 0:
            result.append(str(i))
        else:
            result.append(i)
    return result

In [130]:
to_str([1,2,3,4,5,6,7,8,9,10])

[1, 2, '3', 4, 5, '6', 7, 8, '9', 10]

In [133]:
(lambda x: [str(i) if i % 3 == 0 else i for i in x])([1,2,3,4,5,6,7,8,9,10])

[1, 2, '3', 4, 5, '6', 7, 8, '9', 10]

# 예외처리 try except
* 예외: 프로그램 실행중에 발생할 수 있는 오류
* 3/0: ZeroDivisionError => 숫자를 0을 나눌 수 없기 때문에 나는 에러
* try-exept 구문을 사용하면 예외상황에서도 프로그램이 중단되지 않게 할 수 있음
``` python
try:
    # 예외(에러)발생할 위험이 있는 코드
except Exception as e:
    print(e) # 어떤 에러인지 출력
    # 예외(에러)가 발생했을 때 실행할 코드
else:
    # 예외가 발생하지 않았을 때 실행할 코드
finally:
    # 예외가 발생하든지 안하든지 무조건 실행할 코드
```

* 숫자를 0으로 나눌때 에러

In [134]:
for i in range(5):
    num = int(input("숫자를 입력해 주세요"))
    try:
        x = 10 / num
    except Exception as e:
        print(e)
        print("숫자 0으로는 나눗셈을 할 수 없습니다.")
    else:
        print(x)
    finally:
        print("계산이 완료되었습니다.", end="\n\n")

숫자를 입력해 주세요5
2.0
계산이 완료되었습니다.

숫자를 입력해 주세요0
division by zero
숫자 0으로는 나눗셈을 할 수 없습니다.
계산이 완료되었습니다.

숫자를 입력해 주세요4
2.5
계산이 완료되었습니다.

숫자를 입력해 주세요6
1.6666666666666667
계산이 완료되었습니다.

숫자를 입력해 주세요0
division by zero
숫자 0으로는 나눗셈을 할 수 없습니다.
계산이 완료되었습니다.

In [135]:
for i in range(5):
    num = int(input("숫자를 입력해 주세요"))
    x = 10 / num
    print("계산이 완료되었습니다.", end="\n\n")

숫자를 입력해 주세요3
계산이 완료되었습니다.

숫자를 입력해 주세요5
계산이 완료되었습니다.

숫자를 입력해 주세요6
계산이 완료되었습니다.

숫자를 입력해 주세요0

ZeroDivisionError: division by zero

* 파일 인코딩이 안맞을 때 자동으로 변경해서 읽어오기

In [136]:
with open("./data/com_kbstar_kbbank.json") as file:
    data = file.read()
data

UnicodeDecodeError: 'cp949' codec can't decode byte 0xec in position 19: illegal multibyte sequence

In [138]:
try:
    with open("./data/com_kbstar_kbbank.json") as file:
        data = file.read()
except Exception as e:
    print(e)
    print("인코딩이 맞지 않아서 다른 인코딩으로 재시도 합니다.")
    with open("./data/com_kbstar_kbbank.json", encoding="utf-8") as file:
        data = file.read()
# print(data)

'cp949' codec can't decode byte 0xec in position 19: illegal multibyte sequence
인코딩이 맞지 않아서 다른 인코딩으로 재시도 합니다.

* 학생 성적 조회, 이름이 데이터에 없어도 오류없이 모두 출력하도록

In [139]:
# 학생정보
student_scores = dict(student= dict(alice=85, bob=92, mark=78))
student_scores

{'student': {'alice': 85, 'bob': 92, 'mark': 78}}

In [143]:
# 성적을 조회할 학생목록
names = ["alice", "david", "bob", "mark", "sally"]

In [150]:
# 반복문을 이용해 성적 조회
for name in names:
#     score = student_scores['student'].get(name, "이름이 없습니다.")
#     score = student_scores['student'][name] if name in student_scores['student'].keys() else print("이름이 없습니다.")
    try:
        score = student_scores['student'][name]
        print(score)
    except Exception as e:
        print(e)
        print(f"{name}은 점수 목록에 없습니다.")
    finally:
        print(f"{name}의 점수 조회가 완료되었습니다.", end="\n\n")

85
alice의 점수 조회가 완료되었습니다.

'david'
david은 점수 목록에 없습니다.
david의 점수 조회가 완료되었습니다.

92
bob의 점수 조회가 완료되었습니다.

78
mark의 점수 조회가 완료되었습니다.

'sally'
sally은 점수 목록에 없습니다.
sally의 점수 조회가 완료되었습니다.