# 리스트 표현식
* 리스트 안에 for 반복문과 if else 조건문을 한 번에 적어서 리스트를 만드는 방법
* 여러 줄의 코드를 1줄로 줄일 수 있다.
* for문과 if else문을 사용해서 처리할 때 보다 속도가 빠르다.
```python
[실행할 명령 for 변수 in 반복가능한자료]
```

In [7]:
nums = []
for i in range(1, 11):
    nums.append(i)

* 리스트표현식으로 1-10까지 숫자로된 리스트 만들기

In [6]:
nums2 = [i for i in range(1, 11)]
nums2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# 리스트 표현식과 일반 반복문의 속도차이

In [11]:
%%time
# 일반 반복문으로 2억개 숫자 더한 리스트 만들기
a = []
for i in range(1, 200000000):
    a.append(i + 5)
print(a[:10])

[6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
CPU times: total: 27.2 s
Wall time: 27.4 s

In [12]:
%%time
# 일반 반복문으로 2억개 숫자 더한 리스트 만들기
b = [i + 5 for i in range(1, 200000000)]
print(b[:10])

[6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
CPU times: total: 16.5 s
Wall time: 16.9 s

In [14]:
# !pip install numpy

In [1]:
import numpy as np

In [2]:
%%time
c = np.arange(1, 200000000)
c = c + 5
print(c[:10])

[ 6  7  8  9 10 11 12 13 14 15]
CPU times: total: 734 ms
Wall time: 713 ms

* 1에서 10까지 숫자중 짝수만 넣어서 리스트 만들기

In [3]:
even = []
for i in range(1, 11):
    if i % 2 == 0:
        even.append(i)
even

[2, 4, 6, 8, 10]

In [4]:
even2 = [i for i in range(1, 11) if i % 2 == 0]
even2

[2, 4, 6, 8, 10]

* 1-10까지 숫자중에서 홀수면 홀수입니다. 짝수면 짝수입니다를 찍는 프로그램

In [1]:
for i in range(1, 11):
    if i % 2 == 0:
        print(f"{i}는 짝수입니다.")
    else:
        print(f"{i}는 홀수입니다.")

1는 홀수입니다.
2는 짝수입니다.
3는 홀수입니다.
4는 짝수입니다.
5는 홀수입니다.
6는 짝수입니다.
7는 홀수입니다.
8는 짝수입니다.
9는 홀수입니다.
10는 짝수입니다.

In [3]:
result = []
for i in range(1, 11):
    if i % 2 == 0:
        print(f"{i}는 짝수입니다.")
        result.append(f"{i}는 짝수입니다.")
    else:
        print(f"{i}는 홀수입니다.")
        result.append(f"{i}는 홀수입니다.")
result

1는 홀수입니다.
2는 짝수입니다.
3는 홀수입니다.
4는 짝수입니다.
5는 홀수입니다.
6는 짝수입니다.
7는 홀수입니다.
8는 짝수입니다.
9는 홀수입니다.
10는 짝수입니다.

['1는 홀수입니다.',
 '2는 짝수입니다.',
 '3는 홀수입니다.',
 '4는 짝수입니다.',
 '5는 홀수입니다.',
 '6는 짝수입니다.',
 '7는 홀수입니다.',
 '8는 짝수입니다.',
 '9는 홀수입니다.',
 '10는 짝수입니다.']

In [9]:
result = [f"{i}는 짝수입니다." if i % 2 == 0 else f"{i}는 홀수입니다." for i in range(1, 11)]
result

['1는 홀수입니다.',
 '2는 짝수입니다.',
 '3는 홀수입니다.',
 '4는 짝수입니다.',
 '5는 홀수입니다.',
 '6는 짝수입니다.',
 '7는 홀수입니다.',
 '8는 짝수입니다.',
 '9는 홀수입니다.',
 '10는 짝수입니다.']

# 다중 반복문을 사용한 리스트 표현식
```
#반복문이 2개일 때
[실행할 코드 반복문 1 반복문 2]
#반복문이 3개일 때
[실행할 코드 반복문 1 반복문 2 반복문 3]
```
* 반복문이 3개 이상 중첩되거나 if else 조건이 복잡하게 붙을 경우 일반 문법 사용
* 코드 해석이 너무 어려워짐

* 2중 반복문으로 구구단 출력하기

In [10]:
gugu = []
for i in range(2, 10):
    for j in range(1, 10):
        gugu.append(f"{i} X {j} = {i*j}")
gugu

['2 X 1 = 2',
 '2 X 2 = 4',
 '2 X 3 = 6',
 '2 X 4 = 8',
 '2 X 5 = 10',
 '2 X 6 = 12',
 '2 X 7 = 14',
 '2 X 8 = 16',
 '2 X 9 = 18',
 '3 X 1 = 3',
 '3 X 2 = 6',
 '3 X 3 = 9',
 '3 X 4 = 12',
 '3 X 5 = 15',
 '3 X 6 = 18',
 '3 X 7 = 21',
 '3 X 8 = 24',
 '3 X 9 = 27',
 '4 X 1 = 4',
 '4 X 2 = 8',
 '4 X 3 = 12',
 '4 X 4 = 16',
 '4 X 5 = 20',
 '4 X 6 = 24',
 '4 X 7 = 28',
 '4 X 8 = 32',
 '4 X 9 = 36',
 '5 X 1 = 5',
 '5 X 2 = 10',
 '5 X 3 = 15',
 '5 X 4 = 20',
 '5 X 5 = 25',
 '5 X 6 = 30',
 '5 X 7 = 35',
 '5 X 8 = 40',
 '5 X 9 = 45',
 '6 X 1 = 6',
 '6 X 2 = 12',
 '6 X 3 = 18',
 '6 X 4 = 24',
 '6 X 5 = 30',
 '6 X 6 = 36',
 '6 X 7 = 42',
 '6 X 8 = 48',
 '6 X 9 = 54',
 '7 X 1 = 7',
 '7 X 2 = 14',
 '7 X 3 = 21',
 '7 X 4 = 28',
 '7 X 5 = 35',
 '7 X 6 = 42',
 '7 X 7 = 49',
 '7 X 8 = 56',
 '7 X 9 = 63',
 '8 X 1 = 8',
 '8 X 2 = 16',
 '8 X 3 = 24',
 '8 X 4 = 32',
 '8 X 5 = 40',
 '8 X 6 = 48',
 '8 X 7 = 56',
 '8 X 8 = 64',
 '8 X 9 = 72',
 '9 X 1 = 9',
 '9 X 2 = 18',
 '9 X 3 = 27',
 '9 X 4 = 36',
 '9 X 5 = 45',
 '9 X 6 = 54',
 '9 X 7 = 63',
 '9 X 8 = 72',
 '9 X 9 = 81']

In [11]:
# 리스트표현식으로 2중 반복문 구구단 만들기
gugu2 = [f"{i} X {j} = {i*j}" for i in range(2, 10) for j in range(1, 10)]
gugu2

['2 X 1 = 2',
 '2 X 2 = 4',
 '2 X 3 = 6',
 '2 X 4 = 8',
 '2 X 5 = 10',
 '2 X 6 = 12',
 '2 X 7 = 14',
 '2 X 8 = 16',
 '2 X 9 = 18',
 '3 X 1 = 3',
 '3 X 2 = 6',
 '3 X 3 = 9',
 '3 X 4 = 12',
 '3 X 5 = 15',
 '3 X 6 = 18',
 '3 X 7 = 21',
 '3 X 8 = 24',
 '3 X 9 = 27',
 '4 X 1 = 4',
 '4 X 2 = 8',
 '4 X 3 = 12',
 '4 X 4 = 16',
 '4 X 5 = 20',
 '4 X 6 = 24',
 '4 X 7 = 28',
 '4 X 8 = 32',
 '4 X 9 = 36',
 '5 X 1 = 5',
 '5 X 2 = 10',
 '5 X 3 = 15',
 '5 X 4 = 20',
 '5 X 5 = 25',
 '5 X 6 = 30',
 '5 X 7 = 35',
 '5 X 8 = 40',
 '5 X 9 = 45',
 '6 X 1 = 6',
 '6 X 2 = 12',
 '6 X 3 = 18',
 '6 X 4 = 24',
 '6 X 5 = 30',
 '6 X 6 = 36',
 '6 X 7 = 42',
 '6 X 8 = 48',
 '6 X 9 = 54',
 '7 X 1 = 7',
 '7 X 2 = 14',
 '7 X 3 = 21',
 '7 X 4 = 28',
 '7 X 5 = 35',
 '7 X 6 = 42',
 '7 X 7 = 49',
 '7 X 8 = 56',
 '7 X 9 = 63',
 '8 X 1 = 8',
 '8 X 2 = 16',
 '8 X 3 = 24',
 '8 X 4 = 32',
 '8 X 5 = 40',
 '8 X 6 = 48',
 '8 X 7 = 56',
 '8 X 8 = 64',
 '8 X 9 = 72',
 '9 X 1 = 9',
 '9 X 2 = 18',
 '9 X 3 = 27',
 '9 X 4 = 36',
 '9 X 5 = 45',
 '9 X 6 = 54',
 '9 X 7 = 63',
 '9 X 8 = 72',
 '9 X 9 = 81']

* 3중 반복문으로 시계 만들기

In [14]:
clock = []
for si in range(0,24):
    for bun in range(0, 60):
        for cho in range(0, 60):
            clock.append(f"{si:02d}:{bun:02d}:{cho:02d}")
clock[:10]

['00:00:00',
 '00:00:01',
 '00:00:02',
 '00:00:03',
 '00:00:04',
 '00:00:05',
 '00:00:06',
 '00:00:07',
 '00:00:08',
 '00:00:09']

In [15]:
clock[-10:]

['23:59:50',
 '23:59:51',
 '23:59:52',
 '23:59:53',
 '23:59:54',
 '23:59:55',
 '23:59:56',
 '23:59:57',
 '23:59:58',
 '23:59:59']

In [16]:
# 리스트표현식으로 3중 for문 시계 만들기
clock2 = [f"{si:02d}:{bun:02d}:{cho:02d}" for si in range(0,24) for bun in range(0, 60) for cho in range(0, 60)]
clock2[:10]

['00:00:00',
 '00:00:01',
 '00:00:02',
 '00:00:03',
 '00:00:04',
 '00:00:05',
 '00:00:06',
 '00:00:07',
 '00:00:08',
 '00:00:09']

# 반복문 + if문의 리스트 표현식
* 필터링 
```python
for ... if 조건 (for문이 앞에, if 조건문이 뒤에, else 없음)
```
* if else + for문의 경우
```python
참일 때 if 조건 else 거짓일 때 for ... (조건 표현식이 앞, for문은 뒤에, if else 함께)
```

## 1) 조건을 이용해 필터링 하기 (if만 쓸 때)

* 1-10 중 짝수만 모으기

In [17]:
# 일반 for + if문
evens = []
for num in range(1, 11):
    if num % 2 == 0:
        evens.append(num)
evens

[2, 4, 6, 8, 10]

In [18]:
# 리스트 표현식, if문으로 필터링
evens2 = [num for num in range(1, 11) if num % 2 == 0]
evens2

[2, 4, 6, 8, 10]

## 2) 조건에 따라서 값을 바꾸기 (if ~ else)

* 1-10중 짝수면 짝수 홀수면 홀수를 출력

In [19]:
# for + if
labels = []
for num in range(1, 11):
    if num % 2 == 0:
        labels.append("짝수")
    else:
        labels.append("홀수")
labels

['홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수']

In [21]:
# 리스트표현식
# 조건표현식 + for문
labels2 = ["짝수" if num % 2 == 0 else "홀수" for num in range(1, 11)]
labels2

['홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수']

In [22]:
print(labels2, type(labels2))

['홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수'] <class 'list'>

In [26]:
labels2[3:6]

['짝수', '홀수', '짝수']

# 제네레이터 표현식
* 리스트표현식과 문법 동일
* [] 아닌 () 로 만듬
* 1회용
* 만들고 나서 반복문으로 내용을 꺼내면 사라짐
* 오직 순차 접근만 가능, 인덱싱, 슬라이싱 불가
* 데이터가 너무 크거나, 한 번만 쓸 데이터인 경우 사용

In [49]:
# 1-10까지 숫자중 짝수인 것만 모은 리스트를 제네레이터로
evens_g = (num for num in range(1, 11) if num % 2 == 0)
evens_g

* 제네레이터로 만든 결과는 next() 혹은 for 반복문으로 내용을 차례대로 꺼낼 수 있음.
* 끝까지 꺼내고 나면 사라짐

In [50]:
g2 = list(evens_g)
g2

[2, 4, 6, 8, 10]

In [30]:
# next() 제네레이터에서 자료를 하나씩 꺼낼 때 사용
next(evens_g)

2

In [31]:
next(evens_g)

4

In [44]:
for num in evens_g:
    print(num)

2
4
6
8
10

In [45]:
next(evens_g)

StopIteration:

In [35]:
evens_l = [num for num in range(1, 11) if num % 2 == 0]

In [41]:
for num in evens_l:
    print(num)

2
4
6
8
10

# 리스트와 제네레이터 크기 비교

In [47]:
# !pip install pympler

In [48]:
import sys
from pympler import asizeof
import psutil, os

# 메모리 사용량 확인 함수
def show_memory(msg):
    process = psutil.Process(os.getpid())
    print(f"{msg}: {process.memory_info().rss / 1024**2:.2f} MB")

# 비교 대상 생성
list_var = [x for x in range(1, 1_000_000)]   # 리스트 내포
gen_var  = (x for x in range(1, 1_000_000))   # 제너레이터 표현식

print("==== sys.getsizeof() 결과 ====")
print("리스트:", sys.getsizeof(list_var))
print("제너레이터:", sys.getsizeof(gen_var))

print("\n==== asizeof.asizeof() 결과 (내부 요소 포함) ====")
print("리스트:", asizeof.asizeof(list_var))
print("제너레이터:", asizeof.asizeof(gen_var))

print("\n==== 프로세스 전체 메모리 사용량 비교 ====")
show_memory("리스트 생성 후")
show_memory("제너레이터 생성 후")

==== sys.getsizeof() 결과 ====
리스트: 8448728
제너레이터: 104

==== asizeof.asizeof() 결과 (내부 요소 포함) ====
리스트: 40448696
제너레이터: 424

==== 프로세스 전체 메모리 사용량 비교 ====
리스트 생성 후: 1663.24 MB
제너레이터 생성 후: 1663.24 MB

# 파일 읽기 쓰기 open(), with open()

## 1) 파일에 문자열을 쓰거나 읽을 때 open() 함수 사용
```python
파일 저장 변수명 = open("파일경로 및 이름", 모드(w:쓰기, r:읽기, a:추가))
변수명.write("저장할 내용")
변수명.close()
close()를 안하면 계속 열려있음

* 파일 만들고 내용 쓰기

In [51]:
file = open("./data/test.txt", "w")
file.write("\n파일 만들기 연습")
file.close()

* 파일에서 읽어오기
```python
파일 열기 변수1 = open("파일경로 및 이름", "r")
변수 2 = 변수1.read()
변수1.close()
```

In [52]:
file1 = open("./data/test.txt", "r")
file1_data = file1.read()
file1.close()
print(file1_data)

파일 만들기 연습

* 이미 있는 파일에 내용 추가하기

In [53]:
file = open("./data/test.txt", "a")
file.write("\n파일에 내용 추가하기 연습")
file.close()

In [54]:
file1 = open("./data/test.txt", "r")
file1_data = file1.read()
file1.close()
print(file1_data)

파일 만들기 연습
파일에 내용 추가하기 연습

# with open
* with open은 close()를 하지 않아도 자동으로 close() 처리를 해줌

In [55]:
with open("./data/test2.txt", 'w') as file3:
    file3.write("with open을 사용하면 파일을 close없이도 자동으로 닫아주어 편리하다.")

In [56]:
with open("./data/test2.txt", 'a') as file3:
    file3.write("\nwith open을 사용하면 파일을 close없이도 자동으로 닫아주어 편리하다2")

In [57]:
with open("./data/test2.txt", 'r') as file3:
    file3_data = file3.read()
print(file3_data)

with open을 사용하면 파일을 close없이도 자동으로 닫아주어 편리하다.
with open을 사용하면 파일을 close없이도 자동으로 닫아주어 편리하다2

In [58]:
print(type(file3_data))

<class 'str'>

* 1줄씩 읽어올 때 readlines()

In [60]:
with open("./data/test2.txt", 'r') as file3:
    file3_data = file3.readlines()
print(file3_data, type(file3_data))

['with open을 사용하면 파일을 close없이도 자동으로 닫아주어 편리하다.\n', 'with open을 사용하면 파일을 close없이도 자동으로 닫아주어 편리하다2'] <class 'list'>

# encoding에 따른 읽기 오류
* 운영체제(windows, linux, macOS)에 따라 한글/영문 윈도우에 따라서 인코딩 되는 포멧이 달라짐
* 인코딩에 따른 오류 발생 가능
* web표준은 utf-8이므로 인코딩은 utf-8로 하는 것이 좋다.
* windows의 경우 기본 인코딩이 cp949이므로 주의

In [61]:
with open("./data/test_utf-8.txt", "w", encoding='utf-8') as file5:
    file5.write("이것은 with open으로 만든 utf-8 인코딩 파일입니다.")

In [62]:
with open("./data/test_utf-8.txt", "r") as file6:
    file6_data = file6.read()
print(file6_data)

UnicodeDecodeError: 'cp949' codec can't decode byte 0xec in position 0: illegal multibyte sequence

In [63]:
with open("./data/test_utf-8.txt", "r", encoding="utf-8") as file6:
    file6_data = file6.read()
print(file6_data)

이것은 with open으로 만든 utf-8 인코딩 파일입니다.

# json 파일 읽어와서 내용 정리하기

In [72]:
with open("./data/서울특별시_관광지입장정보_2011_2016.json", "r", encoding="utf-8") as file7:
    trip_info = file7.read()
print(trip_info[:100])

[
    {
        "ForNum": 44722,
        "NatNum": 75991,
        "addrCd": 1111,
        "gungu": "

In [69]:
print(type(trip_info))

<class 'str'>

In [73]:
# trip_info

In [68]:
trip_info[0]

'['

# 문자열을 JSON/dict 형식으로 변환
## json 모듈
### json.loads()

In [74]:
import json

In [75]:
data = json.loads(trip_info)
print(data, type(data))

[{'ForNum': 44722, 'NatNum': 75991, 'addrCd': 1111, 'gungu': '종로구', 'resNm': '창덕궁', 'rnum': 1, 'sido': '서울특별시', 'yyyymm': '201112'}, {'ForNum': 0, 'NatNum': 11017, 'addrCd': 1111, 'gungu': '종로구', 'resNm': '운현궁', 'rnum': 2, 'sido': '서울특별시', 'yyyymm': '201112'}, {'ForNum': 132399, 'NatNum': 237330, 'addrCd': 1111, 'gungu': '종로구', 'resNm': '경복궁', 'rnum': 3, 'sido': '서울특별시', 'yyyymm': '201112'}, {'ForNum': 3133, 'NatNum': 21267, 'addrCd': 1111, 'gungu': '종로구', 'resNm': '창경궁', 'rnum': 4, 'sido': '서울특별시', 'yyyymm': '201112'}, {'ForNum': 18226, 'NatNum': 24223, 'addrCd': 1111, 'gungu': '종로구', 'resNm': '종묘', 'rnum': 5, 'sido': '서울특별시', 'yyyymm': '201112'}, {'ForNum': 0, 'NatNum': 233828, 'addrCd': 1117, 'gungu': '용산구', 'resNm': '국립중앙박물관', 'rnum': 6, 'sido': '서울특별시', 'yyyymm': '201112'}, {'ForNum': 0, 'NatNum': 93554, 'addrCd': 1111, 'gungu': '종로구', 'resNm': '서울역사박물관', 'rnum': 7, 'sido': '서울특별시', 'yyyymm': '201112'}, {'ForNum': 13935, 'NatNum': 52140, 'addrCd': 1114, 'gungu': '중구', 'resNm': '덕수궁', 'rnum': 8, 'sido': '서울특별시', 'yyyymm': '201112'}, {'ForNum': 0, 'NatNum': 61115, 'addrCd': 1114, 'gungu': '중구', 'resNm': '서울시립미술관 본관', 'rnum': 9, 'sido': '서울특별시', 'yyyymm': '201112'}, {'ForNum': 10, 'NatNum': 1885, 'addrCd': 1135, 'gungu': '노원구', 'resNm': '태릉 ·  강릉 · 조선왕릉전시관', 'rnum': 10, 'sido': '서울특별시', 'yyyymm': '201112'}, {'ForNum': 0, 'NatNum': 32412, 'addrCd': 1141, 'gungu': '서대문구', 'resNm': '서대문형무소역사관', 'rnum': 11, 'sido': '서울특별시', 'yyyymm': '201112'}, {'ForNum': 0, 'NatNum': 19308, 'addrCd': 1141, 'gungu': '서대문구', 'resNm': '서대문자연사박물관', 'rnum': 12, 'sido': '서울특별시', 'yyyymm': '201112'}, {'ForNum': 5214, 'NatNum': 6956, 'addrCd': 1144, 'gungu': '마포구', 'resNm': '트릭아이미술관', 'rnum': 13, 'sido': '서울특별시', 'yyyymm': '201112'}, {'ForNum': 333, 'NatNum': 1823, 'addrCd': 1165, 'gungu': '서초구', 'resNm': '헌릉ㆍ인릉', 'rnum': 14, 'sido': '서울특별시', 'yyyymm': '201112'}, {'ForNum': 4704, 'NatNum': 16634, 'addrCd': 1168, 'gungu': '강남구', 'resNm': '선릉·정릉', 'rnum': 15, 'sido': '서울특별시', 'yyyymm': '201112'}, {'ForNum': 52484, 'NatNum': 642290, 'addrCd': 1171, 'gungu': '송파구', 'resNm': '롯데월드', 'rnum': 16, 'sido': '서울특별시', 'yyyymm': '201112'}, {'ForNum': 27814, 'NatNum': 28061, 'addrCd': 1111, 'gungu': '종로구', 'resNm': '창덕궁', 'rnum': 1, 'sido': '서울특별시', 'yyyymm': '201212'}, {'ForNum': 546, 'NatNum': 5978, 'addrCd': 1111, 'gungu': '종로구', 'resNm': '운현궁', 'rnum': 2, 'sido': '서울특별시', 'yyyymm': '201212'}, {'ForNum': 105370, 'NatNum': 133012, 'addrCd': 1111, 'gungu': '종로구', 'resNm': '경복궁', 'rnum': 3, 'sido': '서울특별시', 'yyyymm': '201212'}, {'ForNum': 1451, 'NatNum': 15722, 'addrCd': 1111, 'gungu': '종로구', 'resNm': '창경궁', 'rnum': 4, 'sido': '서울특별시', 'yyyymm': '201212'}, {'ForNum': 8817, 'NatNum': 8068, 'addrCd': 1111, 'gungu': '종로구', 'resNm': '종묘', 'rnum': 5, 'sido': '서울특별시', 'yyyymm': '201212'}, {'ForNum': 13033, 'NatNum': 227077, 'addrCd': 1117, 'gungu': '용산구', 'resNm': '국립중앙박물관', 'rnum': 6, 'sido': '서울특별시', 'yyyymm': '201212'}, {'ForNum': 1138, 'NatNum': 78179, 'addrCd': 1111, 'gungu': '종로구', 'resNm': '서울역사박물관', 'rnum': 7, 'sido': '서울특별시', 'yyyymm': '201212'}, {'ForNum': 11151, 'NatNum': 44855, 'addrCd': 1114, 'gungu': '중구', 'resNm': '덕수궁', 'rnum': 8, 'sido': '서울특별시', 'yyyymm': '201212'}, {'ForNum': 0, 'NatNum': 213467, 'addrCd': 1114, 'gungu': '중구', 'resNm': '서울시립미술관 본관', 'rnum': 9, 'sido': '서울특별시', 'yyyymm': '201212'}, {'ForNum': 15, 'NatNum': 1252, 'addrCd': 1135, 'gungu': '노원구', 'resNm': '태릉 ·  강릉 · 조선왕릉전시관', 'rnum': 10, 'sido': '서울특별시', 'yyyymm': '201212'}, {'ForNum': 6625, 'NatNum': 14090, 'addrCd': 1141, 'gungu': '서대문구', 'resNm': '서대문형무소역사관', 'rnum': 11, 'sido': '서울특별시', 'yyyymm': '201212'}, {'ForNum': 0, 'NatNum': 18881, 'addrCd': 1141, 'gungu': '서대문구', 'resNm': '서대문자연사박물관', 'rnum': 12, 'sido': '서울특별시', 'yyyymm': '201212'}, {'ForNum': 24492, 'NatNum': 9167, 'addrCd': 1144, 'gungu': '마포구', 'resNm': '트릭아이미술관', 'rnum': 13, 'sido': '서울특별시', 'yyyymm': '201212'}, {'ForNum': 62, 'NatNum': 860, 'addrCd': 1165, 'gungu': '서초구', 'resNm': '헌릉ㆍ인릉', 'rnum': 14, 'sido': '서울특별시', 'yyyymm': '201212'}, {'ForNum': 66868, 'NatNum': 670056, 'addrCd': 1171, 'gungu': '송파구', 'resNm': '롯데월드', 'rnum': 15, 'sido': '서울특별시', 'yyyymm': '201212'}, {'ForNum': 25550, 'NatNum': 38553, 'addrCd': 1111, 'gungu': '종로구', 'resNm': '창덕궁', 'rnum': 1, 'sido': '서울특별시', 'yyyymm': '201312'}, {'ForNum': 101942, 'NatNum': 145544, 'addrCd': 1111, 'gungu': '종로구', 'resNm': '경복궁', 'rnum': 2, 'sido': '서울특별시', 'yyyymm': '201312'}, {'ForNum': 1986, 'NatNum': 20035, 'addrCd': 1111, 'gungu': '종로구', 'resNm': '창경궁', 'rnum': 3, 'sido': '서울특별시', 'yyyymm': '201312'}, {'ForNum': 6048, 'NatNum': 13896, 'addrCd': 1111, 'gungu': '종로구', 'resNm': '종묘', 'rnum': 4, 'sido': '서울특별시', 'yyyymm': '201312'}, {'ForNum': 9083, 'NatNum': 286992, 'addrCd': 1117, 'gungu': '용산구', 'resNm': '국립중앙박물관', 'rnum': 5, 'sido': '서울특별시', 'yyyymm': '201312'}, {'ForNum': 13282, 'NatNum': 99301, 'addrCd': 1114, 'gungu': '중구', 'resNm': '덕수궁', 'rnum': 6, 'sido': '서울특별시', 'yyyymm': '201312'}, {'ForNum': 6, 'NatNum': 706, 'addrCd': 1135, 'gungu': '노원구', 'resNm': '태릉 ·  강릉 · 조선왕릉전시관', 'rnum': 7, 'sido': '서울특별시', 'yyyymm': '201312'}, {'ForNum': 6732, 'NatNum': 14607, 'addrCd': 1141, 'gungu': '서대문구', 'resNm': '서대문형무소역사관', 'rnum': 8, 'sido': '서울특별시', 'yyyymm': '201312'}, {'ForNum': 0, 'NatNum': 23245, 'addrCd': 1141, 'gungu': '서대문구', 'resNm': '서대문자연사박물관', 'rnum': 9, 'sido': '서울특별시', 'yyyymm': '201312'}, {'ForNum': 43129, 'NatNum': 11886, 'addrCd': 1144, 'gungu': '마포구', 'resNm': '트릭아이미술관', 'rnum': 10, 'sido': '서울특별시', 'yyyymm': '201312'}, {'ForNum': 16, 'NatNum': 1248, 'addrCd': 1165, 'gungu': '서초구', 'resNm': '헌릉ㆍ인릉', 'rnum': 11, 'sido': '서울특별시', 'yyyymm': '201312'}, {'ForNum': 1445, 'NatNum': 11890, 'addrCd': 1168, 'gungu': '강남구', 'resNm': '선릉·정릉', 'rnum': 12, 'sido': '서울특별시', 'yyyymm': '201312'}, {'ForNum': 29928, 'NatNum': 41561, 'addrCd': 1111, 'gungu': '종로구', 'resNm': '창덕궁', 'rnum': 1, 'sido': '서울특별시', 'yyyymm': '201412'}, {'ForNum': 129946, 'NatNum': 190501, 'addrCd': 1111, 'gungu': '종로구', 'resNm': '경복궁', 'rnum': 2, 'sido': '서울특별시', 'yyyymm': '201412'}, {'ForNum': 1693, 'NatNum': 19473, 'addrCd': 1111, 'gungu': '종로구', 'resNm': '창경궁', 'rnum': 3, 'sido': '서울특별시', 'yyyymm': '201412'}, {'ForNum': 3891, 'NatNum': 5951, 'addrCd': 1111, 'gungu': '종로구', 'resNm': '종묘', 'rnum': 4, 'sido': '서울특별시', 'yyyymm': '201412'}, {'ForNum': 7195, 'NatNum': 258781, 'addrCd': 1117, 'gungu': '용산구', 'resNm': '국립중앙박물관', 'rnum': 5, 'sido': '서울특별시', 'yyyymm': '201412'}, {'ForNum': 14723, 'NatNum': 44272, 'addrCd': 1114, 'gungu': '중구', 'resNm': '덕수궁', 'rnum': 6, 'sido': '서울특별시', 'yyyymm': '201412'}, {'ForNum': 12, 'NatNum': 486, 'addrCd': 1135, 'gungu': '노원구', 'resNm': '태릉 ·  강릉 · 조선왕릉전시관', 'rnum': 7, 'sido': '서울특별시', 'yyyymm': '201412'}, {'ForNum': 6263, 'NatNum': 27205, 'addrCd': 1141, 'gungu': '서대문구', 'resNm': '서대문형무소역사관', 'rnum': 8, 'sido': '서울특별시', 'yyyymm': '201412'}, {'ForNum': 0, 'NatNum': 24527, 'addrCd': 1141, 'gungu': '서대문구', 'resNm': '서대문자연사박물관', 'rnum': 9, 'sido': '서울특별시', 'yyyymm': '201412'}, {'ForNum': 42443, 'NatNum': 7478, 'addrCd': 1144, 'gungu': '마포구', 'resNm': '트릭아이미술관', 'rnum': 10, 'sido': '서울특별시', 'yyyymm': '201412'}, {'ForNum': 5, 'NatNum': 1036, 'addrCd': 1165, 'gungu': '서초구', 'resNm': '헌릉ㆍ인릉', 'rnum': 11, 'sido': '서울특별시', 'yyyymm': '201412'}, {'ForNum': 823, 'NatNum': 8869, 'addrCd': 1168, 'gungu': '강남구', 'resNm': '선릉·정릉', 'rnum': 12, 'sido': '서울특별시', 'yyyymm': '201412'}, {'ForNum': 33342, 'NatNum': 59738, 'addrCd': 1111, 'gungu': '종로구', 'resNm': '창덕궁', 'rnum': 1, 'sido': '서울특별시', 'yyyymm': '201512'}, {'ForNum': 170379, 'NatNum': 148961, 'addrCd': 1111, 'gungu': '종로구', 'resNm': '경복궁', 'rnum': 2, 'sido': '서울특별시', 'yyyymm': '201512'}, {'ForNum': 1783, 'NatNum': 27172, 'addrCd': 1111, 'gungu': '종로구', 'resNm': '창경궁', 'rnum': 3, 'sido': '서울특별시', 'yyyymm': '201512'}, {'ForNum': 3406, 'NatNum': 14936, 'addrCd': 1111, 'gungu': '종로구', 'resNm': '종묘', 'rnum': 4, 'sido': '서울특별시', 'yyyymm': '201512'}, {'ForNum': 13127, 'NatNum': 281457, 'addrCd': 1117, 'gungu': '용산구', 'resNm': '국립중앙박물관', 'rnum': 5, 'sido': '서울특별시', 'yyyymm': '201512'}, {'ForNum': 15197, 'NatNum': 68749, 'addrCd': 1114, 'gungu': '중구', 'resNm': '덕수궁', 'rnum': 6, 'sido': '서울특별시', 'yyyymm': '201512'}, {'ForNum': 16, 'NatNum': 2221, 'addrCd': 1135, 'gungu': '노원구', 'resNm': '태릉 ·  강릉 · 조선왕릉전시관', 'rnum': 7, 'sido': '서울특별시', 'yyyymm': '201512'}, {'ForNum': 5588, 'NatNum': 44232, 'addrCd': 1141, 'gungu': '서대문구', 'resNm': '서대문형무소역사관', 'rnum': 8, 'sido': '서울특별시', 'yyyymm': '201512'}, {'ForNum': 0, 'NatNum': 22587, 'addrCd': 1141, 'gungu': '서대문구', 'resNm': '서대문자연사박물관', 'rnum': 9, 'sido': '서울특별시', 'yyyymm': '201512'}, {'ForNum': 29520, 'NatNum': 8822, 'addrCd': 1144, 'gungu': '마포구', 'resNm': '트릭아이미술관', 'rnum': 10, 'sido': '서울특별시', 'yyyymm': '201512'}, {'ForNum': 3, 'NatNum': 1647, 'addrCd': 1165, 'gungu': '서초구', 'resNm': '헌릉ㆍ인릉', 'rnum': 11, 'sido': '서울특별시', 'yyyymm': '201512'}, {'ForNum': 492, 'NatNum': 14454, 'addrCd': 1168, 'gungu': '강남구', 'resNm': '선릉·정릉', 'rnum': 12, 'sido': '서울특별시', 'yyyymm': '201512'}] <class 'list'>

In [77]:
print(data[0], type(data[0]))

{'ForNum': 44722, 'NatNum': 75991, 'addrCd': 1111, 'gungu': '종로구', 'resNm': '창덕궁', 'rnum': 1, 'sido': '서울특별시', 'yyyymm': '201112'} <class 'dict'>

In [79]:
list(data[0].keys())

['ForNum', 'NatNum', 'addrCd', 'gungu', 'resNm', 'rnum', 'sido', 'yyyymm']

* data변수 안에는 리스트 안쪽에 67개의 딕셔너리 세트가 저장되어 있음
* 각 딕셔너리에는 ['ForNum', 'NatNum', 'addrCd', 'gungu', 'resNm', 'rnum', 'sido', 'yyyymm'] 키로 관광지 입장객 정보가 저장되어 있음.
* 67개의 딕셔너리에서 하나의 key당 67개의 value를 리스트 형태로 저장
* pandas를 이용해서 dataframe(sql의 table/excel의 sheet)으로 변환
* {'ForNum' : [                ],
   'NatNum' : [                ],}

In [80]:
print(len(data))

67

In [87]:
data[0]

{'ForNum': 44722,
 'NatNum': 75991,
 'addrCd': 1111,
 'gungu': '종로구',
 'resNm': '창덕궁',
 'rnum': 1,
 'sido': '서울특별시',
 'yyyymm': '201112'}

In [91]:
print('ForNum', data[66]['ForNum'])
print('NatNum', data[66]['NatNum'])
print('addrCd', data[66]['addrCd'])
print('gungu', data[66]['gungu'])
print('resNm', data[66]['resNm'])
print('rnum', data[66]['rnum'])
print('sido', data[66]['sido'])
print('yyyymm', data[66]['yyyymm'])

ForNum 492
NatNum 14454
addrCd 1168
gungu 강남구
resNm 선릉·정릉
rnum 12
sido 서울특별시
yyyymm 201512

In [84]:
data[2]['ForNum']

132399

In [109]:
ForNum = []
NatNum = []
addrCd = []
gungu = []
resNm = []
rnum = []
sido = []
yyyymm = []
for item in data:
    ForNum.append(item['ForNum'])
    NatNum.append(item['NatNum'])
    addrCd.append(item['addrCd'])
    gungu.append(item['gungu'])
    resNm.append(item['resNm'])
    rnum.append(item['rnum'])
    sido.append(item['sido'])
    yyyymm.append(item['yyyymm'])
    
print("ForNum: ", ForNum)
print("NatNum: ", NatNum)
print("addrCd: ", addrCd)
print("gungu: ", gungu)
print("resNm: ", resNm)
print("rnum: ", rnum)
print("sido: ", sido)
print("yyyymm: ", yyyymm)

# 1개의 키에 67개의 데이터가 있는 리스트를 묶어서 dict로 만들기

result = dict(ForNum=ForNum, NatNum=NatNum, addrCd=addrCd, gungu=gungu,
             resNm=resNm, rnum=rnum, sido=sido, yyyymm=yyyymm)

ForNum:  [44722, 0, 132399, 3133, 18226, 0, 0, 13935, 0, 10, 0, 0, 5214, 333, 4704, 52484, 27814, 546, 105370, 1451, 8817, 13033, 1138, 11151, 0, 15, 6625, 0, 24492, 62, 66868, 25550, 101942, 1986, 6048, 9083, 13282, 6, 6732, 0, 43129, 16, 1445, 29928, 129946, 1693, 3891, 7195, 14723, 12, 6263, 0, 42443, 5, 823, 33342, 170379, 1783, 3406, 13127, 15197, 16, 5588, 0, 29520, 3, 492]
NatNum:  [75991, 11017, 237330, 21267, 24223, 233828, 93554, 52140, 61115, 1885, 32412, 19308, 6956, 1823, 16634, 642290, 28061, 5978, 133012, 15722, 8068, 227077, 78179, 44855, 213467, 1252, 14090, 18881, 9167, 860, 670056, 38553, 145544, 20035, 13896, 286992, 99301, 706, 14607, 23245, 11886, 1248, 11890, 41561, 190501, 19473, 5951, 258781, 44272, 486, 27205, 24527, 7478, 1036, 8869, 59738, 148961, 27172, 14936, 281457, 68749, 2221, 44232, 22587, 8822, 1647, 14454]
addrCd:  [1111, 1111, 1111, 1111, 1111, 1117, 1111, 1114, 1114, 1135, 1141, 1141, 1144, 1165, 1168, 1171, 1111, 1111, 1111, 1111, 1111, 1117, 1111, 1114, 1114, 1135, 1141, 1141, 1144, 1165, 1171, 1111, 1111, 1111, 1111, 1117, 1114, 1135, 1141, 1141, 1144, 1165, 1168, 1111, 1111, 1111, 1111, 1117, 1114, 1135, 1141, 1141, 1144, 1165, 1168, 1111, 1111, 1111, 1111, 1117, 1114, 1135, 1141, 1141, 1144, 1165, 1168]
gungu:  ['종로구', '종로구', '종로구', '종로구', '종로구', '용산구', '종로구', '중구', '중구', '노원구', '서대문구', '서대문구', '마포구', '서초구', '강남구', '송파구', '종로구', '종로구', '종로구', '종로구', '종로구', '용산구', '종로구', '중구', '중구', '노원구', '서대문구', '서대문구', '마포구', '서초구', '송파구', '종로구', '종로구', '종로구', '종로구', '용산구', '중구', '노원구', '서대문구', '서대문구', '마포구', '서초구', '강남구', '종로구', '종로구', '종로구', '종로구', '용산구', '중구', '노원구', '서대문구', '서대문구', '마포구', '서초구', '강남구', '종로구', '종로구', '종로구', '종로구', '용산구', '중구', '노원구', '서대문구', '서대문구', '마포구', '서초구', '강남구']
resNm:  ['창덕궁', '운현궁', '경복궁', '창경궁', '종묘', '국립중앙박물관', '서울역사박물관', '덕수궁', '서울시립미술관 본관', '태릉 ·  강릉 · 조선왕릉전시관', '서대문형무소역사관', '서대문자연사박물관', '트릭아이미술관', '헌릉ㆍ인릉', '선릉·정릉', '롯데월드', '창덕궁', '운현궁', '경복궁', '창경궁', '종묘', '국립중앙박물관', '서울역사박물관', '덕수궁', '서울시립미술관 본관', '태릉 ·  강릉 · 조선왕릉전시관', '서대문형무소역사관', '서대문자연사박물관', '트릭아이미술관', '헌릉ㆍ인릉', '롯데월드', '창덕궁', '경복궁', '창경궁', '종묘', '국립중앙박물관', '덕수궁', '태릉 ·  강릉 · 조선왕릉전시관', '서대문형무소역사관', '서대문자연사박물관', '트릭아이미술관', '헌릉ㆍ인릉', '선릉·정릉', '창덕궁', '경복궁', '창경궁', '종묘', '국립중앙박물관', '덕수궁', '태릉 ·  강릉 · 조선왕릉전시관', '서대문형무소역사관', '서대문자연사박물관', '트릭아이미술관', '헌릉ㆍ인릉', '선릉·정릉', '창덕궁', '경복궁', '창경궁', '종묘', '국립중앙박물관', '덕수궁', '태릉 ·  강릉 · 조선왕릉전시관', '서대문형무소역사관', '서대문자연사박물관', '트릭아이미술관', '헌릉ㆍ인릉', '선릉·정릉']
rnum:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
sido:  ['서울특별시', '서울특별시', '서울특별시', '서울특별시', '서울특별시', '서울특별시', '서울특별시', '서울특별시', '서울특별시', '서울특별시', '서울특별시', '서울특별시', '서울특별시', '서울특별시', '서울특별시', '서울특별시', '서울특별시', '서울특별시', '서울특별시', '서울특별시', '서울특별시', '서울특별시', '서울특별시', '서울특별시', '서울특별시', '서울특별시', '서울특별시', '서울특별시', '서울특별시', '서울특별시', '서울특별시', '서울특별시', '서울특별시', '서울특별시', '서울특별시', '서울특별시', '서울특별시', '서울특별시', '서울특별시', '서울특별시', '서울특별시', '서울특별시', '서울특별시', '서울특별시', '서울특별시', '서울특별시', '서울특별시', '서울특별시', '서울특별시', '서울특별시', '서울특별시', '서울특별시', '서울특별시', '서울특별시', '서울특별시', '서울특별시', '서울특별시', '서울특별시', '서울특별시', '서울특별시', '서울특별시', '서울특별시', '서울특별시', '서울특별시', '서울특별시', '서울특별시', '서울특별시']
yyyymm:  ['201112', '201112', '201112', '201112', '201112', '201112', '201112', '201112', '201112', '201112', '201112', '201112', '201112', '201112', '201112', '201112', '201212', '201212', '201212', '201212', '201212', '201212', '201212', '201212', '201212', '201212', '201212', '201212', '201212', '201212', '201212', '201312', '201312', '201312', '201312', '201312', '201312', '201312', '201312', '201312', '201312', '201312', '201312', '201412', '201412', '201412', '201412', '201412', '201412', '201412', '201412', '201412', '201412', '201412', '201412', '201512', '201512', '201512', '201512', '201512', '201512', '201512', '201512', '201512', '201512', '201512', '201512']

# panda dataframe으로 변환하기

In [105]:
# !pip install pandas

In [106]:
import pandas as pd

In [107]:
df = pd.DataFrame(result)
df

    ForNum  NatNum  addrCd gungu      resNm  rnum   sido  yyyymm
0    44722   75991    1111   종로구        창덕궁     1  서울특별시  201112
1        0   11017    1111   종로구        운현궁     2  서울특별시  201112
2   132399  237330    1111   종로구        경복궁     3  서울특별시  201112
3     3133   21267    1111   종로구        창경궁     4  서울특별시  201112
4    18226   24223    1111   종로구         종묘     5  서울특별시  201112
..     ...     ...     ...   ...        ...   ...    ...     ...
62    5588   44232    1141  서대문구  서대문형무소역사관     8  서울특별시  201512
63       0   22587    1141  서대문구  서대문자연사박물관     9  서울특별시  201512
64   29520    8822    1144   마포구    트릭아이미술관    10  서울특별시  201512
65       3    1647    1165   서초구      헌릉ㆍ인릉    11  서울특별시  201512
66     492   14454    1168   강남구      선릉·정릉    12  서울특별시  201512

[67 rows x 8 columns]

In [108]:
df.to_csv("./data/서울시관광지입객장객정보.csv", index=False, encoding="utf-8-sig")

# key와 value를 수작업 없이 사용해서 정리하기
* dict에서 key는 반복문에 넣으면 key가 나옴
* keys(), values(), items()

In [117]:
result2 = {}
for key in data[0]:
    temp = []
    for item in data:
        temp.append(item[key])
    result2[key] = temp  
result2

{'ForNum': [44722,
  0,
  132399,
  3133,
  18226,
  0,
  0,
  13935,
  0,
  10,
  0,
  0,
  5214,
  333,
  4704,
  52484,
  27814,
  546,
  105370,
  1451,
  8817,
  13033,
  1138,
  11151,
  0,
  15,
  6625,
  0,
  24492,
  62,
  66868,
  25550,
  101942,
  1986,
  6048,
  9083,
  13282,
  6,
  6732,
  0,
  43129,
  16,
  1445,
  29928,
  129946,
  1693,
  3891,
  7195,
  14723,
  12,
  6263,
  0,
  42443,
  5,
  823,
  33342,
  170379,
  1783,
  3406,
  13127,
  15197,
  16,
  5588,
  0,
  29520,
  3,
  492],
 'NatNum': [75991,
  11017,
  237330,
  21267,
  24223,
  233828,
  93554,
  52140,
  61115,
  1885,
  32412,
  19308,
  6956,
  1823,
  16634,
  642290,
  28061,
  5978,
  133012,
  15722,
  8068,
  227077,
  78179,
  44855,
  213467,
  1252,
  14090,
  18881,
  9167,
  860,
  670056,
  38553,
  145544,
  20035,
  13896,
  286992,
  99301,
  706,
  14607,
  23245,
  11886,
  1248,
  11890,
  41561,
  190501,
  19473,
  5951,
  258781,
  44272,
  486,
  27205,
  24527,
  7478,
  1036,
  8869,
  59738,
  148961,
  27172,
  14936,
  281457,
  68749,
  2221,
  44232,
  22587,
  8822,
  1647,
  14454],
 'addrCd': [1111,
  1111,
  1111,
  1111,
  1111,
  1117,
  1111,
  1114,
  1114,
  1135,
  1141,
  1141,
  1144,
  1165,
  1168,
  1171,
  1111,
  1111,
  1111,
  1111,
  1111,
  1117,
  1111,
  1114,
  1114,
  1135,
  1141,
  1141,
  1144,
  1165,
  1171,
  1111,
  1111,
  1111,
  1111,
  1117,
  1114,
  1135,
  1141,
  1141,
  1144,
  1165,
  1168,
  1111,
  1111,
  1111,
  1111,
  1117,
  1114,
  1135,
  1141,
  1141,
  1144,
  1165,
  1168,
  1111,
  1111,
  1111,
  1111,
  1117,
  1114,
  1135,
  1141,
  1141,
  1144,
  1165,
  1168],
 'gungu': ['종로구',
  '종로구',
  '종로구',
  '종로구',
  '종로구',
  '용산구',
  '종로구',
  '중구',
  '중구',
  '노원구',
  '서대문구',
  '서대문구',
  '마포구',
  '서초구',
  '강남구',
  '송파구',
  '종로구',
  '종로구',
  '종로구',
  '종로구',
  '종로구',
  '용산구',
  '종로구',
  '중구',
  '중구',
  '노원구',
  '서대문구',
  '서대문구',
  '마포구',
  '서초구',
  '송파구',
  '종로구',
  '종로구',
  '종로구',
  '종로구',
  '용산구',
  '중구',
  '노원구',
  '서대문구',
  '서대문구',
  '마포구',
  '서초구',
  '강남구',
  '종로구',
  '종로구',
  '종로구',
  '종로구',
  '용산구',
  '중구',
  '노원구',
  '서대문구',
  '서대문구',
  '마포구',
  '서초구',
  '강남구',
  '종로구',
  '종로구',
  '종로구',
  '종로구',
  '용산구',
  '중구',
  '노원구',
  '서대문구',
  '서대문구',
  '마포구',
  '서초구',
  '강남구'],
 'resNm': ['창덕궁',
  '운현궁',
  '경복궁',
  '창경궁',
  '종묘',
  '국립중앙박물관',
  '서울역사박물관',
  '덕수궁',
  '서울시립미술관 본관',
  '태릉 ·  강릉 · 조선왕릉전시관',
  '서대문형무소역사관',
  '서대문자연사박물관',
  '트릭아이미술관',
  '헌릉ㆍ인릉',
  '선릉·정릉',
  '롯데월드',
  '창덕궁',
  '운현궁',
  '경복궁',
  '창경궁',
  '종묘',
  '국립중앙박물관',
  '서울역사박물관',
  '덕수궁',
  '서울시립미술관 본관',
  '태릉 ·  강릉 · 조선왕릉전시관',
  '서대문형무소역사관',
  '서대문자연사박물관',
  '트릭아이미술관',
  '헌릉ㆍ인릉',
  '롯데월드',
  '창덕궁',
  '경복궁',
  '창경궁',
  '종묘',
  '국립중앙박물관',
  '덕수궁',
  '태릉 ·  강릉 · 조선왕릉전시관',
  '서대문형무소역사관',
  '서대문자연사박물관',
  '트릭아이미술관',
  '헌릉ㆍ인릉',
  '선릉·정릉',
  '창덕궁',
  '경복궁',
  '창경궁',
  '종묘',
  '국립중앙박물관',
  '덕수궁',
  '태릉 ·  강릉 · 조선왕릉전시관',
  '서대문형무소역사관',
  '서대문자연사박물관',
  '트릭아이미술관',
  '헌릉ㆍ인릉',
  '선릉·정릉',
  '창덕궁',
  '경복궁',
  '창경궁',
  '종묘',
  '국립중앙박물관',
  '덕수궁',
  '태릉 ·  강릉 · 조선왕릉전시관',
  '서대문형무소역사관',
  '서대문자연사박물관',
  '트릭아이미술관',
  '헌릉ㆍ인릉',
  '선릉·정릉'],
 'rnum': [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12],
 'sido': ['서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시'],
 'yyyymm': ['201112',
  '201112',
  '201112',
  '201112',
  '201112',
  '201112',
  '201112',
  '201112',
  '201112',
  '201112',
  '201112',
  '201112',
  '201112',
  '201112',
  '201112',
  '201112',
  '201212',
  '201212',
  '201212',
  '201212',
  '201212',
  '201212',
  '201212',
  '201212',
  '201212',
  '201212',
  '201212',
  '201212',
  '201212',
  '201212',
  '201212',
  '201312',
  '201312',
  '201312',
  '201312',
  '201312',
  '201312',
  '201312',
  '201312',
  '201312',
  '201312',
  '201312',
  '201312',
  '201412',
  '201412',
  '201412',
  '201412',
  '201412',
  '201412',
  '201412',
  '201412',
  '201412',
  '201412',
  '201412',
  '201412',
  '201512',
  '201512',
  '201512',
  '201512',
  '201512',
  '201512',
  '201512',
  '201512',
  '201512',
  '201512',
  '201512',
  '201512']}

# 딕셔너리 함수를 이용해 만들기
* setdefault

In [127]:
result3 = {}
for item in data:
    for key, value in item.items():
        result3.setdefault(key, []).append(value)
df3 = pd.DataFrame(result3)
df3

    ForNum  NatNum  addrCd gungu      resNm  rnum   sido  yyyymm
0    44722   75991    1111   종로구        창덕궁     1  서울특별시  201112
1        0   11017    1111   종로구        운현궁     2  서울특별시  201112
2   132399  237330    1111   종로구        경복궁     3  서울특별시  201112
3     3133   21267    1111   종로구        창경궁     4  서울특별시  201112
4    18226   24223    1111   종로구         종묘     5  서울특별시  201112
..     ...     ...     ...   ...        ...   ...    ...     ...
62    5588   44232    1141  서대문구  서대문형무소역사관     8  서울특별시  201512
63       0   22587    1141  서대문구  서대문자연사박물관     9  서울특별시  201512
64   29520    8822    1144   마포구    트릭아이미술관    10  서울특별시  201512
65       3    1647    1165   서초구      헌릉ㆍ인릉    11  서울특별시  201512
66     492   14454    1168   강남구      선릉·정릉    12  서울특별시  201512

[67 rows x 8 columns]

# collections.defaultdict 를 사용해서 더 빠르게

In [139]:
from collections import defaultdict

In [153]:
dic_result = defaultdict(list)
for item in data[:2]:
    for key, value in item.items():
        dic_result[key].append(value)
dic_result

defaultdict(list,
            {'ForNum': [44722, 0],
             'NatNum': [75991, 11017],
             'addrCd': [1111, 1111],
             'gungu': ['종로구', '종로구'],
             'resNm': ['창덕궁', '운현궁'],
             'rnum': [1, 2],
             'sido': ['서울특별시', '서울특별시'],
             'yyyymm': ['201112', '201112']})

In [142]:
result4 = dict(dic_result)
result4

{'ForNum': [44722, 0],
 'NatNum': [75991, 11017],
 'addrCd': [1111, 1111],
 'gungu': ['종로구', '종로구'],
 'resNm': ['창덕궁', '운현궁'],
 'rnum': [1, 2],
 'sido': ['서울특별시', '서울특별시'],
 'yyyymm': ['201112', '201112']}