# 함수 기본

## 1번 문제

In [1]:
# 함수
def hello():
    print("Hello, Python!")

In [5]:
# 출력
hello()

Hello, Python!

## 2번 문제

In [22]:
# 함수
def greet(name):
    print(f"안녕하세요, {name}님!") # f-string을 햇갈리지 말자.

In [36]:
# 출력
greet("민수")

안녕하세요, 민수님!

## 3번 문제

In [33]:
# 함수
def a():
    print("A")

In [34]:
# 함수
def b():
    print("B")

In [37]:
# 출력
a()
b()
a()

A
B
A

## 4번 문제

In [52]:
def add(a, b):
    print(a + b)
    return (a + b)c

In [51]:
print(add(3,4))

7
7

In [53]:
def add(a, b):
    return (a + b)

In [54]:
print(add(3,4))

7

## 5번 문제

In [64]:
def join_words(a, b):
    return(f"{a} {b}")

In [65]:
print(join_words("Hello", "World"))

Hello World

In [66]:
def join_words(a, b):
    return a + ' ' + b

In [67]:
print(join_words("Hello", "World"))

Hello World

## 6번 문제

In [71]:
# 함수
def power(x, n=2):
    return x ** n

In [72]:
# 답안
print(power(5))

25

In [73]:
# 답안
print(power(2, 3))

8

## 7번 문제

In [83]:
def say(name, msg="안녕하세요"):
    return(f"{msg}, {name}!")

In [84]:
say("지현")

'안녕하세요, 지현!'

In [85]:
say("지현", "반가워요")

'반가워요, 지현!'

In [86]:
def say(name, msg="안녕하세요"):
    print(f"{msg}, {name}!")

In [87]:
say("지현")

안녕하세요, 지현!

In [88]:
say("지현", "반가워요")

반가워요, 지현!

## 8번 문제

In [101]:
# 함수
def sum_and_diff(a,b):
    return (a + b, a - b)
    print(a + b, a - b)

In [97]:
# 출력
sum_and_diff(10, 3)
print(s)
print(d)

13
7

In [99]:
# 함수(정답)
def sum_and_diff(a,b):
    return a + b, a - b

In [100]:
# 출력(정답)
s, d = sum_and_diff(10, 3)
print(s)
print(d)

13
7

## 9번 문제

In [24]:
# 함수
def quot_rem(a,b):
    return a // b, a % b

In [25]:
# 출력
q, r = quot_rem(17, 5)
print(q, r)

3 2

In [23]:
# 출력
print(quot_rem(17,5))

(3, 2)

## 10번 문제

In [34]:
# 함수
def print_positive(n):
    if n < 0:
        return (f"음수는 처리하지 않습니다")
    else:
        print(n)

In [35]:
# 출력
print_positive(-1)
print_positive(7)

7

In [36]:
# 함수
def print_positive(n):
    if n < 0:
        print("음수는 처리하지 않습니다")
        return
    print(n)

In [39]:
# 함수
def print_positive(n):
    if n < 0:
        print("음수는 처리하지 않습니다")
        return
    else:
        print(n)

In [40]:
# 출력
print_positive(-1)
print_positive(7)

음수는 처리하지 않습니다
7

## 11번 문제

In [45]:
# 함수

def rect(w, h):
    print(f"가로={w}, 세로={h}")

In [44]:
# 출력
rect(3, 5)

가로=3, 세로=5

## 12번 문제

In [46]:
# 출력(키워드 인자로 순서 바꿔서 출력)
rect(h=5,w=3)

가로=3, 세로=5

## 13번 문제

In [52]:
# 함수
def profile(name, age, city):
    print(f"이름: {name}\n나이: {age}\n도시: {city}")

In [53]:
profile(city="Seoul", age=25, name="Alice")

이름: Alice
나이: 25
도시: Seoul

In [54]:
# 함수(정답)
def profile(name, age, city):
    print("이름:", name)
    print("나이:", age)
    print("도시:", city)

In [55]:
profile(city="Seoul", age=25, name="Alice")

이름: Alice
나이: 25
도시: Seoul

## 14번 문제

In [1]:
# 함수
def sum_all(*args):
    return

In [2]:
# 출력
print(sum_all(1,2,3,4))

None

In [9]:
# 함수(정답)
def sum_all(*args):
    total = 0
    for i in args:
        total += i
    return total

In [10]:
# 출력
print(sum_all(1,2,3,4))

10

## 15번 문제

In [18]:
# 함수
def max_of(*args):
    result = 0
    for i in args:
        if i == max:
            return max
        else:
            return None

In [21]:
# 출력
print(max_of(3,7,2))

None

In [35]:
# 함수(정답)
def max_of(*args):
    if len(args) == 0:
        return None
    m = args[0]
    for i in args[1:]:
        if i == m:
            m = i
    return m

In [36]:
# 출력
print(max_of(3,7,2))
print(max_of())

3
None

## 16번 문제 ??

In [47]:
# 함수
def avg_args(*args):
    if len(args) == 0:
        return 0
    return sum(args / len(args))

In [48]:
print(avg_args(1,2,3,4))
print(avg_args())

TypeError: unsupported operand type(s) for /: 'tuple' and 'int'

## 17번 문제 - ?

In [78]:
# 함수
def show_setting(**kwargs):
    print(model="dev", debug="True")

In [79]:
# 출력
show_setting(mode="dev", debug="True")

TypeError: 'model' is an invalid keyword argument for print()

In [80]:
# 함수(정답)
def show_setting(**kwargs):
    for k,v in kwargs.items():
        print(f"{k}={v}")

In [81]:
# 출력(정답
show_setting(mode="dev", debug="True")

mode=dev
debug=True

## 18번 문제 - ?

In [104]:
# 함수(1차 시도)
def build_person(name="Unknow", age=0, city="Seoul", **kwargs):
    return {'name'="Unknow", 'age'=0, 'city'="Seoul"}

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (110546627.py, line 3)

In [100]:
# 출력
print(build_person(name="Alice", age=25))

NameError: name 'build_person' is not defined

In [110]:
# 함수(2차 시도)
def build_person(**kwargs):
    return {'name'='(kwargs.get('name','Unknown'))', 'age'='(kwargs.get('age',0))', 'city'='(kwargs.get('city','Seoul'))'}

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (2003285591.py, line 3)

In [114]:
# 함수(3차 시도)
def build_person(**kwargs):
    return {'name':kwargs.get('name','Unknown'), 'age':kwargs.get('age',0), 'city':kwargs.get('city','Seoul')}

In [115]:
# 출력(정답)
print(build_person(name="Alice", age=25))
print(build_person())

{'name': 'Alice', 'age': 25, 'city': 'Seoul'}
{'name': 'Unknown', 'age': 0, 'city': 'Seoul'}

## 19번 문제

In [116]:
def identity(x):
    return x

In [117]:
print(identity(123))
print(identity('abc'))

123
abc

## 20번 문제

In [121]:
# 함수(1차 시도)
def only_even(nums):
    result = []
    for i in nums:
        if i % 2 == 0:
            result.append
    return result

In [124]:
# 출력
print(only_even([1,2,3,4,5,6]))

[2, 4, 6]

In [125]:
# 함수(2차 시도)
def only_even(nums):
    result = []
    for i in nums:
        if i % 2 == 0:
            result.append(i)
    return result

In [126]:
# 출력
print(only_even([1,2,3,4,5,6]))

[2, 4, 6]

# 함수 심화 & 가변 인수 & 람다 (21~35)

## 21번 문제

In [139]:
# 함수
def remove_spaces(s):
    return s.strip

In [140]:
print(remove_spaces('a b  c'))

<built-in method strip of str object at 0x0000022EB8B73170>

In [141]:
# 함수(정답)
def remove_spaces(s):
    return s.replace(' ', '')

In [143]:
# 출력
print(remove_spaces('a b  c'))

abc

## 22번 문제

In [147]:
def double(x):
    return x = **x
def triple(x):
    retrun x = ***x

SyntaxError: invalid syntax (1928067463.py, line 2)

In [148]:
print(double(5) + triple(5))

NameError: name 'double' is not defined

In [156]:
# 함수(정답)
def double(x):
    return x * 2

def triple(x):
    return x * 3

In [158]:
# 출력(정답)
print(double(5) + triple(5))

25

## 23번 문제 - ?

In [162]:
# 함수
lambda square : square(6)

In [165]:
# 함수
squre = lambda x : x * x

In [166]:
print(squre(6))

36

## 24번 문제

In [175]:
# 함수
add2 = lambda x : x + y

In [177]:
# 함수(정답)
add2 = lambda a, b : a + b

In [179]:
# 출력(정답)
print(add2(3,4))

7

## 25번 문제 - ?

In [183]:
lambda a : sorted(age)

In [185]:
people=[{'name':'A', 'age':30}, {'name':'B','age':20}, {'name':'C', 'age':25}]
print(sorted(people, key=lambda x : x['age']))

[{'name': 'B', 'age': 20}, {'name': 'C', 'age': 25}, {'name': 'A', 'age': 30}]

## 26번 문제

In [187]:
words=['banana', 'kiwi', 'apple','a']
print(sorted(words, key=lambda x : len(x)))

['a', 'kiwi', 'apple', 'banana']

## 27번 문제 - ?

In [198]:
# 함수   
try:
    print(10/0)
except Exception as e:
    print(e)
    print("0으로 나눌 수 없습니다")

division by zero
0으로 나눌 수 없습니다

In [199]:
# 함수   
try:
    print(10/0)
except Exception as e:
    print("0으로 나눌 수 없습니다")

0으로 나눌 수 없습니다

## 28번 문제 - ?

In [205]:
def safe_div(a,b):
    try:
        b == 0
        print('None')
    except:
        print(a/b)

In [206]:
print(safe_div(10,0))
print(safe_div(5,2))

None
None
None
None

In [209]:
# 함수
def safe_div(a,b):
    try:
        return a / b
    except ZeroDivisionError:
        return 'None'

In [210]:
# 결과
print(safe_div(10,0))
print(safe_div(5,2))

None
2.5

## 29번 문제

In [214]:
# 함수(도전)
for i in nums:
try:
    result
except ZeroDivisionError:
    print(e)

IndentationError: expected an indented block after 'for' statement on line 1 (1511252588.py, line 2)

In [220]:
# 함수
nums=[2,0,5]
for i in nums:
    try:
        print(10 / i)
    except ZeroDivisionError:
        print("error")

5.0
error
2.0

## 30번 문제 - ?

In [223]:
try:
    i = int(input())
    print(10/i)
except:
    print("입력 또는 계산 오류")

1
10.0

## 31번 문제

In [17]:
# 함수(1차 시도)
def multi_divide(*args):
    try:
        result = args[0]
        for num in args[1:]:
            result = result / num
    except Exception as e:
        print(e)
    else:
        print(result)
        print("정상처리")

In [30]:
# 출력
multi_divide(10,2)

5.0
정상처리

In [27]:
# 함수(2차 시도)
def multi_divide(*args):
    try:
        result = args[0]
        for num in args[1:]:
            result = result / num
            print(result)
    except ZeroDivisionError:
        print("0으로 나눌 수 없습니다.")
    else:
        print("정상처리")

In [29]:
# 출력
multi_divide(10,2)

5.0
정상처리

In [23]:
# 정답
a=10
b=2
try:
    print(a/b)
except ZeroDivisionError:
    print('0으로 나눌 수 없습니다')
else:
    print('정상처리')

5.0
정상처리

## 32번 문제

In [68]:
# 함수(1차 시도 - 무조건 결과가 error가 되도록)
def zero_divide(*args):
    try:
        for num in args:
            result = num / 0
            print(result)
    except ZeroDivisionError:
        print('error')
    finally:
        print('끝')

In [70]:
zero_divide(31,1)

error
끝

In [71]:
# 정답
try:
    print(10/0)
except ZeroDivisionError:
    print('error')
finally:
    print('끝')

error
끝

## 33번 문제

In [74]:
# 함수(1차 시도)
def circle_circumference(r, pi=3.14):
    return 2 * pi * r

In [75]:
# 출력
circle_circumference(2)

12.56

In [76]:
# 출력
print(circle_circumference(2))

12.56

## 34번 문제

In [79]:
# 함수(1차 시도)
def odd_or_even(n):
    if n % 2 == 0:
        return 'even'
    else:
        return 'odd'

In [81]:
# 함수(1차 시도)
def odd_or_even(n):
    if n % 2 == 0:
        return 'even'
    return 'odd'

In [80]:
print(odd_or_even(4))
print(odd_or_even(7))

even
odd

## 35번 문제

In [84]:
# 함수(1차 시도)
def repeat(s, n):
    return s * n

In [85]:
print(repeat('ab', 3))

ababab

# 예외 처리(36~50)

## 36번 문제

In [101]:
# 함수(1차 시도)
def list_sum(nums):
    result= 0
    for i in nums:
        result = sum(i)
    return result

In [92]:
# 함수(2차 시도)
def list_sum(nums):
    result = sum(nums)
    return result

In [103]:
# 함수(3차 시도)
def list_sum(nums):
    result= 0
    for i in nums:
        result += i
    return result

In [104]:
print(list_sum([1,2,3,4]))

10

In [110]:
# 함수/출력(정답)
def list_sum(nums):
    total = 0
    for x in nums:
        total += x
    return total
    
print(list_sum([1,2,3,4]))

10

## 37번 문제

In [117]:
# 함수(1차 시도)
def range_value(nums):
    for i in nums:
        a = min(i)
        b = max(i)
    return b - a

In [125]:
# 함수(2차 시도)
def range_value(nums):
    a = min(nums)
    b = max(nums)
    return b - a

In [128]:
# 함수(정답)
def range_value(nums):
    return max(nums) - min(nums)

In [129]:
print(range_value([3,10, 1, 7]))

9

## 38번 문제

In [138]:
# 함수(1차 시도)
def format_price(price, currency='KRW'):
    return (f"{currency}: {price}")

In [139]:
print(format_price(12000))
print(format_price(15, currency='USD'))

KRW: 12000
USD: 15

In [142]:
# 함수(정답)
def format_price(price, currency='KRW'):
    return f"{currency}: {price}"

In [143]:
print(format_price(12000))
print(format_price(15, currency='USD'))

KRW: 12000
USD: 15

## 39번 문제

In [155]:
# 함수(1차 시도)
def concat(*args):
    return args[0:].replace(' ', '')

In [167]:
# 함수(2차 시도)
def concat(*args):
    return args.join

In [173]:
# 함수(정답)
def concat(*args):
    return ' '.join(args)

In [174]:
print(concat('I', 'Like', 'python'))

I Like python

## 40번 문제

In [183]:
# 함수(1차 시도)
def concat2(*args, sep='-'):
    return ' '.join(args)

In [182]:
print(concat2('a', 'b', 'c'))
print(concat2('a', 'b', 'c', sep=':'))

a b c
a b c

In [184]:
# 함수(정답)
def concat2(*args, sep='-'):
    return sep.join(args)

In [185]:
print(concat2('a', 'b', 'c'))
print(concat2('a', 'b', 'c', sep=':'))

a-b-c
a:b:c

## 41번 문제

In [197]:
# 함수(1차 시도)
def print_keys(**kwargs):
    return items(kwargs)

In [213]:
# 함수(2차 시도)
def print_keys(**kwargs):
    return ','.join(kwargs)

In [214]:
print(print_keys(a=1, b=2, c=3))

a,b,c

## 42번 문제

In [220]:
# 함수(1차 시도)
def sum_values(**kwargs):
    return sum(kwargs)

In [231]:
# 함수(2차 시도)
def sum_values(**kwargs):
    result = values.append(kwargs)
    return result

In [234]:
# 함수(정답)
def sum_values(**kwargs):
    return sum(kwargs.values())

In [236]:
print(sum_values(a=1, b=2, c=3))

6

## 43번 문제

In [250]:
# 함수(1차 지도)
def calc(a, b, op='+'):
    if op == '+':
        return a + b
    if op == '-':
        return a - b
    if op =='*':
        return a * b

In [251]:
# 함수(정답)
def calc(a, b, op='+'):
    if op == '+':
        return a + b
    if op == '-':
        return a - b
    if op =='*':
        return a * b
    return none

In [252]:
print(calc(3,4))
print(calc(10,7, op='-'))
print(calc(2,5, op='*'))

7
3
10

## 44번 문제

In [254]:
# 함수(1차 시도)
def find_first_even(nums):
    for n in nums:
        if n % 2 == 0:
            return n
        return None

In [258]:
# 함수(정답)
def find_first_even(nums):
    for n in nums:
        if n % 2 == 0:
            return n
    return None

In [259]:
# 출력
print(find_first_even([1,3,5,6,8]))
print(find_first_even([1,3,5,6,8]))

6
6

## 45번 문제

In [261]:
# 함수(1차 시도)
def move(x,y,dx,dy):
    return x+dx, y+dy

In [263]:
# 출력
nx, ny = move(2,3,5,-1)
print(nx, ny)

7 2

## 46번 문제

In [266]:
# 함수(1차 시도)
nums = [1,2,3,4]
list(map(lambda x: x * x, nums))

[1, 4, 9, 16]

## 47번 문제

In [267]:
# 함수(1차 시도)
words = ['a','to','java','phyon','go']
print(list(filter(lambda x: len(x) >= 4, words)))

['java', 'phyon']

## 48번 문제

In [268]:
def sum_with_bouns(*args, bouns=0):
    return sum_with_bouns(1,2,3, bouns=10))

SyntaxError: unmatched ')' (740436540.py, line 2)

In [269]:
print(sum_with_bonus(1,2,3, bonus=10))

NameError: name 'sum_with_bonus' is not defined

## 49번 문제

In [271]:
def order(item, qty=1, **kwargs):
    order('커피')
    order('샌드위치', qty=2, size='L', takeout=True)

## 50번 문제

In [286]:
def count_char(s, 19):
    return s.count('s','ch')

SyntaxError: invalid syntax (3840741499.py, line 1)

In [285]:
count_char s.count('banana','a')

SyntaxError: invalid syntax (2867369805.py, line 1)