## 문제 1번

### 우리 반 학생들의 이름과 나이 저장하기

* 1차

In [17]:
# 1차

student1 = {'메이킷': 17, '우진': 9, '시은': 11, '제임스': 10}
student1

{'메이킷': 17, '우진': 9, '시은': 11, '제임스': 10}

In [18]:
print(student1,type(student1))

{'메이킷': 17, '우진': 9, '시은': 11, '제임스': 10} <class 'dict'>

* 2차

In [19]:
# 2차
# dict 함수를 사용해 딕셔너리 만들기

student2 = dict(메이킷=17, 우진=9, 시은=11, 제임스=10)
student2

{'메이킷': 17, '우진': 9, '시은': 11, '제임스': 10}

In [20]:
print(student2,type(student2))

{'메이킷': 17, '우진': 9, '시은': 11, '제임스': 10} <class 'dict'>

## 문제 2번

### 자기소개

* 1안

In [44]:
# **<1안>**

# 딕셔너리 자료형 s
# dict함수 사용
s = dict(사는_곳='서울', 성별='여자', 이름='시은', 나이=11, 혈액형='b')

# dict 함수를 사용하여 딕셔너리 자료형을 만들 때, '사는 곳'키의 띄어쓰기 적용이 불가하다. 
# 때문에 띄어쓰기가 필요한 영역에 '_'를 사용 후 반복문과 replace 함수를 사용하여 '_'를 ' ' 으로 전환한다. 
result = {}
for k, v in s.items():
    new_k = k.replace('_', ' ')
    result[new_k] = v

# 출력 코드
print(f"""내가 살고 있는 곳은 {result['사는 곳']}입니다.
나의 성별은 {result['성별']} 이고 이름은 {result['이름']} 입니다.
나이는 {result['나이']}살 이고 혈액형은 {result['혈액형']} 형입니다.""")

내가 살고 있는 곳은 서울입니다.
나의 성별은 여자 이고 이름은 시은 입니다.
나이는 11살 이고 혈액형은 b 형입니다.

* 2안

In [32]:
# **<2안>**

# 딕셔너리 자료형 s
s = {'사는 곳':'서울', '성별':'여자', '이름':'시은', '나이':11, '혈액형':'b'}

# 출력 코드
print(f"""내가 살고 있는 곳은 {s['사는 곳']}입니다.
나의 성별은 {s['성별']} 이고 이름은 {s['이름']} 입니다.
나이는 {s['나이']}살 이고 혈액형은 {s['혈액형']} 형입니다.""")

내가 살고 있는 곳은 서울입니다.
나의 성별은 여자 이고 이름은 시은 입니다.
나이는 11살 이고 혈액형은 b 형입니다.

* 정답

In [37]:
# 정답 1

s = dict([('사는 곳','서울'),('성별','여자'),('이름','시은'),('나이',11), ('혈액형','b')])
s

{'사는 곳': '서울', '성별': '여자', '이름': '시은', '나이': 11, '혈액형': 'b'}

In [38]:
# 정답 2

print(f"내가 살고 있는 곳은 {s['사는 곳']}입니다.")
print(f"나의 성별은 {s['성별']}이고 이름은 {s['이름']}입니다.")
print(f"나이는 {s['나이']} 살 이고 혈액형은 {s['혈액형']} 형입니다.")

내가 살고 있는 곳은 서울입니다.
나의 성별은 여자이고 이름은 시은입니다.
나이는 11 살 이고 혈액형은 b 형입니다.

## 문제 3번

### 딕셔너리에 추가하기

* 1안

In [52]:
# 딕셔너리 자료형
s = {'사는 곳':'인천 송도','성별':'남자','이름':'우진'}

# 입력 코드
s['나이']=input('나이는 몇 살인가요?')
s['혈액형']=input('혈액형은 무엇인가요?')

# 출력 코드
print(f"""나의 성별은 {s['성별']} 이고 이름은 {s['이름']} 입니다.
나이는 {s['나이']} 살 이고 혈액형은 {s['혈액형']} 형입니다.""")

나이는 몇 살인가요?메롱
혈액형은 무엇인가요?메로나
나의 성별은 남자 이고 이름은 우진 입니다.
나이는 메롱 살 이고 혈액형은 메로나 형입니다.

* 2안

In [3]:
# 딕셔너리 자료형
# dict 함수 사용
s=dict(사는_곳='인천 송도', 성별='남자', 이름='우진')


# dict 함수를 사용하여 딕셔너리 자료형을 만들 때, '사는 곳'키의 띄어쓰기 적용이 불가하다. 
# 때문에 띄어쓰기가 필요한 영역에 '_'를 사용 후 반복문과 replace 함수를 사용하여 '_'를 ' ' 으로 전환한다. 
result = {}
for k, v in s.items():
    new_k = k.replace('_', ' ')
    result[new_k] = v

# 입력 코드
result['나이']=int(input('나이는 몇 살인가요?'))
result['혈액형']=input('혈액형은 무엇인가요?').upper() # 입력 문자를 대문자로 전환

# 출력 코드
print(f"""나의 성별은 {result['성별']} 이고 이름은 {result['이름']} 입니다.
나이는 {result['나이']} 살 이고 혈액형은 {result['혈액형']} 형입니다.""")

나이는 몇 살인가요?1
혈액형은 무엇인가요?ㅇ
나의 성별은 남자 이고 이름은 우진 입니다.
나이는 1 살 이고 혈액형은 ㅇ 형입니다.

* 3안

In [8]:
# 딕셔너리 자료형
# dict 함수 사용
s = {'사는 곳':'인천 송도', '성별':'남자', '이름':'우진'}


# 입력 코드
s['나이']=int(input('나이는 몇 살인가요?'))
s['혈액형']=input('혈액형은 무엇인가요?').upper()


# 출력 코드
print(f"""나의 성별은 {s['성별']} 이고 이름은 {s['이름']} 입니다.
나이는 {s['나이']} 살 이고 혈액형은 {s['혈액형']} 형입니다.""")

나이는 몇 살인가요?9
혈액형은 무엇인가요?b
나의 성별은 남자 이고 이름은 우진 입니다.
나이는 9 살 이고 혈액형은 B 형입니다.

## 문제 4번

### 딕셔너리에서 삭제하기

* 1안

In [18]:
# 딕셔너리 자료형
s = {'사는 곳':'인천 송도', '성별':'남자', '이름':'우진'}

# '사는 곳' key와 value 삭제
del s['사는 곳']

# 출력
s

{'성별': '남자', '이름': '우진'}

* 2안

In [23]:
# dict 함수 사용
s = dict(사는곳='인천 송도', 성별='남자',이름='우진')

# '사는 곳' key와 value 삭제
del s['사는곳']

# 출력
result

{'성별': '남자', '이름': '우진'}

* 정답

In [32]:
s = {'사는 곳':'인천 송도', '성별':'남자', '이름':'우진'}

# del s['사는 곳']
# 또는
s.pop('사는 곳', '정보 없음')
s

{'성별': '남자', '이름': '우진'}

## 문제 5번

### 딕셔너리에서 뽑아내기 key(), values(), items()

* 1안

In [45]:
# keys()
# dict 함수
s = dict(사는곳='인천 송도', 성별='남자',이름='우진')

result = list(s.keys())
result

['사는곳', '성별', '이름']

In [46]:
# values()
# dict 함수
s = dict(사는곳='인천 송도', 성별='남자',이름='우진')

result = list(s.values())
result

['인천 송도', '남자', '우진']

In [47]:
# items()
# dict 함수
s = dict(사는곳='인천 송도', 성별='남자',이름='우진')

result = list(s.items())
result

[('사는곳', '인천 송도'), ('성별', '남자'), ('이름', '우진')]

* 2안

In [52]:
# keys()
s = {'사는곳':'인천 송도', '성별':'남자','이름':'우진'}

list(s.keys())

['사는곳', '성별', '이름']

In [54]:
# values()
s = {'사는곳':'인천 송도', '성별':'남자','이름':'우진'}

list(s.values())

['인천 송도', '남자', '우진']

In [55]:
# items()
s = {'사는곳':'인천 송도', '성별':'남자','이름':'우진'}

list(s.items())

[('사는곳', '인천 송도'), ('성별', '남자'), ('이름', '우진')]

## 문제 6번

### 딕셔너리와 if 조건문의 만남

* 1안

In [8]:
# 코드
store = {'새우칩':1500, '옥수수칩':1800, '콜라':700, '양파칩':1300}

# 입력 코드

store=input('물품을 입력하면 가격을 알려드립니다.\n물품 이름은?')

# 출력 코드
print(f"""{store}의 가격은 {store} 입니다.
{store}는 등록되어 있지 않습니다.""")

물품을 입력하면 가격을 알려드립니다.
물품 이름은? 새우칩

새우칩의 가격은 새우칩 입니다.
새우칩는 등록되어 있지 않습니다.

In [12]:
# 코드
store = {'새우칩':1500, '옥수수칩':1800, '콜라':700, '양파칩':1300}

# 입력 코드
print('물품을 입력하면 가격을 알려드립니다.')
input_name=input('물품 이름은?')

# 출력 코드
if input_name in store:
    print(f"""{input_name}의 가격은 {store[input_name]} 입니다.""")
else:
    print(f"""{input_name}는 등록되어 있지 않습니다.""")

물품을 입력하면 가격을 알려드립니다.

물품 이름은? 새우칩

새우칩의 가격은 1500 입니다.

## 문제 7번

### 딕셔너리의 값으로 리스트 사용하기

* 1안

In [34]:
# 반복문 미사용

# store 딕셔너리
store = {'새우칩':[1500,3], '옥수수칩':[1800,2],'콜라':[700,4],'양파칩':[1300,1]}

# key, value 구분
name_list = list(store.keys()) # ['새우칩', '옥수수칩', '콜라', '양파칩']
value_list = list(store.values()) # [[1500, 3], [1800, 2], [700, 4], [1300, 1]]

# 출력 코드
print(f"1 번 물품은 {name_list[0]} 이고 가격은 {value_list[0][0]} 원이고 수량은 {value_list[0][1]} 개입니다.")
print(f"2 번 물품은 {name_list[1]} 이고 가격은 {value_list[1][0]} 원이고 수량은 {value_list[1][1]} 개입니다.")
print(f"3 번 물품은 {name_list[2]} 이고 가격은 {value_list[2][0]} 원이고 수량은 {value_list[2][1]} 개입니다.")
print(f"4 번 물품은 {name_list[3]} 이고 가격은 {value_list[3][0]} 원이고 수량은 {value_list[3][1]} 개입니다.")


# 물건 종류
total_type_count = len(store)

# 총 물건 개수
total_qty = store['새우칩'][1] + store['옥수수칩'][1] + store['콜라'][1] + store['양파칩'][1]

# 총 가격
total_price = store['새우칩'][0] * store['새우칩'][1] + store['옥수수칩'][0] * store['옥수수칩'][1] + store['콜라'][0] * store['콜라'][1] + store['양파칩'][0] * store['양파칩'][1]

# 평균 가격
total_avg = total_price / total_qty

# 출력 코드
print(f"우리 가게는 {total_type_count} 개의 물건 종류가 있습니다.")
print(f"우리 가게 모든 물건 수량은 {total_qty} 개 있습니다.")
print(f"우리 가게 모든 물건들의 가격 총합은 {total_price} 원입니다.")
print(f"우리 가게 모든 물건들의 평균 가격은 {total_avg} 원입니다.")

1 번 물품은 새우칩 이고 가격은 1500 원이고 수량은 3 개입니다.
2 번 물품은 옥수수칩 이고 가격은 1800 원이고 수량은 2 개입니다.
3 번 물품은 콜라 이고 가격은 700 원이고 수량은 4 개입니다.
4 번 물품은 양파칩 이고 가격은 1300 원이고 수량은 1 개입니다.
우리 가게는 4 개의 물건 종류가 있습니다.
우리 가게 모든 물건 수량은 10 개 있습니다.
우리 가게 모든 물건들의 가격 총합은 12200 원입니다.
우리 가게 모든 물건들의 평균 가격은 1220.0 원입니다.

## 문제 8번

### 딕셔너리의 값으로 딕셔너리 사용하기

* 1안

In [3]:
# 
student = {'우진':{'코딩':95, '수학':99}, '시은':{'과학':100,'코딩':99},'메이킷':{'영어':85,'코딩':100}}

# 출력 코드
print(f"우진이의 코딩 점수는? {student['우진']['코딩']}")
print(f"시은이의 과학 점수는? {student['시은']['과학']}")
print(f"메이킷의 영어 점수는? {student['메이킷']['영어']}")

우진이의 코딩 점수는? 95
시은이의 과학 점수는? 100
메이킷의 영어 점수는? 85

In [16]:
# 딕셔너리 데이터(중첩 딕셔너리)
student_result = dict(우진=dict(코딩=95, 수학=99), 시은=dict(과학=100,코딩=99), 메이킷=dict(영어=85, 코딩=100))

# 반복문 사용
for name in student_result:

    subject_list = list((student_result[name]).keys())
    
    first_subject = subject_list[0]
    
    scores = student_result[name][first_subject]
    
    print(f"{name}이의 {first_subject} 점수는? {scores}")

우진이의 코딩 점수는? 95
시은이의 과학 점수는? 100
메이킷이의 영어 점수는? 85

## 문제 9번

### 두 수 비교하기

* 1안

In [21]:
x = int(input("첫 번째 점수를 입력하세요: "))
y = int(input("두 번째 점수를 입력하세요: "))

if x > y:
    print("makit")
elif x <= y:
    print("woojin")

첫 번째 점수를 입력하세요:  1
두 번째 점수를 입력하세요:  3

woojin

## 문제 10번

### 세 개의 수 비교하기

* 1안

## 문제 11번

### 홀수 찾기

* 1안

## 문제 12번

### 양수, 음수, 홀수, 짝수 구분하기

* 1안

## 문제 13번

### 성적 결과 계산하기

* 1안

## 문제 14번

### 입력에 따라 친구 이름 출력하기

* 1안

## 문제 15번

### 봄, 여름, 가을, 겨울

* 1안

## 문제 16번

### 12월은 31일까지 있어요

* 1안

## 문제 17번

### 까다로운 놀이기구 1

* 1안

## 문제 18번

### 까다로운 놀이기구 2

* 1안

## 문제 19번

### 까다로운 놀이기구 3

* 1안

## 문제 20번

### 터널 통과하기 1

* 1안

## 문제 21번

### 딕셔너리와 if 조건문의 만남

* 1안

## 문제 22번

### 딕셔너리와 if 조건문의 만남

* 1안

## 문제 23번

### 딕셔너리와 if 조건문의 만남

* 1안

## 문제 24번

### 딕셔너리와 if 조건문의 만남

* 1안

## 문제 25번

### 딕셔너리와 if 조건문의 만남

* 1안

## 문제 26번

### 딕셔너리와 if 조건문의 만남

* 1안

## 문제 27번

### 딕셔너리와 if 조건문의 만남

* 1안

## 문제 28번

### 딕셔너리와 if 조건문의 만남

* 1안

## 문제 29번

### 딕셔너리와 if 조건문의 만남

* 1안

## 문제 30번

### 딕셔너리와 if 조건문의 만남

* 1안

## 문제 31번

### 음수가 나올 때까지 반복하기

* 1안

## 문제 32번

### 옆으로 출력하기

* 1안

## 문제 33번

### "1+2+3+4+5=15"

* 1안

## 문제 34번

### 짝수들만 합하기

* 1안

## 문제 35번

### for 반복문과 문자열의 만남

* 1안

## 문제 36번

### for 반복문과 리스트의 만남

* 1안

## 문제 37번

### 다음 반복문으로 바로가기(continue)

* 1안

## 문제 38번

### 반복문 깨고 바로 나가기(break)

* 1안

## 문제 39번

### 가장 작은 숫자 찾기

* 1안

## 문제 40번

### 터널 통과하기 2

* 1안

## 문제 41번

### 행운의 숫자 7 모두 찾기

* 1안

## 문제 42번

### 약수 구하기

* 1안

## 문제 43번

### 리스트 최대, 최소, 평균 구하기 1

* 1안

## 문제 44번

### 리스트 최대, 최소, 평균 구하기 2

* 1안

## 문제 45번

### 각 자릿수의 합 구하기 1

* 1안

## 문제 46번

### 각 자릿수의 합 구하기 2

* 1안

## 문제 47번

### 카이사르 암호

* 1안

## 문제 48번

### 소문자는 대문자로, 대문자는 소문자로 변환하기

* 1안