# 반복문 for, while
* 동일한 작업을 여러 번 반복하야 할 경우 사용
* for, while 두 종류의 반복문이 있음
* for문은 **반복 횟수가 정해져 있는 경우** 사용
* while문은 **반복 횟수가 정해지지 않은 경우(무한 반복/특정 조건을 만족하는 경우만 실행)**   -> 데이터 수집할 때 사용

## 1. for 반복문: 반복할 횟수가 정해져 있는 경우
``` python
for 변수명 in 반복할 자료/객체(문자열, 리스트, 튜플, 딕셔너리):
    반복할 코드
```

In [ ]:
# 숫자 생성 함수 range(시작, 끝+1, step)

In [3]:
# for문을 이용해서 숫자 1-10을 출력
for num in [1,2,3,4,5,6,7,8,9,10]:
    print(num, end=" ")

1 2 3 4 5 6 7 8 9 10

In [4]:
# for문을 이용해서 숫자 1-10을 출력
for num in range(1,11):
    print(num, end=" ")

1 2 3 4 5 6 7 8 9 10

## 순서가 있는 자료형(문자열, 리스트, 튜플) + 순서는 없지만 딕셔너리는 for문에서 반복 가능

### 문자열을 for문에 넣으면 문자열의 길이만큼 반복됨

In [5]:
len("파이썬은 문자열을 반복문에 넣어 출력 가능")

23

In [6]:
for char in "파이썬은 문자열을 반복문에 넣어 출력 가능":
    print(char)

파
이
썬
은

문
자
열
을

반
복
문
에

넣
어

출
력

가
능

In [7]:
for char in "파이썬은 문자열을 반복문에 넣어 출력 가능":
    print(char, end=" ")

파 이 썬 은   문 자 열 을   반 복 문 에   넣 어   출 력   가 능

In [8]:
s = "파이썬은 문자열을 반복문에 넣어 출력 가능"
for char in s:
    print(char, end=" ")

파 이 썬 은   문 자 열 을   반 복 문 에   넣 어   출 력   가 능

### list로 자료의 길이만큼 반복됨

In [9]:
l1 = [1,2,3,4,[5,6,7],[8,9,10]]
print(len(l1))

6

In [10]:
for item in l1:
    print(item)

1
2
3
4
[5, 6, 7]
[8, 9, 10]

### tuple도 길이 만큼 반복

In [12]:
t = (1,2,3,4,5,(5,6,7),(8,9,10))
len(t)

7

In [13]:
for item in t:
    print(item)

1
2
3
4
5
(5, 6, 7)
(8, 9, 10)

### 길이가 있는 자료를 슬라이싱해서 반복 위치나 횟수 조절 가능

In [14]:
l1
print(len(l1))
print(len(l1[2:4]))

6
2

In [15]:
for item in l1:
    print(item)

1
2
3
4
[5, 6, 7]
[8, 9, 10]

In [16]:
for item in l1[2:4]:
    print(item)

3
4

In [17]:
for item in l1[::2]:
    print(item)

1
3
[5, 6, 7]

In [18]:
for item in l1[::-1]:
    print(item)

[8, 9, 10]
[5, 6, 7]
4
3
2
1

In [19]:
for item in l1[::-2]:
    print(item)

[8, 9, 10]
4
2

# dic를 반복문에서 사용하기
* key의 갯수만큼 반복
* keys(), values(), items() 함수와 함께 사용하면 list처럼 쓸 수 있음.

In [21]:
d = dict(이름="홍길동",나이=40, 주소="서울", 전화번호="010-1111-2232")

In [22]:
d

{'이름': '홍길동', '나이': 40, '주소': '서울', '전화번호': '010-1111-2232'}

In [23]:
len(d)

4

### 딕셔너리의 key를 출력할 때는 for문에 넣으면 바로 출력
* 딕셔너리.keys()

In [2]:
for key in d:
    print(key)

NameError: name 'd' is not defined

In [25]:
for key in d:
    print(d[key])

홍길동
40
서울
010-1111-2232

In [27]:
d.values()

dict_values(['홍길동', 40, '서울', '010-1111-2232'])

### 딕셔너리의 value만 출력하고 싶을 때 .values()

In [28]:
# values()
for value in d.values():
    print(value)

홍길동
40
서울
010-1111-2232

In [36]:
# values()
for value in d.values()[2:4]:
    print(value)

TypeError: 'dict_values' object is not subscriptable

In [37]:
# values()
for value in list(d.values())[2:4]:
    print(value)

서울
010-1111-2232

In [29]:
# items()
d.items()

dict_items([('이름', '홍길동'), ('나이', 40), ('주소', '서울'), ('전화번호', '010-1111-2232')])

In [32]:
t2 = 1,2,3
print(t2, type(t2))

(1, 2, 3) <class 'tuple'>

### key와 vaule를 같이 출력하고 싶을 때 items()

In [31]:
# a, b, c = 1, 2, 3
for item in d.items():
    print(item)

('이름', '홍길동')
('나이', 40)
('주소', '서울')
('전화번호', '010-1111-2232')

In [39]:
# a, b, c = 1, 2, 3
for key, value in d.items():
    print(key)
    
    print(value)

이름
홍길동
나이
40
주소
서울
전화번호
010-1111-2232

In [35]:
#많이 사용한다.

# a, b, c = 1, 2, 3
for key, value in d.items():
    print(key, value)

이름 홍길동
나이 40
주소 서울
전화번호 010-1111-2232

* for 반복문을 이용해서 1부터 10까지 정수를 더한 합을 출력하세요.
    * 1부터 10까지 숫자를 만들어서 반복문에 넣는다.
    * 1부터 10까지 누적 덧셈을 한다.
    * 누적 덧셈을 한 결과를 출력 한다.

In [40]:
for num in range(1,11):
    print(num)

1
2
3
4
5
6
7
8
9
10

In [43]:
for num in range(1,11):
    hap = 0
#     print(num)
    hap = hap + num
    print(hap)

1
2
3
4
5
6
7
8
9
10

In [44]:
hap = 0 # for문 밖에다 만들어야 누적합이 된다.
for num in range(1,11):
#     print(num)
    hap = hap + num
    print(hap)

1
3
6
10
15
21
28
36
45
55

In [47]:
hap = 0
for num in range(1,11):
    print(f"hap: {hap} + num: {num}")
    hap = hap + num
    print(hap)

hap: 0 + num: 1
1
hap: 1 + num: 2
3
hap: 3 + num: 3
6
hap: 6 + num: 4
10
hap: 10 + num: 5
15
hap: 15 + num: 6
21
hap: 21 + num: 7
28
hap: 28 + num: 8
36
hap: 36 + num: 9
45
hap: 45 + num: 10
55

* 1부터 10까지 수 중에서 짝수인 수의 합을 구하시오.
    - 1-50 숫자 만들기 (range(1,51))
    - 홀수, 짝수 구분 if % 2 == 0
    - 짝수일 때 누적 합, 결과 저장은 hap
    - 최종 결과 출력

In [53]:
hap = 0
for num in range(1,51):
#     print(num, end=" ")
    if num % 2 == 0:
#         hap = hap + num
        print(f"{hap}+{num}")
        hap += num
        print(hap)

0+2
2
2+4
6
6+6
12
12+8
20
20+10
30
30+12
42
42+14
56
56+16
72
72+18
90
90+20
110
110+22
132
132+24
156
156+26
182
182+28
210
210+30
240
240+32
272
272+34
306
306+36
342
342+38
380
380+40
420
420+42
462
462+44
506
506+46
552
552+48
600
600+50
650

In [54]:
hap = 0
for num in range(1,51):
    if num % 2 == 0:
        hap += num
        
print(hap)

650

* 1-100까지 수를 만들고 그 중에서 30-70까지만 더해서 출력하세요.
* 과정 출력
* 2가지 방법을 이용해서 코드 작성
    * if문 사용
    * 슬라이싱

* if문 사용

In [70]:
hap = 0
for num in range(1,101):
    if num in range(30,71):
        hap = hap + num
        print(hap)

30
61
93
126
160
195
231
268
306
345
385
426
468
511
555
600
646
693
741
790
840
891
943
996
1050
1105
1161
1218
1276
1335
1395
1456
1518
1581
1645
1710
1776
1843
1911
1980
2050

In [72]:
# if조건문으로 필터링해서 더하기
hap = 0
for num in range(1,101):
    if 30 <= num <= 70: 
        print(f"hap: {hap} + num: {num}")
        hap += num
print(hap)

hap: 0 + num: 30
hap: 30 + num: 31
hap: 61 + num: 32
hap: 93 + num: 33
hap: 126 + num: 34
hap: 160 + num: 35
hap: 195 + num: 36
hap: 231 + num: 37
hap: 268 + num: 38
hap: 306 + num: 39
hap: 345 + num: 40
hap: 385 + num: 41
hap: 426 + num: 42
hap: 468 + num: 43
hap: 511 + num: 44
hap: 555 + num: 45
hap: 600 + num: 46
hap: 646 + num: 47
hap: 693 + num: 48
hap: 741 + num: 49
hap: 790 + num: 50
hap: 840 + num: 51
hap: 891 + num: 52
hap: 943 + num: 53
hap: 996 + num: 54
hap: 1050 + num: 55
hap: 1105 + num: 56
hap: 1161 + num: 57
hap: 1218 + num: 58
hap: 1276 + num: 59
hap: 1335 + num: 60
hap: 1395 + num: 61
hap: 1456 + num: 62
hap: 1518 + num: 63
hap: 1581 + num: 64
hap: 1645 + num: 65
hap: 1710 + num: 66
hap: 1776 + num: 67
hap: 1843 + num: 68
hap: 1911 + num: 69
hap: 1980 + num: 70
2050

* 슬라이싱 사용

In [77]:
# 슬라이싱으로 필터링해서 더하기
hap = 0
for num in range(1,101)[29:70]:
    print(f"hap: {hap} + num: {num}")
    hap += num
print(hap)

hap: 0 + num: 30
hap: 30 + num: 31
hap: 61 + num: 32
hap: 93 + num: 33
hap: 126 + num: 34
hap: 160 + num: 35
hap: 195 + num: 36
hap: 231 + num: 37
hap: 268 + num: 38
hap: 306 + num: 39
hap: 345 + num: 40
hap: 385 + num: 41
hap: 426 + num: 42
hap: 468 + num: 43
hap: 511 + num: 44
hap: 555 + num: 45
hap: 600 + num: 46
hap: 646 + num: 47
hap: 693 + num: 48
hap: 741 + num: 49
hap: 790 + num: 50
hap: 840 + num: 51
hap: 891 + num: 52
hap: 943 + num: 53
hap: 996 + num: 54
hap: 1050 + num: 55
hap: 1105 + num: 56
hap: 1161 + num: 57
hap: 1218 + num: 58
hap: 1276 + num: 59
hap: 1335 + num: 60
hap: 1395 + num: 61
hap: 1456 + num: 62
hap: 1518 + num: 63
hap: 1581 + num: 64
hap: 1645 + num: 65
hap: 1710 + num: 66
hap: 1776 + num: 67
hap: 1843 + num: 68
hap: 1911 + num: 69
hap: 1980 + num: 70
2050

* 100에서 1까지 더하는 반복문을 만드세요.
* range에서 역순으로 숫자를 생성
* range(1,101) 역순으로 인덱싱
* 최종 결과만 출력

In [87]:
hap = 0
for num in range(1, 101)[::-1]:
    hap = hap + num
    print(hap)

100
199
297
394
490
585
679
772
864
955
1045
1134
1222
1309
1395
1480
1564
1647
1729
1810
1890
1969
2047
2124
2200
2275
2349
2422
2494
2565
2635
2704
2772
2839
2905
2970
3034
3097
3159
3220
3280
3339
3397
3454
3510
3565
3619
3672
3724
3775
3825
3874
3922
3969
4015
4060
4104
4147
4189
4230
4270
4309
4347
4384
4420
4455
4489
4522
4554
4585
4615
4644
4672
4699
4725
4750
4774
4797
4819
4840
4860
4879
4897
4914
4930
4945
4959
4972
4984
4995
5005
5014
5022
5029
5035
5040
5044
5047
5049
5050

In [85]:
hap = 0
for num in range(100, 0, -1):
    hap += num
print(hap)

5050

In [90]:
hap = 0
for num in range(1, 101)[::-1]:
    hap += num
print(hap)

5050

* reversed() 반복문 안에서 리스트를 역순으로 뒤집는 함수

In [93]:
hap = 0
for num in reversed(range(1, 101)):
    hap += num
print(hap)

5050

## enumerate() 반복문에서 자료의 인덱스 번호를 만들어주는 함수

In [94]:
s = "enumerate 함수는 반복문에서 index를 만들어 출력해 주는 함수 입니다."

In [96]:
for item in enumerate(s):
    print(item)

(0, 'e')
(1, 'n')
(2, 'u')
(3, 'm')
(4, 'e')
(5, 'r')
(6, 'a')
(7, 't')
(8, 'e')
(9, ' ')
(10, '함')
(11, '수')
(12, '는')
(13, ' ')
(14, '반')
(15, '복')
(16, '문')
(17, '에')
(18, '서')
(19, ' ')
(20, 'i')
(21, 'n')
(22, 'd')
(23, 'e')
(24, 'x')
(25, '를')
(26, ' ')
(27, '만')
(28, '들')
(29, '어')
(30, ' ')
(31, '출')
(32, '력')
(33, '해')
(34, ' ')
(35, '주')
(36, '는')
(37, ' ')
(38, '함')
(39, '수')
(40, ' ')
(41, '입')
(42, '니')
(43, '다')
(44, '.')

In [100]:
import time
for idx,item in enumerate(s):
    print(f"현재 반복 횟수: {idx+1}/{len(s)}", end="\r")
    time.sleep(0.5)

In [101]:
d = dict(이름="홍길동", 나이=30, 전화번호="010-1111-2222", 주소="서울")

In [103]:
d

{'이름': '홍길동', '나이': 30, '전화번호': '010-1111-2222', '주소': '서울'}

In [104]:
for item in d.items():
    print(item)

('이름', '홍길동')
('나이', 30)
('전화번호', '010-1111-2222')
('주소', '서울')

In [105]:
for item in enumerate(d.items()):
    print(item)

(0, ('이름', '홍길동'))
(1, ('나이', 30))
(2, ('전화번호', '010-1111-2222'))
(3, ('주소', '서울'))

In [107]:
for idx, item in enumerate(d.items()):
    print(idx, item)

0 ('이름', '홍길동')
1 ('나이', 30)
2 ('전화번호', '010-1111-2222')
3 ('주소', '서울')

In [108]:
for idx, key, value in enumerate(d.items()):
    print(idx, key, value)

ValueError: not enough values to unpack (expected 3, got 2)

In [109]:
for idx, (key, value) in enumerate(d.items()):
    print(idx, key, value)

0 이름 홍길동
1 나이 30
2 전화번호 010-1111-2222
3 주소 서울

### continue, break
* continue: 코드 실행을 건너 뛰고 반복문을 계속 실행
* break: 특정 조건이 되었을 때 반복을 강제로 중단

In [116]:
# s문자열에서 인덱스 번호가 4의 배수인 경우의 글자만 출력하세요.
for idx,item in enumerate(s):
    if idx % 4 == 0:
        print(idx, item)
        
#     time.sleep(0.5)

0 e
4 e
8 e
12 는
16 문
20 i
24 x
28 들
32 력
36 는
40
44 .

In [124]:
# 인덱스가 짝수인 경우에는 건너뛰고 홀수인 경우에는 합쳐서 출력하세요.
# 단, 인덱스 20번까지만 출력하고 멈추세요.
for idx,item in enumerate(s):
    if idx % 2 == 0:
        print(f"{idx}continue 앞에 있는 프린트문")
        continue
        print(idx)
        print(f"{idx}continue 뒤에 있는 프린트문")
    else:
        if idx <= 20:
            print((idx,item))
        elif idx > 20:
            break

0continue 앞에 있는 프린트문
(1, 'n')
2continue 앞에 있는 프린트문
(3, 'm')
4continue 앞에 있는 프린트문
(5, 'r')
6continue 앞에 있는 프린트문
(7, 't')
8continue 앞에 있는 프린트문
(9, ' ')
10continue 앞에 있는 프린트문
(11, '수')
12continue 앞에 있는 프린트문
(13, ' ')
14continue 앞에 있는 프린트문
(15, '복')
16continue 앞에 있는 프린트문
(17, '에')
18continue 앞에 있는 프린트문
(19, ' ')
20continue 앞에 있는 프린트문

* 1-100까지 숫자를 만들고 짝수는 건너뛰고 홀수는 합을 구하세요.
* 단 50까지만 계산하고 멈추세요.
* 홀수의 합을 출력하세요.

In [127]:
for item in range(0, 101):
    if item % 2 == 0:
        continue
    else:
        if item <= 50:
            print(item)
        elif item >= 51:
            break

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [130]:
hap = 0
for num in range(0, 101):
    if num % 2 == 0:
        continue
    else:
        if num <= 50:
            hap += num
        else:
            break
print(hap)

625

# while문: 반목할 횟수가 정재지지 않은 경우
* 무한 반복 가능
* 무한 반복 되지 않도록 조건식을 잘 짜주는 것이 중요
```python
변수 선언 및 초기화
while 조거식:
    반복할 코드
    변수 증가/잠소 코드
    반목이 종료되는 조건 + break
```

In [131]:
# for문으로 1-10까지 출력하기
for num in range(1,11):
    print(num, end=" ")

1 2 3 4 5 6 7 8 9 10

In [132]:
num = 1
while num <= 10:
    print(num, end=" ")
    num+= 1

1 2 3 4 5 6 7 8 9 10

In [4]:
num = 1
while True: # 무한으로 돈다.
    print(num, end=" ")
    num += 1
    if num > 10:
        break
    
    # 이러한 식을 많이 사용한다. 이 패턴에 익숙해야 한다.

1 2 3 4 5 6 7 8 9 10

* 20에서 1까지 숫자를 더한 값을 출력

In [141]:
num = 20
hap = 0
while True:
    print(num, end=" ")
    hap += num
    print(hap)
    
    num -= 1
    if num == 0: # 숫자가 0이 되면 멈추도록
        break

20 20
19 39
18 57
17 74
16 90
15 105
14 119
13 132
12 144
11 155
10 165
9 174
8 182
7 189
6 195
5 200
4 204
3 207
2 209
1 210

# 중첩 반복문
* 반복문을 2개 이상 겹쳐서 사용
* 바늘 시계의 원리와 같음
* 안쪽의 반복문이 먼저 돌고 반복이 끝나면 바깥쪽 반복문이 실행
* 초침 -> 분침 -> 시침

### 구구단 만들기 2중 중첩 반복문
* 2단 - 9단
* 2 X 1 = 2
* 2 X 2
* 9 X 9 = 81

In [148]:
for num1 in range(2,10):
#     print(num1, end=" ")
    for num2 in range(1,10):
#         print(f"num1: {num1}, num2: {num2}")
        print(f"{num1} X {num2} = {num1*num2}")

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

* 반복문 3개로 시계 만들기
* 초 00 - 59
* 분 00 - 59
* 시 00 - 23

In [5]:
%time
import time
for si in range(0,24):
    for bun in range(0,60):
        for cho in range(0,60):
            time.sleep(0.1)
            print(f"{si:02d}:{bun:02d}:{cho:02d}", end="\r")

CPU times: total: 0 ns
Wall time: 0 ns

KeyboardInterrupt:

# 중첩 반복문을 사용해서 다중 리스트 출력하기

In [157]:
l1 = []

In [166]:
l1.append(list(range(1,21)))
l1

[[1, 2, 3, 4, 5],
 [1, 2, 3, 4, 5],
 [1, 2, 3, 4, 5],
 [1, 2, 3, 4, 5],
 [1, 2, 3, 4, 5],
 [1],
 [1, 2, 3],
 [1, 2, 3, 4, 5, 6],
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]]

In [174]:
#해체하는 작업

result = []
for item1 in l1:
#     print(item1)
    for item2 in item1:
#         print(item2)
        result.append(item2)
result

[1,
 2,
 3,
 4,
 5,
 1,
 2,
 3,
 4,
 5,
 1,
 2,
 3,
 4,
 5,
 1,
 2,
 3,
 4,
 5,
 1,
 2,
 3,
 4,
 5,
 1,
 1,
 2,
 3,
 1,
 2,
 3,
 4,
 5,
 6,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20]

In [173]:
# 이중포문과 동일한 결과

result = []
for item1 in l1:
    for item2 in item1:
        result = result + item1
result

[1,
 2,
 3,
 4,
 5,
 1,
 2,
 3,
 4,
 5,
 1,
 2,
 3,
 4,
 5,
 1,
 2,
 3,
 4,
 5,
 1,
 2,
 3,
 4,
 5,
 1,
 2,
 3,
 4,
 5,
 1,
 2,
 3,
 4,
 5,
 1,
 2,
 3,
 4,
 5,
 1,
 2,
 3,
 4,
 5,
 1,
 2,
 3,
 4,
 5,
 1,
 2,
 3,
 4,
 5,
 1,
 2,
 3,
 4,
 5,
 1,
 2,
 3,
 4,
 5,
 1,
 2,
 3,
 4,
 5,
 1,
 2,
 3,
 4,
 5,
 1,
 2,
 3,
 4,
 5,
 1,
 2,
 3,
 4,
 5,
 1,
 2,
 3,
 4,
 5,
 1,
 2,
 3,
 4,
 5,
 1,
 2,
 3,
 4,
 5,
 1,
 2,
 3,
 4,
 5,
 1,
 2,
 3,
 4,
 5,
 1,
 2,
 3,
 4,
 5,
 1,
 2,
 3,
 4,
 5,
 1,
 2,
 3,
 4,
 5,
 1,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 4,
 5,
 6,
 1,
 2,
 3,
 4,
 5,
 6,
 1,
 2,
 3,
 4,
 5,
 6,
 1,
 2,
 3,
 4,
 5,
 6,
 1,
 2,
 3,
 4,
 5,
 6,
 1,
 2,
 3,
 4,
 5,
 6,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20]