# 딕셔너리 사용하기
* 딕셔너리 dict타입, JSON형이라고도 함
* web에서 자료를 주고받을 때 주로 사용하는 방식(API)
* key : value 쌍으로 이루어진 자료형
* key를 호출하면 value가 나온다.
* 자료에 이름표를 붙인 형태
* key에는 list, dict를 제외한 자료형이 올 수 있다.
* value에는 모든 자료형의 데이터가 들어갈 수 있다.

# 딕셔너리 만들기
* 중괄호 안에 key : value 쌍으로 만든다.
* 빈 딕셔너리 생성 가능 {}
* dict() 함수를 이용해서 대량의 딕셔너리 생성 가능

In [1]:
d = {'년월' : '20250314', '국가' : '미국', '방문자수' : 1000}
d

{'년월': '20250314', '국가': '미국', '방문자수': 1000}

In [3]:
d['국가']

'미국'

In [4]:
d2 = {}
print(d2, type(d2))

{} <class 'dict'>

# dict key의 자료형
* 문자열, 정수, 실수, 불린(True/Flase), tuple
* dict, list는 key가 될 수 없다.
* key는 변경되지 않는 값이어야 한다.

In [5]:
d3 = {"백" : 100, 100 : "백", 3.5 : [2.5, 2.7], False : 0, (0, "서울") : "종로구"}
d3

{'백': 100, 100: '백', 3.5: [2.5, 2.7], False: 0, (0, '서울'): '종로구'}

In [6]:
# list는 key로 올 수 없음
d4 = {"백" : 100, 100 : "백", 3.5 : [2.5, 2.7], False : 0, [0, "서울"] : "종로구"}
d4

TypeError: unhashable type: 'list'

In [8]:
# dict는 key로 올 수 없음
d5 = {"백" : 100, 100 : "백", 3.5 : [2.5, 2.7], False : 0, {0 : "서울"} : "종로구"}
d5

TypeError: unhashable type: 'dict'

In [9]:
d3

{'백': 100, 100: '백', 3.5: [2.5, 2.7], False: 0, (0, '서울'): '종로구'}

In [10]:
d3['백']

100

In [11]:
d3[100]

'백'

In [12]:
d3[3.5]

[2.5, 2.7]

In [13]:
d3[False]

0

In [14]:
d3[(0, '서울')]

'종로구'

# 딕셔너리 value의 자료형
* value에는 모든 자료형이 올 수 있다.

In [17]:
d4 = {'정수' : 100, "실수" : 3.5, "문자열" : "딕셔너리의 값",
     "리스트" : [1,2,3,4], '튜플' : (1,2,3,4),
     "딕셔너리" : {'key' : 'value'}, "불린" : True,
     "set" : {1,2,3}}
d4

{'정수': 100,
 '실수': 3.5,
 '문자열': '딕셔너리의 값',
 '리스트': [1, 2, 3, 4],
 '튜플': (1, 2, 3, 4),
 '딕셔너리': {'key': 'value'},
 '불린': True,
 'set': {1, 2, 3}}

In [18]:
d4['정수']

100

In [19]:
d4['set']

{1, 2, 3}

In [25]:
d4['리스트']

[1, 2, 3, 4]

In [26]:
print(d4['리스트'][2], type(d4['리스트']))

3 <class 'list'>

In [28]:
d4['딕셔너리']

{'key': 'value'}

In [27]:
print(d4['딕셔너리']['key'], type(d4['딕셔너리']))

value <class 'dict'>

# 딕셔너리에 자료 추가하기
* 변수['새로운 key'] = 자료
* 이미 딕셔너리에 같은 이름의 key 가 있는 경우 덮어쓰기가 되어서 기존 자료가 사라짐

In [29]:
a = 10
a = 50
print(a)

50

In [30]:
d5 = {}
print(d5, type(d5))

{} <class 'dict'>

In [31]:
d5['번호'] = 0
d5

{'번호': 0}

In [32]:
d5[100] = "백"
d5

{'번호': 0, 100: '백'}

In [33]:
d5['리스트'] = [1,2,3]
d5

{'번호': 0, 100: '백', '리스트': [1, 2, 3]}

* 이미 있는 key에 다른 자료 넣기

In [34]:
d5['번호'] = 5
d5

{'번호': 5, 100: '백', '리스트': [1, 2, 3]}

* 딕서녀리에서 key가 중복되면 나중에 들어온 key의 value로 내용이 변경됨

In [35]:
d7 = {'번호' : 0, "이름" : "홍길동", "나이" : 30,
     '번호' : 1, "이름" : "둘리", "나이" : 15}
d7

{'번호': 1, '이름': '둘리', '나이': 15}

# dict 함수를 사용해서 딕셔너리 만들기

## 1. dict(key1=value1, key2=value2, key3=value3)
* key에는 ""를 사용하지 않는다.
* key는 모두 문자타입으로 변환된다.
* value가 문자형이면 반드시 ""가 필요하다.

In [40]:
dict_ex1 = dict(정수=100, 실수=3.5, 문자="문자열", 리스트=[1,2,3],
               튜플=(4,5,6), 딕셔너리= {"key" : "value"},
               딕셔너리2 = dict(key="value"), 블린=True)
dict_ex1

{'정수': 100,
 '실수': 3.5,
 '문자': '문자열',
 '리스트': [1, 2, 3],
 '튜플': (4, 5, 6),
 '딕셔너리': {'key': 'value'},
 '딕셔너리2': {'key': 'value'},
 '블린': True}

## 2. dict([(key1, value1), (key2, value2), (key3, value3)])
* 리스트 안에 key, value 쌍으로 된 튜플을 넣어서 만듬

In [41]:
dict_ex2 = dict([(0, 3), (3.5, "3.5"), ('문자열', "문자열 입니다."),
                ("list", [1,3,4]), ('tuple', (1,2,3)),
                ('dict', dict(키="value"))])
dict_ex2

{0: 3,
 3.5: '3.5',
 '문자열': '문자열 입니다.',
 'list': [1, 3, 4],
 'tuple': (1, 2, 3),
 'dict': {'키': 'value'}}

## 3. dict(zip([key1, key2, key3], [value1, value2, value3]))
* key묶음 리스트와 value 묶음 리스트를 zip 함수로 합친 후 dict 생성
* key묶음 리스트와 value 묶음 리스트의 요소 개수가 같아야 함.
* 개수 차이가 날 경우 적은 개수의 요소 수 만큼만 생성

In [42]:
for nums in zip([1,2,3,4], [5,6,7,8], [9,10]):
    print(nums)

(1, 5, 9)
(2, 6, 10)

In [44]:
for item in zip(["key1", "key2", "key3"], ["value1", "value2", "value3"]):
    print(item)

('key1', 'value1')
('key2', 'value2')
('key3', 'value3')

In [45]:
dict_ex3 = dict(zip(["정수", "실수", "문자열", "리스트", "튜플", "딕셔너리"],
                   [10, 3.5, "문자열입니다.", [1,2,3], (1,2,3), {"key" : "value"}]))
dict_ex3

{'정수': 10,
 '실수': 3.5,
 '문자열': '문자열입니다.',
 '리스트': [1, 2, 3],
 '튜플': (1, 2, 3),
 '딕셔너리': {'key': 'value'}}

# 딕셔너리에서 값 삭제하기
* del 변수명['key']
* pop('key')

In [46]:
del dict_ex3['딕셔너리']
dict_ex3

{'정수': 10, '실수': 3.5, '문자열': '문자열입니다.', '리스트': [1, 2, 3], '튜플': (1, 2, 3)}

In [48]:
dict_ex3.pop('튜플')

(1, 2, 3)

In [49]:
dict_ex3

{'정수': 10, '실수': 3.5, '문자열': '문자열입니다.', '리스트': [1, 2, 3]}

# 딕셔너리 안에 key가 몇개 있는지 확인하기

In [50]:
len(dict_ex3)

4

In [51]:
dict_ex4 = dict(zip(["정수", "실수", "문자열", "리스트", "튜플", "딕셔너리", "dict2"],
                   [10, 3.5, "문자열입니다.", [1,2,3], (1,2,3), {"key" : "value"},
                   dict(zip(["정수", "실수", "문자열", "리스트", "튜플", "딕셔너리"],
                   [10, 3.5, "문자열입니다.", [1,2,3], (1,2,3), {"key" : "value"}]))],
                   ))
dict_ex4

{'정수': 10,
 '실수': 3.5,
 '문자열': '문자열입니다.',
 '리스트': [1, 2, 3],
 '튜플': (1, 2, 3),
 '딕셔너리': {'key': 'value'},
 'dict2': {'정수': 10,
  '실수': 3.5,
  '문자열': '문자열입니다.',
  '리스트': [1, 2, 3],
  '튜플': (1, 2, 3),
  '딕셔너리': {'key': 'value'}}}

In [52]:
len(dict_ex4)

7

In [53]:
dict_ex4['dict2']

{'정수': 10,
 '실수': 3.5,
 '문자열': '문자열입니다.',
 '리스트': [1, 2, 3],
 '튜플': (1, 2, 3),
 '딕셔너리': {'key': 'value'}}

In [55]:
len(dict_ex4['dict2']['딕셔너리'])

1

# 딕셔너리 함수 사용하기

## setdefault(key, value)
* 딕셔너리에 key와 value를 추가하는 함수(자료추가)
* key가 중복되면 나중에 추가는 값을 무시함(원래 자료 보존)
* key만 넣고 value를 생략하면 자동으로 'None'이 입력됨

In [56]:
d

{'년월': '20250314', '국가': '미국', '방문자수': 1000}

In [57]:
d['년월'] = 20260108
d

{'년월': 20260108, '국가': '미국', '방문자수': 1000}

In [59]:
d.setdefault('년월', "2026년")
d

{'년월': 20260108, '국가': '미국', '방문자수': 1000}

In [60]:
d.setdefault('날씨', "맑음")
d

{'년월': 20260108, '국가': '미국', '방문자수': 1000, '날씨': '맑음'}

In [61]:
d.setdefault('시간')
d

{'년월': 20260108, '국가': '미국', '방문자수': 1000, '날씨': '맑음', '시간': None}

## update(key=value)
* 기존에 key가 있는 경우 값을 새로운 값으로 update
* 기존에 key가 없는 경우 새로운 key, value를 생성
* key 부분에 ', "를 사용하지 않는다.

In [62]:
d

{'년월': 20260108, '국가': '미국', '방문자수': 1000, '날씨': '맑음', '시간': None}

In [63]:
d.update(방문자수=500)
d

{'년월': 20260108, '국가': '미국', '방문자수': 500, '날씨': '맑음', '시간': None}

In [64]:
d.update(분=30)
d

{'년월': 20260108, '국가': '미국', '방문자수': 500, '날씨': '맑음', '시간': None, '분': 30}

## 딕셔너리에서 value를 출력하는 함수 .get()
* .get('key', "key가 없을 때 출력할 기본값")
* 딕셔너리 내에 key가 있다가 없어지는 경우 오류 방지

In [65]:
d['국가']

'미국'

In [66]:
d['나이']

KeyError: '나이'

In [67]:
d.get('국가')

'미국'

In [68]:
d.get('국가', "키 없음")

'미국'

In [69]:
d.get('나이', "키 없음")

'키 없음'

In [70]:
d.get('나이')

## 딕셔너리에서 key, value, (key, value) 목록을 출력하는 함수
* keys(): 딕셔너리에서 key만 출력
* values(): 딕셔너리에서 value만 출력
* items(): 딕셔너리에서 (key, value)를 튜플 형태로 출력

### keys()
* 결과는 dict_keys 객체로 나옴
* 리스트처럼 생겼지만 list는 아님 
* list(), tuple() 형변환 함수로 데이터타입을 변경해서 list나 tuple로 사용가능

In [71]:
data = {'info': [{'name': 'Alice', 'scores': (95, 88, 92)},
  {'name': 'Bob', 'scores': (78, 85, 89)}],
 'extra': {'hobbies': ['leading', 'coding'], 'location': ('Seoul', 'Busan')}}
data

{'info': [{'name': 'Alice', 'scores': (95, 88, 92)},
  {'name': 'Bob', 'scores': (78, 85, 89)}],
 'extra': {'hobbies': ['leading', 'coding'], 'location': ('Seoul', 'Busan')}}

In [76]:
data.keys()

dict_keys(['info', 'extra'])

In [81]:
data.keys()[0]

TypeError: 'dict_keys' object is not subscriptable

In [80]:
list(data.keys())

['info', 'extra']

In [82]:
list(data.keys())[0]

'info'

In [74]:
data['extra'].keys()

dict_keys(['hobbies', 'location'])

### values()
* 딕셔너리에서 value만 출력
* 결과는 dict_values 객체로 나옴
* 리스트처럼 생겼지만 list는 아님 
* list(), tuple() 형변환 함수로 데이터타입을 변경해서 list나 tuple로 사용가능

In [83]:
data.values()

dict_values([[{'name': 'Alice', 'scores': (95, 88, 92)}, {'name': 'Bob', 'scores': (78, 85, 89)}], {'hobbies': ['leading', 'coding'], 'location': ('Seoul', 'Busan')}])

In [84]:
data.values()[0]

TypeError: 'dict_values' object is not subscriptable

In [85]:
list(data.values())

[[{'name': 'Alice', 'scores': (95, 88, 92)},
  {'name': 'Bob', 'scores': (78, 85, 89)}],
 {'hobbies': ['leading', 'coding'], 'location': ('Seoul', 'Busan')}]

In [86]:
list(data.values())[0]

[{'name': 'Alice', 'scores': (95, 88, 92)},
 {'name': 'Bob', 'scores': (78, 85, 89)}]

In [90]:
# scores에서 92 출력하기
list(data.values())[0][0]['scores'][2]

92

In [97]:
list(data.values())[0][0]['scores'][2]

92

[{'name': 'Alice', 'scores': (95, 88, 92)}, {'name': 'Bob', 'scores': (78, 85, 89)}]
{'hobbies': ['leading', 'coding'], 'location': ('Seoul', 'Busan')}

### items()
* key, value를 (key, value) 형태로 출력
* key와 value를 둘 다 쓰고 싶을 때 사용
* dict_items 객체
* list(), tuple()로 변환해서 사용

In [99]:
data.items()

dict_items([('info', [{'name': 'Alice', 'scores': (95, 88, 92)}, {'name': 'Bob', 'scores': (78, 85, 89)}]), ('extra', {'hobbies': ['leading', 'coding'], 'location': ('Seoul', 'Busan')})])

In [100]:
list(data.items())

[('info',
  [{'name': 'Alice', 'scores': (95, 88, 92)},
   {'name': 'Bob', 'scores': (78, 85, 89)}]),
 ('extra', {'hobbies': ['leading', 'coding'], 'location': ('Seoul', 'Busan')})]

In [105]:
list(data.items())[0][1][0]['scores'][2]

92

In [106]:
for k, v in data.items():
    print("key: ", k)
    print("value: ", v)

key:  info
value:  [{'name': 'Alice', 'scores': (95, 88, 92)}, {'name': 'Bob', 'scores': (78, 85, 89)}]
key:  extra
value:  {'hobbies': ['leading', 'coding'], 'location': ('Seoul', 'Busan')}