# numpy
* [https://numpy.org/devdocs/user/quickstart.html](https://numpy.org/devdocs/user/quickstart.html)
* numpy: Numerical Python 과학적, 산업적 연산을 위한 패키지
* 다차원 배열, 행렬 연산에 주로 사용
* numpy는 python의 list와 비슷한 자료형
* 순서가 있는 자료형
* 파이썬 list와의 차이는 자료형이 1가지만 들어간다.
* 우선순위 int < float < str

# 차원
* 0 차원 = 점 . 스칼라  a = 10
* 1 차원 = 선 --- 방향이 없는 벡터, 배열, list, tuple  [1,2,3,4]
* 2 차원 = 면 가로, 세로, DB 테이블, DataFrame, excel Sheet, matrix, 행렬
* 3 차원 = 입체, 가로, 세로, 깊이, 정육면체(주사위), 2차원 데이터의 묶음, excel file
* 4 차원 = 3차원 데이터의 묶음
* 5 차원 = 4차원 데이터의 묶음

In [1]:
import numpy as np

In [2]:
a = np.array([1,2,3,4,5])
a

array([1, 2, 3, 4, 5])

In [3]:
num = 10

* 차원을 출력하는 메서드 .ndim
* 차원의 형태를 출력하는 메서드 .shape

In [4]:
num.ndim

AttributeError: 'int' object has no attribute 'ndim'

In [6]:
# ndarray는 벡터이므로 1차원
a.ndim

1

In [7]:
# ndarray는 방향이 없는 벡터
a.shape

(5,)

In [8]:
# 세로로 방향을 가진 열벡터
a2 = np.array([[1],[2],[3],[4],[5]])
a2

array([[1],
       [2],
       [3],
       [4],
       [5]])

In [9]:
a2.shape

(5, 1)

In [10]:
a2.ndim

2

In [11]:
# 행이 1개고 열이 여러개인 행벡터
a3 = np.array([[1,2,3,4,5]])
a3

array([[1, 2, 3, 4, 5]])

In [12]:
a3.ndim

2

In [13]:
a3.shape

(1, 5)

# 2차원 데이터

In [14]:
d2 = np.array([[1,2,3,4,5],[6,7,8,9,10]])
d2

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10]])

In [16]:
print(d2.ndim, d2.shape)

2 (2, 5)

# 3차원 데이터

In [18]:
d3 = np.array([[[1,2,3,4,5],[6,7,8,9,10]], [[1,2,3,4,5],[6,7,8,9,10]],
             [[1,2,3,4,5],[6,7,8,9,10]], [[1,2,3,4,5],[6,7,8,9,10]]])
d3

array([[[ 1,  2,  3,  4,  5],
        [ 6,  7,  8,  9, 10]],

       [[ 1,  2,  3,  4,  5],
        [ 6,  7,  8,  9, 10]],

       [[ 1,  2,  3,  4,  5],
        [ 6,  7,  8,  9, 10]],

       [[ 1,  2,  3,  4,  5],
        [ 6,  7,  8,  9, 10]]])

In [24]:
print(d3.ndim, d3.shape)

3 (4, 2, 5)

# 4차원 데이터

In [19]:
d4 = np.array([[[[1,2,3,4,5],[6,7,8,9,10]], [[1,2,3,4,5],[6,7,8,9,10]],
             [[1,2,3,4,5],[6,7,8,9,10]], [[1,2,3,4,5],[6,7,8,9,10]]],
              [[[1,2,3,4,5],[6,7,8,9,10]], [[1,2,3,4,5],[6,7,8,9,10]],
             [[1,2,3,4,5],[6,7,8,9,10]], [[1,2,3,4,5],[6,7,8,9,10]]]])
d4

array([[[[ 1,  2,  3,  4,  5],
         [ 6,  7,  8,  9, 10]],

        [[ 1,  2,  3,  4,  5],
         [ 6,  7,  8,  9, 10]],

        [[ 1,  2,  3,  4,  5],
         [ 6,  7,  8,  9, 10]],

        [[ 1,  2,  3,  4,  5],
         [ 6,  7,  8,  9, 10]]],


       [[[ 1,  2,  3,  4,  5],
         [ 6,  7,  8,  9, 10]],

        [[ 1,  2,  3,  4,  5],
         [ 6,  7,  8,  9, 10]],

        [[ 1,  2,  3,  4,  5],
         [ 6,  7,  8,  9, 10]],

        [[ 1,  2,  3,  4,  5],
         [ 6,  7,  8,  9, 10]]]])

In [23]:
print(d4.ndim, d4.shape)

4 (2, 4, 2, 5)

# 5차원 데이터

In [20]:
d5 = np.array([[[[[1,2,3,4,5],[6,7,8,9,10]], [[1,2,3,4,5],[6,7,8,9,10]],
             [[1,2,3,4,5],[6,7,8,9,10]], [[1,2,3,4,5],[6,7,8,9,10]]],
              [[[1,2,3,4,5],[6,7,8,9,10]], [[1,2,3,4,5],[6,7,8,9,10]],
             [[1,2,3,4,5],[6,7,8,9,10]], [[1,2,3,4,5],[6,7,8,9,10]]]],
              [[[[1,2,3,4,5],[6,7,8,9,10]], [[1,2,3,4,5],[6,7,8,9,10]],
             [[1,2,3,4,5],[6,7,8,9,10]], [[1,2,3,4,5],[6,7,8,9,10]]],
              [[[1,2,3,4,5],[6,7,8,9,10]], [[1,2,3,4,5],[6,7,8,9,10]],
             [[1,2,3,4,5],[6,7,8,9,10]], [[1,2,3,4,5],[6,7,8,9,10]]]]])
d5

array([[[[[ 1,  2,  3,  4,  5],
          [ 6,  7,  8,  9, 10]],

         [[ 1,  2,  3,  4,  5],
          [ 6,  7,  8,  9, 10]],

         [[ 1,  2,  3,  4,  5],
          [ 6,  7,  8,  9, 10]],

         [[ 1,  2,  3,  4,  5],
          [ 6,  7,  8,  9, 10]]],


        [[[ 1,  2,  3,  4,  5],
          [ 6,  7,  8,  9, 10]],

         [[ 1,  2,  3,  4,  5],
          [ 6,  7,  8,  9, 10]],

         [[ 1,  2,  3,  4,  5],
          [ 6,  7,  8,  9, 10]],

         [[ 1,  2,  3,  4,  5],
          [ 6,  7,  8,  9, 10]]]],



       [[[[ 1,  2,  3,  4,  5],
          [ 6,  7,  8,  9, 10]],

         [[ 1,  2,  3,  4,  5],
          [ 6,  7,  8,  9, 10]],

         [[ 1,  2,  3,  4,  5],
          [ 6,  7,  8,  9, 10]],

         [[ 1,  2,  3,  4,  5],
          [ 6,  7,  8,  9, 10]]],


        [[[ 1,  2,  3,  4,  5],
          [ 6,  7,  8,  9, 10]],

         [[ 1,  2,  3,  4,  5],
          [ 6,  7,  8,  9, 10]],

         [[ 1,  2,  3,  4,  5],
          [ 6,  7,  8,  9, 10]],

         [[ 1,  2,  3,  4,  5],
          [ 6,  7,  8,  9, 10]]]]])

In [25]:
print(d5.ndim, d5.shape)

5 (2, 2, 4, 2, 5)

In [26]:
l5 = [[[[[1,2,3,4,5],[6,7,8,9,10]], [[1,2,3,4,5],[6,7,8,9,10]],
             [[1,2,3,4,5],[6,7,8,9,10]], [[1,2,3,4,5],[6,7,8,9,10]]],
              [[[1,2,3,4,5],[6,7,8,9,10]], [[1,2,3,4,5],[6,7,8,9,10]],
             [[1,2,3,4,5],[6,7,8,9,10]], [[1,2,3,4,5],[6,7,8,9,10]]]],
              [[[[1,2,3,4,5],[6,7,8,9,10]], [[1,2,3,4,5],[6,7,8,9,10]],
             [[1,2,3,4,5],[6,7,8,9,10]], [[1,2,3,4,5],[6,7,8,9,10]]],
              [[[1,2,3,4,5],[6,7,8,9,10]], [[1,2,3,4,5],[6,7,8,9,10]],
             [[1,2,3,4,5],[6,7,8,9,10]], [[1,2,3,4,5],[6,7,8,9,10]]]]]
l5

[[[[[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]],
   [[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]],
   [[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]],
   [[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]]],
  [[[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]],
   [[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]],
   [[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]],
   [[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]]]],
 [[[[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]],
   [[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]],
   [[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]],
   [[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]]],
  [[[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]],
   [[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]],
   [[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]],
   [[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]]]]]

# 넘파이를 사용해야 하는 이유
* 행렬 연산이 쉽고 빠르기 때문

In [27]:
# 스칼라 연산
a = 10
b = 5
scalar = a + b
scalar

15

In [28]:
scalar + 10

25

In [30]:
# 1차원 벡터의 연산
v1 = [1,2,3,4,5]

[1,
 2,
 3,
 4,
 5,
 1,
 2,
 3,
 4,
 5,
 1,
 2,
 3,
 4,
 5,
 1,
 2,
 3,
 4,
 5,
 1,
 2,
 3,
 4,
 5,
 1,
 2,
 3,
 4,
 5,
 1,
 2,
 3,
 4,
 5,
 1,
 2,
 3,
 4,
 5,
 1,
 2,
 3,
 4,
 5,
 1,
 2,
 3,
 4,
 5]

In [31]:
# v1의 요소에 10을 곱한 리스트로 만드세요.
mul10 = []
for num in v1:
    mul10.append(num * 10)
mul10

[10, 20, 30, 40, 50]

In [32]:
mul10 = [num * 10 for num in v1]
mul10

[10, 20, 30, 40, 50]

In [37]:
d2

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10]])

In [40]:
# 2차원 데이터 연산 10 곱해서 출력
result = []
for l1 in d2:
    temp = []
    for num in l1:
        temp.append(num * 10)
    result.append(temp)
result

[[np.int64(10), np.int64(20), np.int64(30), np.int64(40), np.int64(50)], [np.int64(60), np.int64(70), np.int64(80), np.int64(90), np.int64(100)]]

In [41]:
# 3차원 데이터에 10 곱하는 연산

In [47]:
d3

array([[[ 1,  2,  3,  4,  5],
        [ 6,  7,  8,  9, 10]],

       [[ 1,  2,  3,  4,  5],
        [ 6,  7,  8,  9, 10]],

       [[ 1,  2,  3,  4,  5],
        [ 6,  7,  8,  9, 10]],

       [[ 1,  2,  3,  4,  5],
        [ 6,  7,  8,  9, 10]]])

In [52]:
result3 = []
for item1 in d3:
    temp2 = []
    for item2 in item1:
        temp1 = []
        for item3 in item2:
            temp1.append(item3 * 10)
        temp2.append(temp1)
    result3.append(temp2)
result3 = np.array(result3)
print(result3,"\n",result3.ndim, result3.shape)

[[[ 10  20  30  40  50]
  [ 60  70  80  90 100]]

 [[ 10  20  30  40  50]
  [ 60  70  80  90 100]]

 [[ 10  20  30  40  50]
  [ 60  70  80  90 100]]

 [[ 10  20  30  40  50]
  [ 60  70  80  90 100]]]
 3 (4, 2, 5)

In [58]:
# 4차원 데이터 연산 numpy
d4 * 10

array([[[[0.1, 0.2, 0.3, 0.4, 0.5],
         [0.6, 0.7, 0.8, 0.9, 1. ]],

        [[0.1, 0.2, 0.3, 0.4, 0.5],
         [0.6, 0.7, 0.8, 0.9, 1. ]],

        [[0.1, 0.2, 0.3, 0.4, 0.5],
         [0.6, 0.7, 0.8, 0.9, 1. ]],

        [[0.1, 0.2, 0.3, 0.4, 0.5],
         [0.6, 0.7, 0.8, 0.9, 1. ]]],


       [[[0.1, 0.2, 0.3, 0.4, 0.5],
         [0.6, 0.7, 0.8, 0.9, 1. ]],

        [[0.1, 0.2, 0.3, 0.4, 0.5],
         [0.6, 0.7, 0.8, 0.9, 1. ]],

        [[0.1, 0.2, 0.3, 0.4, 0.5],
         [0.6, 0.7, 0.8, 0.9, 1. ]],

        [[0.1, 0.2, 0.3, 0.4, 0.5],
         [0.6, 0.7, 0.8, 0.9, 1. ]]]])

# numpy에서 자주 사용하는 메서드
* .ndim : 몇 차원이지 확인
* .shpae : 몇 차원, 몇행, 몇열인지 구조 확인
* .size : 배열 안에 있는 요소의 총 개수가 몇 개인지
* .dtype : 데이터 타입이 무엇인지

In [59]:
d5

array([[[[[ 1,  2,  3,  4,  5],
          [ 6,  7,  8,  9, 10]],

         [[ 1,  2,  3,  4,  5],
          [ 6,  7,  8,  9, 10]],

         [[ 1,  2,  3,  4,  5],
          [ 6,  7,  8,  9, 10]],

         [[ 1,  2,  3,  4,  5],
          [ 6,  7,  8,  9, 10]]],


        [[[ 1,  2,  3,  4,  5],
          [ 6,  7,  8,  9, 10]],

         [[ 1,  2,  3,  4,  5],
          [ 6,  7,  8,  9, 10]],

         [[ 1,  2,  3,  4,  5],
          [ 6,  7,  8,  9, 10]],

         [[ 1,  2,  3,  4,  5],
          [ 6,  7,  8,  9, 10]]]],



       [[[[ 1,  2,  3,  4,  5],
          [ 6,  7,  8,  9, 10]],

         [[ 1,  2,  3,  4,  5],
          [ 6,  7,  8,  9, 10]],

         [[ 1,  2,  3,  4,  5],
          [ 6,  7,  8,  9, 10]],

         [[ 1,  2,  3,  4,  5],
          [ 6,  7,  8,  9, 10]]],


        [[[ 1,  2,  3,  4,  5],
          [ 6,  7,  8,  9, 10]],

         [[ 1,  2,  3,  4,  5],
          [ 6,  7,  8,  9, 10]],

         [[ 1,  2,  3,  4,  5],
          [ 6,  7,  8,  9, 10]],

         [[ 1,  2,  3,  4,  5],
          [ 6,  7,  8,  9, 10]]]]])

In [60]:
print(d5.ndim, d5.shape, d5.size, d5.dtype)

5 (2, 2, 4, 2, 5) 160 int64

# ndarray 만들기
* numpy의 기본 자료형 ndarray
* np.array(리스트/튜플)
* 자료형은 반드시 1가지만 넣는다.

In [61]:
e1 = np.array([1,2,3,4,5])
e1

array([1, 2, 3, 4, 5])

In [62]:
e2 = np.array((1,2,3,4,5))
e2

array([1, 2, 3, 4, 5])

In [64]:
e3 = np.array((1, 2, 3.0, 4, 5))
print(e3, e3.dtype)

[1. 2. 3. 4. 5.] float64

In [65]:
e4 = np.array((1, 2, 3.0, "4", 5))
print(e4, e4.dtype)

['1' '2' '3.0' '4' '5'] <U32

# np.arange(시작, 끝, step)

In [67]:
a = np.arange(1, 11, 2)
a

array([1, 3, 5, 7, 9])

In [68]:
a2 = np.arange(11, 1, -3)
a2

array([11,  8,  5,  2])

In [69]:
# 1-100까지 있는 array
a3 = np.arange(1, 101)
a3

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100])

# .reshape(행, 열)
* 벡터를 원하는 크기의 다차원 배열로 변환

In [70]:
print(a3.ndim, a3.shape)

1 (100,)

In [72]:
a4 = a3.reshape(20, 5)
print(a4.ndim, a4.shape)
a4

2 (20, 5)

array([[  1,   2,   3,   4,   5],
       [  6,   7,   8,   9,  10],
       [ 11,  12,  13,  14,  15],
       [ 16,  17,  18,  19,  20],
       [ 21,  22,  23,  24,  25],
       [ 26,  27,  28,  29,  30],
       [ 31,  32,  33,  34,  35],
       [ 36,  37,  38,  39,  40],
       [ 41,  42,  43,  44,  45],
       [ 46,  47,  48,  49,  50],
       [ 51,  52,  53,  54,  55],
       [ 56,  57,  58,  59,  60],
       [ 61,  62,  63,  64,  65],
       [ 66,  67,  68,  69,  70],
       [ 71,  72,  73,  74,  75],
       [ 76,  77,  78,  79,  80],
       [ 81,  82,  83,  84,  85],
       [ 86,  87,  88,  89,  90],
       [ 91,  92,  93,  94,  95],
       [ 96,  97,  98,  99, 100]])

In [73]:
a4 = a3.reshape(5, 2, 2, 5)
print(a4.ndim, a4.shape)

4 (5, 2, 2, 5)

In [83]:
a5 = a3.reshape(-1, 1, 2, 2, 5)
print(a5.ndim, a5.shape)

5 (5, 1, 2, 2, 5)

In [76]:
a5

array([[[[[  1,   2,   3,   4,   5],
          [  6,   7,   8,   9,  10]],

         [[ 11,  12,  13,  14,  15],
          [ 16,  17,  18,  19,  20]]]],



       [[[[ 21,  22,  23,  24,  25],
          [ 26,  27,  28,  29,  30]],

         [[ 31,  32,  33,  34,  35],
          [ 36,  37,  38,  39,  40]]]],



       [[[[ 41,  42,  43,  44,  45],
          [ 46,  47,  48,  49,  50]],

         [[ 51,  52,  53,  54,  55],
          [ 56,  57,  58,  59,  60]]]],



       [[[[ 61,  62,  63,  64,  65],
          [ 66,  67,  68,  69,  70]],

         [[ 71,  72,  73,  74,  75],
          [ 76,  77,  78,  79,  80]]]],



       [[[[ 81,  82,  83,  84,  85],
          [ 86,  87,  88,  89,  90]],

         [[ 91,  92,  93,  94,  95],
          [ 96,  97,  98,  99, 100]]]]])

In [86]:
a4.reshape(-1)

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100])

# flatten()
* 다차원 배열을 1차원으로 펼쳐줌

In [87]:
a4.ndim

4

In [91]:
a5.ndim

5

In [89]:
a6 = a5.flatten()
print(a6.ndim, a6.shape)
a6

1 (100,)

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100])

# np.flip()
* 행렬의 순서를 뒤집을 때

In [95]:
a4[::-1]

array([[[[ 81,  82,  83,  84,  85],
         [ 86,  87,  88,  89,  90]],

        [[ 91,  92,  93,  94,  95],
         [ 96,  97,  98,  99, 100]]],


       [[[ 61,  62,  63,  64,  65],
         [ 66,  67,  68,  69,  70]],

        [[ 71,  72,  73,  74,  75],
         [ 76,  77,  78,  79,  80]]],


       [[[ 41,  42,  43,  44,  45],
         [ 46,  47,  48,  49,  50]],

        [[ 51,  52,  53,  54,  55],
         [ 56,  57,  58,  59,  60]]],


       [[[ 21,  22,  23,  24,  25],
         [ 26,  27,  28,  29,  30]],

        [[ 31,  32,  33,  34,  35],
         [ 36,  37,  38,  39,  40]]],


       [[[  1,   2,   3,   4,   5],
         [  6,   7,   8,   9,  10]],

        [[ 11,  12,  13,  14,  15],
         [ 16,  17,  18,  19,  20]]]])

In [96]:
np.flip(a4)

array([[[[100,  99,  98,  97,  96],
         [ 95,  94,  93,  92,  91]],

        [[ 90,  89,  88,  87,  86],
         [ 85,  84,  83,  82,  81]]],


       [[[ 80,  79,  78,  77,  76],
         [ 75,  74,  73,  72,  71]],

        [[ 70,  69,  68,  67,  66],
         [ 65,  64,  63,  62,  61]]],


       [[[ 60,  59,  58,  57,  56],
         [ 55,  54,  53,  52,  51]],

        [[ 50,  49,  48,  47,  46],
         [ 45,  44,  43,  42,  41]]],


       [[[ 40,  39,  38,  37,  36],
         [ 35,  34,  33,  32,  31]],

        [[ 30,  29,  28,  27,  26],
         [ 25,  24,  23,  22,  21]]],


       [[[ 20,  19,  18,  17,  16],
         [ 15,  14,  13,  12,  11]],

        [[ 10,   9,   8,   7,   6],
         [  5,   4,   3,   2,   1]]]])

# np.linspace(시작, 끝, 구간 수)
* 정해진 숫자 범위 안에서 균등하게 구간을 나눌 때

In [97]:
np.linspace(1, 10, 10)

array([ 1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10.])

In [98]:
np.linspace(1, 10, 33)

array([ 1.     ,  1.28125,  1.5625 ,  1.84375,  2.125  ,  2.40625,
        2.6875 ,  2.96875,  3.25   ,  3.53125,  3.8125 ,  4.09375,
        4.375  ,  4.65625,  4.9375 ,  5.21875,  5.5    ,  5.78125,
        6.0625 ,  6.34375,  6.625  ,  6.90625,  7.1875 ,  7.46875,
        7.75   ,  8.03125,  8.3125 ,  8.59375,  8.875  ,  9.15625,
        9.4375 ,  9.71875, 10.     ])

In [99]:
np.linspace(1, 10, 567)

array([ 1.        ,  1.01590106,  1.03180212,  1.04770318,  1.06360424,
        1.0795053 ,  1.09540636,  1.11130742,  1.12720848,  1.14310954,
        1.1590106 ,  1.17491166,  1.19081272,  1.20671378,  1.22261484,
        1.2385159 ,  1.25441696,  1.27031802,  1.28621908,  1.30212014,
        1.3180212 ,  1.33392226,  1.34982332,  1.36572438,  1.38162544,
        1.3975265 ,  1.41342756,  1.42932862,  1.44522968,  1.46113074,
        1.4770318 ,  1.49293286,  1.50883392,  1.52473498,  1.54063604,
        1.5565371 ,  1.57243816,  1.58833922,  1.60424028,  1.62014134,
        1.6360424 ,  1.65194346,  1.66784452,  1.68374558,  1.69964664,
        1.7155477 ,  1.73144876,  1.74734982,  1.76325088,  1.77915194,
        1.795053  ,  1.81095406,  1.82685512,  1.84275618,  1.85865724,
        1.8745583 ,  1.89045936,  1.90636042,  1.92226148,  1.93816254,
        1.9540636 ,  1.96996466,  1.98586572,  2.00176678,  2.01766784,
        2.0335689 ,  2.04946996,  2.06537102,  2.08127208,  2.09717314,
        2.1130742 ,  2.12897527,  2.14487633,  2.16077739,  2.17667845,
        2.19257951,  2.20848057,  2.22438163,  2.24028269,  2.25618375,
        2.27208481,  2.28798587,  2.30388693,  2.31978799,  2.33568905,
        2.35159011,  2.36749117,  2.38339223,  2.39929329,  2.41519435,
        2.43109541,  2.44699647,  2.46289753,  2.47879859,  2.49469965,
        2.51060071,  2.52650177,  2.54240283,  2.55830389,  2.57420495,
        2.59010601,  2.60600707,  2.62190813,  2.63780919,  2.65371025,
        2.66961131,  2.68551237,  2.70141343,  2.71731449,  2.73321555,
        2.74911661,  2.76501767,  2.78091873,  2.79681979,  2.81272085,
        2.82862191,  2.84452297,  2.86042403,  2.87632509,  2.89222615,
        2.90812721,  2.92402827,  2.93992933,  2.95583039,  2.97173145,
        2.98763251,  3.00353357,  3.01943463,  3.03533569,  3.05123675,
        3.06713781,  3.08303887,  3.09893993,  3.11484099,  3.13074205,
        3.14664311,  3.16254417,  3.17844523,  3.19434629,  3.21024735,
        3.22614841,  3.24204947,  3.25795053,  3.27385159,  3.28975265,
        3.30565371,  3.32155477,  3.33745583,  3.35335689,  3.36925795,
        3.38515901,  3.40106007,  3.41696113,  3.43286219,  3.44876325,
        3.46466431,  3.48056537,  3.49646643,  3.51236749,  3.52826855,
        3.54416961,  3.56007067,  3.57597173,  3.59187279,  3.60777385,
        3.62367491,  3.63957597,  3.65547703,  3.67137809,  3.68727915,
        3.70318021,  3.71908127,  3.73498233,  3.75088339,  3.76678445,
        3.78268551,  3.79858657,  3.81448763,  3.83038869,  3.84628975,
        3.86219081,  3.87809187,  3.89399293,  3.90989399,  3.92579505,
        3.94169611,  3.95759717,  3.97349823,  3.98939929,  4.00530035,
        4.02120141,  4.03710247,  4.05300353,  4.06890459,  4.08480565,
        4.10070671,  4.11660777,  4.13250883,  4.14840989,  4.16431095,
        4.18021201,  4.19611307,  4.21201413,  4.22791519,  4.24381625,
        4.25971731,  4.27561837,  4.29151943,  4.30742049,  4.32332155,
        4.33922261,  4.35512367,  4.37102473,  4.3869258 ,  4.40282686,
        4.41872792,  4.43462898,  4.45053004,  4.4664311 ,  4.48233216,
        4.49823322,  4.51413428,  4.53003534,  4.5459364 ,  4.56183746,
        4.57773852,  4.59363958,  4.60954064,  4.6254417 ,  4.64134276,
        4.65724382,  4.67314488,  4.68904594,  4.704947  ,  4.72084806,
        4.73674912,  4.75265018,  4.76855124,  4.7844523 ,  4.80035336,
        4.81625442,  4.83215548,  4.84805654,  4.8639576 ,  4.87985866,
        4.89575972,  4.91166078,  4.92756184,  4.9434629 ,  4.95936396,
        4.97526502,  4.99116608,  5.00706714,  5.0229682 ,  5.03886926,
        5.05477032,  5.07067138,  5.08657244,  5.1024735 ,  5.11837456,
        5.13427562,  5.15017668,  5.16607774,  5.1819788 ,  5.19787986,
        5.21378092,  5.22968198,  5.24558304,  5.2614841 ,  5.27738516,
        5.29328622,  5.30918728,  5.32508834,  5.3409894 ,  5.35689046,
        5.37279152,  5.38869258,  5.40459364,  5.4204947 ,  5.43639576,
        5.45229682,  5.46819788,  5.48409894,  5.5       ,  5.51590106,
        5.53180212,  5.54770318,  5.56360424,  5.5795053 ,  5.59540636,
        5.61130742,  5.62720848,  5.64310954,  5.6590106 ,  5.67491166,
        5.69081272,  5.70671378,  5.72261484,  5.7385159 ,  5.75441696,
        5.77031802,  5.78621908,  5.80212014,  5.8180212 ,  5.83392226,
        5.84982332,  5.86572438,  5.88162544,  5.8975265 ,  5.91342756,
        5.92932862,  5.94522968,  5.96113074,  5.9770318 ,  5.99293286,
        6.00883392,  6.02473498,  6.04063604,  6.0565371 ,  6.07243816,
        6.08833922,  6.10424028,  6.12014134,  6.1360424 ,  6.15194346,
        6.16784452,  6.18374558,  6.19964664,  6.2155477 ,  6.23144876,
        6.24734982,  6.26325088,  6.27915194,  6.295053  ,  6.31095406,
        6.32685512,  6.34275618,  6.35865724,  6.3745583 ,  6.39045936,
        6.40636042,  6.42226148,  6.43816254,  6.4540636 ,  6.46996466,
        6.48586572,  6.50176678,  6.51766784,  6.5335689 ,  6.54946996,
        6.56537102,  6.58127208,  6.59717314,  6.6130742 ,  6.62897527,
        6.64487633,  6.66077739,  6.67667845,  6.69257951,  6.70848057,
        6.72438163,  6.74028269,  6.75618375,  6.77208481,  6.78798587,
        6.80388693,  6.81978799,  6.83568905,  6.85159011,  6.86749117,
        6.88339223,  6.89929329,  6.91519435,  6.93109541,  6.94699647,
        6.96289753,  6.97879859,  6.99469965,  7.01060071,  7.02650177,
        7.04240283,  7.05830389,  7.07420495,  7.09010601,  7.10600707,
        7.12190813,  7.13780919,  7.15371025,  7.16961131,  7.18551237,
        7.20141343,  7.21731449,  7.23321555,  7.24911661,  7.26501767,
        7.28091873,  7.29681979,  7.31272085,  7.32862191,  7.34452297,
        7.36042403,  7.37632509,  7.39222615,  7.40812721,  7.42402827,
        7.43992933,  7.45583039,  7.47173145,  7.48763251,  7.50353357,
        7.51943463,  7.53533569,  7.55123675,  7.56713781,  7.58303887,
        7.59893993,  7.61484099,  7.63074205,  7.64664311,  7.66254417,
        7.67844523,  7.69434629,  7.71024735,  7.72614841,  7.74204947,
        7.75795053,  7.77385159,  7.78975265,  7.80565371,  7.82155477,
        7.83745583,  7.85335689,  7.86925795,  7.88515901,  7.90106007,
        7.91696113,  7.93286219,  7.94876325,  7.96466431,  7.98056537,
        7.99646643,  8.01236749,  8.02826855,  8.04416961,  8.06007067,
        8.07597173,  8.09187279,  8.10777385,  8.12367491,  8.13957597,
        8.15547703,  8.17137809,  8.18727915,  8.20318021,  8.21908127,
        8.23498233,  8.25088339,  8.26678445,  8.28268551,  8.29858657,
        8.31448763,  8.33038869,  8.34628975,  8.36219081,  8.37809187,
        8.39399293,  8.40989399,  8.42579505,  8.44169611,  8.45759717,
        8.47349823,  8.48939929,  8.50530035,  8.52120141,  8.53710247,
        8.55300353,  8.56890459,  8.58480565,  8.60070671,  8.61660777,
        8.63250883,  8.64840989,  8.66431095,  8.68021201,  8.69611307,
        8.71201413,  8.72791519,  8.74381625,  8.75971731,  8.77561837,
        8.79151943,  8.80742049,  8.82332155,  8.83922261,  8.85512367,
        8.87102473,  8.8869258 ,  8.90282686,  8.91872792,  8.93462898,
        8.95053004,  8.9664311 ,  8.98233216,  8.99823322,  9.01413428,
        9.03003534,  9.0459364 ,  9.06183746,  9.07773852,  9.09363958,
        9.10954064,  9.1254417 ,  9.14134276,  9.15724382,  9.17314488,
        9.18904594,  9.204947  ,  9.22084806,  9.23674912,  9.25265018,
        9.26855124,  9.2844523 ,  9.30035336,  9.31625442,  9.33215548,
        9.34805654,  9.3639576 ,  9.37985866,  9.39575972,  9.41166078,
        9.42756184,  9.4434629 ,  9.45936396,  9.47526502,  9.49116608,
        9.50706714,  9.5229682 ,  9.53886926,  9.55477032,  9.57067138,
        9.58657244,  9.6024735 ,  9.61837456,  9.63427562,  9.65017668,
        9.66607774,  9.6819788 ,  9.69787986,  9.71378092,  9.72968198,
        9.74558304,  9.7614841 ,  9.77738516,  9.79328622,  9.80918728,
        9.82508834,  9.8409894 ,  9.85689046,  9.87279152,  9.88869258,
        9.90459364,  9.9204947 ,  9.93639576,  9.95229682,  9.96819788,
        9.98409894, 10.        ])

# 정렬과 순위 (sort, argsort)
* np.sort()는 실제로 정렬된 값을 리턴
* np.argsort()는 정렬했을 때의 인덱스 순서를 리턴 (작은수 -> 큰수)
  * 누가 1등인지, 어떤 순서인지 알려줌 
  * 추천시스템, 유사도 비교시 많이 사용됨

In [100]:
f = np.array([5, 7, 11, 1, 3, 2, 54, 0, 0.5, 68])
f

array([ 5. ,  7. , 11. ,  1. ,  3. ,  2. , 54. ,  0. ,  0.5, 68. ])

In [103]:
# 파이썬의 정렬함수를 사용해도 되지만 결과가 list로 나옴
print(sorted(f), type(sorted(f)))

[np.float64(0.0), np.float64(0.5), np.float64(1.0), np.float64(2.0), np.float64(3.0), np.float64(5.0), np.float64(7.0), np.float64(11.0), np.float64(54.0), np.float64(68.0)] <class 'list'>

* np.sort()

In [105]:
arr = np.array([
    [[5,2,8],
    [1,6,7]],
    [[4,9,3],
    [0,2,1]]
])
print(arr, arr.shape)

[[[5 2 8]
  [1 6 7]]

 [[4 9 3]
  [0 2 1]]] (2, 2, 3)

In [106]:
# np.sort의 기본 정렬: 가장 안쪽 차원 1차원 배열을 정렬
# axis = -1 (기본값)
print(arr)
np.sort(arr)

[[[5 2 8]
  [1 6 7]]

 [[4 9 3]
  [0 2 1]]]

array([[[2, 5, 8],
        [1, 6, 7]],

       [[3, 4, 9],
        [0, 1, 2]]])

In [107]:
# axis=1 2차원 배열에서 각 열을 정렬
print(arr)
np.sort(arr, axis=1)

[[[5 2 8]
  [1 6 7]]

 [[4 9 3]
  [0 2 1]]]

array([[[1, 2, 7],
        [5, 6, 8]],

       [[0, 2, 1],
        [4, 9, 3]]])

In [108]:
# axis = 0 2차원 배열에서 같은 행의 요소끼리 정렬
print(arr)
np.sort(arr, axis=0)

[[[5 2 8]
  [1 6 7]]

 [[4 9 3]
  [0 2 1]]]

array([[[4, 2, 3],
        [0, 2, 1]],

       [[5, 9, 8],
        [1, 6, 7]]])

# argsort()
* 자료중 값을 작은 것에서 큰 순으로 **원래 인덱스** 출력

In [116]:
g = np.array([5, 0.5, -7, 42, 10, 0])
print(g)

[ 5.   0.5 -7.  42.  10.   0. ]

In [117]:
s = g.argsort()
print(s)  # [2, 5, 1, 0, 4, 3]
# [-7, 0, 0.5, 5, 10, 42]

[2 5 1 0 4 3]

In [121]:
g[[2, 5, 1, 0, 4, 3]]

array([-7. ,  0. ,  0.5,  5. , 10. , 42. ])

In [127]:
g[[2, 5, 1, 4, 3]][::-1]

array([42. , 10. ,  0.5,  0. , -7. ])

# 최대값, 최솟값 위치 찾기 (argmax / argmin)

In [128]:
price = np.array([101, 105, 103, 120, 119])
price

array([101, 105, 103, 120, 119])

In [130]:
max_position = np.argmax(price)
print("최고가 index: ", max_position, "값: ", price[max_position])

최고가 index:  3 값:  120

In [131]:
min_position = np.argmin(price)
print("최저가 index: ", min_position, "값: ", price[min_position])

최저가 index:  0 값:  101

# np.where(조건, 참, 거짓) 3항 연산

In [132]:
nums = np.arange(1, 11)
nums

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [135]:
result = []
for num in nums:
    if num % 2 == 0:
        result.append("짝수")
    else:
        result.append("홀수")
result

['홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수']

In [136]:
result2 = ["짝수" if num % 2 == 0 else "홀수" for num in nums]
result2

['홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수']

In [137]:
result3 = np.where(nums % 2 == 0, "짝수", "홀수")
result3

array(['홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수'],
      dtype='<U2')

# 배열 합치기 np.concatenate()

In [138]:
a = np.array([[1,2], [3,4]])
b = np.array([[5,6], [7,8]])
print(a, a.ndim, a.shape)
print(b, b.ndim, b.shape)

[[1 2]
 [3 4]] 2 (2, 2)
[[5 6]
 [7 8]] 2 (2, 2)

* np.concatenate((a, b), axis=0/1) 기본값은 axis=0
* axis=0 아래로 합쳐짐, 행이 늘어남
* axis=1 옆으로 합쳐짐, 열이 늘어남

In [139]:
# axis=0 아래로 늘어나면서 합쳐짐
np.concatenate((a,b))

array([[1, 2],
       [3, 4],
       [5, 6],
       [7, 8]])

In [140]:
# axis=1 옆으로 늘어나면서 합쳐짐
np.concatenate((a,b), axis=1)

array([[1, 2, 5, 6],
       [3, 4, 7, 8]])

# 합치는 방향의 모양이 일치하지 않으면 합치기 X

In [141]:
c = np.array([5,6])
c

array([5, 6])

In [143]:
print(c, c.ndim, c.shape)

[5 6] 1 (2,)

In [144]:
np.concatenate((a,c))

ValueError: all the input arrays must have same number of dimensions, but the array at index 0 has 2 dimension(s) and the array at index 1 has 1 dimension(s)

In [145]:
np.concatenate((a,[c]))

array([[1, 2],
       [3, 4],
       [5, 6]])

In [153]:
np.concatenate((a,[c]), axis=1)

ValueError: all the input array dimensions except for the concatenation axis must match exactly, but along dimension 0, the array at index 0 has size 2 and the array at index 1 has size 1

In [152]:
d = np.array([7,8,9], axis=1)
print(d, d.ndim, d.shape)

TypeError: array() got an unexpected keyword argument 'axis'

In [149]:
print(a, a.ndim, a.shape)

[[1 2]
 [3 4]] 2 (2, 2)

In [151]:
np.concatenate((a, [d]))

ValueError: all the input array dimensions except for the concatenation axis must match exactly, but along dimension 1, the array at index 0 has size 2 and the array at index 1 has size 3

* 전치행렬
* 행과 열이 뒤바뀐 행렬
* transpose, T

In [156]:
c2 = np.array([[5,6]])
print(c2, c2.ndim, c2.shape)

[[5 6]] 2 (1, 2)

In [157]:
np.concatenate((a, c2))

array([[1, 2],
       [3, 4],
       [5, 6]])

In [159]:
print(a.shape, c2.shape)

(2, 2) (1, 2)

In [158]:
np.concatenate((a, c2), axis=1)

ValueError: all the input array dimensions except for the concatenation axis must match exactly, but along dimension 0, the array at index 0 has size 2 and the array at index 1 has size 1

In [161]:
print(c2.T, c2.T.ndim, c2.T.shape)

[[5]
 [6]] 2 (2, 1)

In [163]:
print(a.shape, c2.T.shape)

(2, 2) (2, 1)

In [164]:
np.concatenate((a, c2.T), axis=1)

array([[1, 2, 5],
       [3, 4, 6]])

In [165]:
c2.transpose()

array([[5],
       [6]])

In [166]:
c2

array([[5, 6]])

# 브로드 캐스팅
* 벡터와 스칼라, 혹은 매트릭스(2D)와 벡터를 연산할 때 자동으로 행렬 크기를 맞춰주는것

In [167]:
a = np.arange(1, 16).reshape(3, 5)
a

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15]])

In [168]:
a + 10

array([[11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

In [169]:
b = np.array([10, 20, 30, 40, 50])
print(b, b.ndim, b.shape)

[10 20 30 40 50] 1 (5,)

In [172]:
c = np.array([10, 20, 30, 40])
print(c, c.ndim, c.shape)

[10 20 30 40] 1 (4,)

In [171]:
a

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15]])

In [170]:
a + b

array([[11, 22, 33, 44, 55],
       [16, 27, 38, 49, 60],
       [21, 32, 43, 54, 65]])

In [173]:
a+ c

ValueError: operands could not be broadcast together with shapes (3,5) (4,)

In [178]:
x = np.array([1,2,3])
y = np.array([10,20,30])

In [179]:
x + y

array([11, 22, 33])

# 축(axis) 기반 집계 연산 np.sum()
* axis=0 세로(열) 단위 연산
* axis=1 가로(행) 단위 연산

In [180]:
mat = np.array([[1,2,3], [4,5,6]])
print(mat, mat.ndim, mat.shape)

[[1 2 3]
 [4 5 6]] 2 (2, 3)

In [185]:
print("전체 요소의 합: ", np.sum(mat))
print("열별 합(axis=0): ", np.sum(mat, axis=0))
print("행별 합(axis=1): ", np.sum(mat, axis=1))

전체 요소의 합:  21
열별 합(axis=0):  [5 7 9]
행별 합(axis=1):  [ 6 15]

# np.mean() 평균

In [186]:
print("전체 요소의 평균: ", np.mean(mat))
print("열별 평균(axis=0): ", np.mean(mat, axis=0))
print("행별 평균(axis=1): ", np.mean(mat, axis=1))

전체 요소의 평균:  3.5
열별 평균(axis=0):  [2.5 3.5 4.5]
행별 평균(axis=1):  [2. 5.]

# 누적합/ 누적곱 (cumsum/cumprod)
* comsum: 앞에서부터 계속 더한 결과(현금 잔고 추이 등)
* comprod: 앞에서부터 계속 곱한 결과(누적 성장률)

In [188]:
cashflow = np.array([100, -20, 50, -10])
print("현금흐름: ", cashflow)
print("누적잔고: ", np.cumsum(cashflow))

현금흐름:  [100 -20  50 -10]
누적잔고:  [100  80 130 120]

In [189]:
# 매년 매출 성장 비율
rates = np.array([10.5, 13, 0.5, 1.3])
print("연별 성장률: ", rates)
print("누적 성장률: ", np.cumprod(rates))

연별 성장률:  [10.5 13.   0.5  1.3]
누적 성장률:  [ 10.5   136.5    68.25   88.725]

# 분산(var), 표준편차(std)

In [190]:
classA = np.array([70, 72, 68, 69, 71])
classB = np.array([50, 90, 30, 100, 10])

In [191]:
print("A반 평균: ", np.mean(classA))
print("B반 평균: ", np.mean(classB))

A반 평균:  70.0
B반 평균:  56.0

In [192]:
print("A반 표준편차: ", np.std(classA))
print("B반 표준편차: ", np.std(classB))

A반 표준편차:  1.4142135623730951
B반 표준편차:  34.40930106817051

In [193]:
print("A반 분산: ", np.var(classA))
print("B반 분산: ", np.var(classB))

A반 분산:  2.0
B반 분산:  1184.0

# 고유값과 등장 빈도(unique)

In [196]:
brands = np.array(['AAPL', "TSLA", "AAPL", "NVDA", "TSLA", "GOOGL"])

In [197]:
np.unique(brands)

array(['AAPL', 'GOOGL', 'NVDA', 'TSLA'], dtype='<U5')

In [198]:
uniq, cnt = np.unique(brands, return_counts=True)
print("고유 브랜드: ", uniq)
print("각 브랜드 등장 횟수: ", cnt)

고유 브랜드:  ['AAPL' 'GOOGL' 'NVDA' 'TSLA']
각 브랜드 등장 횟수:  [2 1 1 2]