# 서식지정자, format 메서드, f-string
* 문자열로만 입력해야 하는 상황에서 같은 위치에 문자를 여러번 바꿔야 할 때 사용
* 문자의 자릿수 맞춤, 위치 정렬에 사용

## 1. 서식지정자 %d, %s, %f

### 1) 문자를 입력할 때 %s (string)

In [1]:
print("이 수업의 이름은 %s 입니다."%"국어")

이 수업의 이름은 국어 입니다.

In [4]:
for name in ['국어','수학','사회','영어']:
    print("이 수업의 이름은 %s 입니다."% name)

이 수업의 이름은 국어 입니다.
이 수업의 이름은 수학 입니다.
이 수업의 이름은 사회 입니다.
이 수업의 이름은 영어 입니다.

### 2) 정수를 입력할 때 %d

In [7]:
print("올해는 %d년 입니다." % 2026)

올해는 2026년 입니다.

In [8]:
print("올해는 %d년 입니다." % 2026.55) # 정수만 올 수 있다.

올해는 2026년 입니다.

### 3) 실수를 입력할 때 %f 기본 소숫점 6자리로 표시

In [9]:
print("사람의 정상 체온은 약 %f도 입니다." % 36.5)

사람의 정상 체온은 약 36.500000도 입니다.

* 실수를 입력할 때 소숫점 자리 수를 정하고 싶을 때 %자릿수f

In [10]:
print("사람의 정상 체온은 약 %.1f도 입니다." % 36.5)

사람의 정상 체온은 약 36.5도 입니다.

In [11]:
print("사람의 정상 체온은 약 %.2f도 입니다." % 36.5)

사람의 정상 체온은 약 36.50도 입니다.

### 4) 서식지정자로 문자열 길이, 정렬 % 길이s

In [12]:
print("%3s" % "01")

 01

In [13]:
"%3s" % "01"

' 01'

In [14]:
"%5s" % "01"

'   01'

In [16]:
print(150000) # print는 기본적으로 왼쪽 정렬
print(15000)

150000
15000

In [18]:
print("가격은 %10d 입니다." % 150000)
print("가격은 %10d 입니다." % 15000)

가격은     150000 입니다.
가격은      15000 입니다.

### 5) 여러 항목 동시에 놓기

In [19]:
print("오늘은 %4d년 %2d월 %2d일 입니다." % (2026, 1, 8))

오늘은 2026년  1월  8일 입니다.

In [20]:
print("오늘은 %4d년 %02d월 %02d일 입니다." % (2026, 1, 8))

오늘은 2026년 01월 08일 입니다.

In [22]:
company = ['삼성전자', 'LG전자', '현대차', '대한항공','하나투어']
stock = [122000, 150000, 32000, 24000, 86600]

In [23]:
for com, st in zip(company, stock):
    print("%s의 주가는 %d 입니다." % (com, st))

삼성전자의 주가는 122000 입니다.
LG전자의 주가는 150000 입니다.
현대차의 주가는 32000 입니다.
대한항공의 주가는 24000 입니다.
하나투어의 주가는 86600 입니다.

## 2. format 메서드 사용하기
* "문자열 {인덱스번호} 문자열 끝".format(값)

In [24]:
print("{}의 주가는 {}입니다.".format('삼성전자',140000))

삼성전자의 주가는 140000입니다.

In [25]:
print("{}의 주가는 {}입니다.".format('삼성전자'))

IndexError: Replacement index 1 out of range for positional args tuple

In [26]:
print("{0}의 주가는 {0}입니다.".format('삼성전자'))

삼성전자의 주가는 삼성전자입니다.

In [27]:
print("{0}의 주가는 {1}입니다.".format('삼성전자',140000))

삼성전자의 주가는 140000입니다.

In [29]:
print("""{0}의 주가는 {1}원 입니다.
{0}의 상한가는 {2}입니다.
{0}의 하한가는 {3}입니다.""".format('삼성전자', 140000, 143000,139000))

삼성전자의 주가는 140000원 입니다.
삼성전자의 상한가는 143000입니다.
삼성전자의 하한가는 139000입니다.

In [30]:
for com, st in zip(company, stock):
    print("{}의 주가는 {}입니다.".format(com,st))

삼성전자의 주가는 122000입니다.
LG전자의 주가는 150000입니다.
현대차의 주가는 32000입니다.
대한항공의 주가는 24000입니다.
하나투어의 주가는 86600입니다.

## f-string으로 값 넣기

In [32]:
print(company)
print(stock)

['삼성전자', 'LG전자', '현대차', '대한항공', '하나투어']
[122000, 150000, 32000, 24000, 86600]

In [33]:
print(f"{company[0]}의 주가는 {stock[0]}입니다.")

삼성전자의 주가는 122000입니다.

In [34]:
for com, st in zip(company, stock): # 대부분 이 형식을 많이 사용한다.
    print(f"{com}의 주가는 {st}입니다.")

삼성전자의 주가는 122000입니다.
LG전자의 주가는 150000입니다.
현대차의 주가는 32000입니다.
대한항공의 주가는 24000입니다.
하나투어의 주가는 86600입니다.

# 3. f-string으로 문자열 정렬, 자릿수 지정해 출력하기

In [36]:
year = 2026
month = 1
day = 8
print(f"오늘은 {year}년 {month}월 {day}일 입니다.")

오늘은 2026년 1월 8일 입니다.

In [37]:
year = 2026
month = 1
day = 8
print(f"오늘은 {year}년 {month:02d}월 {day:02d}일 입니다.")

오늘은 2026년 01월 08일 입니다.

In [39]:
url = "https://finance.naver.com/sise/sise_trans_style.naver?sosok="

In [41]:
for i in range(1,11):
    print(f"{url}{i}")

https://finance.naver.com/sise/sise_trans_style.naver?sosok=1
https://finance.naver.com/sise/sise_trans_style.naver?sosok=2
https://finance.naver.com/sise/sise_trans_style.naver?sosok=3
https://finance.naver.com/sise/sise_trans_style.naver?sosok=4
https://finance.naver.com/sise/sise_trans_style.naver?sosok=5
https://finance.naver.com/sise/sise_trans_style.naver?sosok=6
https://finance.naver.com/sise/sise_trans_style.naver?sosok=7
https://finance.naver.com/sise/sise_trans_style.naver?sosok=8
https://finance.naver.com/sise/sise_trans_style.naver?sosok=9
https://finance.naver.com/sise/sise_trans_style.naver?sosok=10

In [42]:
for i in range(1,11):
    print(f"{url}{i:03d}")

https://finance.naver.com/sise/sise_trans_style.naver?sosok=001
https://finance.naver.com/sise/sise_trans_style.naver?sosok=002
https://finance.naver.com/sise/sise_trans_style.naver?sosok=003
https://finance.naver.com/sise/sise_trans_style.naver?sosok=004
https://finance.naver.com/sise/sise_trans_style.naver?sosok=005
https://finance.naver.com/sise/sise_trans_style.naver?sosok=006
https://finance.naver.com/sise/sise_trans_style.naver?sosok=007
https://finance.naver.com/sise/sise_trans_style.naver?sosok=008
https://finance.naver.com/sise/sise_trans_style.naver?sosok=009
https://finance.naver.com/sise/sise_trans_style.naver?sosok=010